%tr.row-item.connection
  %td.affiliate.draggable
    = f.label :connected_affiliate_id, "Site #{index}", :class => 'hide'
    = f.select :connected_affiliate_id, available_affiliates, :include_blank => 'Select a site'
    = f.text_field :position, { :class => 'position hide' }
  %td.name
    = f.label :label, "Connection label #{index}", :class => 'hide'
    = f.text_field :label, :maxlength => 50
  %td.remove
    = f.label :_destroy, "Mark connection for deletion #{index}", :class => 'hide'
    = f.text_field :_destroy, { :value => '0', :class => 'destroy-connection hide' }
    = link_to('-', "#", :class => 'remove-connection remove-icon')
