%h2.sub-title
  Content Sources
%p
  All fields are optional.  Fill out what you know now, or complete the information later.
= form_for @affiliate, :url => create_content_sources_affiliate_path(@affiliate) do |f|
  = f.error_messages(:header_message => nil, :class => "error")
  .site-domains
    %h2.sub-title
      Domains
    = f.fields_for :site_domains, @affiliate.site_domains.build do |site_domain_form|
      .domain
        = site_domain_form.label :domain, 'Enter the domain or URL'
        %br
        = site_domain_form.text_field :domain, :class => 'txt'
        = link_to('+', new_site_domain_fields_affiliates_path, :remote => true, :id => 'add_domain', :class => 'add-icon')
  .sitemaps
    %h2.sub-title
      Sitemaps
    = f.fields_for :sitemaps, @affiliate.sitemaps.build do |sitemap_form|
      .url
        = sitemap_form.label :url, "Sitemap URL"
        %br
        = sitemap_form.text_field :url, :class => 'txt'
        = link_to('+', new_sitemap_fields_affiliates_path, :remote => true, :id => 'add_sitemap', :class => 'add-icon')
  .rss-feeds
    %h2.sub-title
      RSS Feeds
    = f.fields_for :rss_feeds, @affiliate.rss_feeds.build do |rss_feed_form|
      %table
        %colgroup
          %col{ :class => 'name' }
          %col{ :class => 'url' }
        %tbody
          %tr
            %th Feed Name
            %th.url
              = link_to('+', new_rss_feed_fields_affiliates_path, :remote => true, :id => 'add_rss_feed', :class => 'add-icon')
              Feed URL
          %tr
            %td
              = rss_feed_form.label :name, 'RSS Feed Name', :class => 'hide'
              = rss_feed_form.text_field :name
            %td
              = rss_feed_form.label :url, 'RSS Feed URL', :class => 'hide'
              = rss_feed_form.text_field :url
  = f.submit "Next", :class => 'form-submit-button next-button'