%ul
  %li
    = edit_contact_information_form.label :contact_name, 'Name*'
    = edit_contact_information_form.text_field :contact_name, :class => 'txt'
  %li
    = edit_contact_information_form.label :organization_name, 'Government organization*'
    = edit_contact_information_form.text_field :organization_name, :class => 'txt'
  %li
    = edit_contact_information_form.label :email, 'Email*'
    = edit_contact_information_form.text_field :email, :class => 'txt'
  %li
    = edit_contact_information_form.label :phone, 'Phone*'
    = edit_contact_information_form.text_field :phone, :class => 'txt'
  %li
    = edit_contact_information_form.label :address, 'Organization address*'
    = edit_contact_information_form.text_field :address, :class => 'txt'
  %li
    = edit_contact_information_form.label :address2, 'Address 2'
    = edit_contact_information_form.text_field :address2, :class => 'txt'
  %li
    = edit_contact_information_form.label :city, 'City*'
    = edit_contact_information_form.text_field :city, :class => 'txt'
  %li
    = edit_contact_information_form.label :state, 'State*'
    = us_state_select 'user', 'state'
  %li
    = edit_contact_information_form.label :zip, 'Zip*'
    = edit_contact_information_form.text_field :zip, :class => 'txt'
  %li
    %span.required-note * Required
