%textarea{ :readonly => true, :id => "embed_code_textarea_#{locale}" }
  :escaped
    <html>
      <head>
        #{javascript_tag %{var usagov_sayt_url = "#{sayt_url(:aid => @affiliate.id, :protocol => 'http')}&";}}
        #{javascript_include_tag_with_full_path 'jquery/jquery.min.js', 'jquery/jquery.bgiframe.min.js', 'jquery/jquery.autocomplete.min.js', 'sayt.js'}
        #{stylesheet_link_tag_with_full_path 'compiled/sayt.css'}
      </head>
      <body>
        #{form_tag search_url, :method => :get}
          #{hidden_field_tag :affiliate, @affiliate.name}
          #{hidden_field_tag :locale, locale}
          #{label_tag :query, "Enter Search Term(s):"}
          #{text_field_tag :query, nil, :autocomplete => 'off', :class => 'usagov-search-autocomplete'}
          #{submit_tag 'Search'}
        </form>
      </body>
    </html>
