= fields_for "affiliate[facebook_profiles_attributes][#{Time.now.to_i}]", FacebookProfile.new do |facebook_profile_form|
  = facebook_profile_form.label :username, "Facebook Username"
  %br
  = facebook_profile_form.text_field :username, :maxlength => 255, :size => nil, :class => 'txt'
%br
= submit_tag "Save", :id => "save"