%ul
  %li
    = header_footer_form.label :staged_header_footer_css, "Enter CSS to customize the top and bottom of your search results page."
    = header_footer_form.text_area :staged_header_footer_css
  - if @affiliate.external_css_url.present? or (@affiliate.has_staged_content? and @affiliate.staged_external_css_url.present?)
    %li
      = header_footer_form.label :staged_external_css_url, "External CSS URL"
      = header_footer_form.text_field :staged_external_css_url, :class => "txt", :maxlength => 255
  %li
    = header_footer_form.label :staged_header, "Enter HTML to customize the top of your search results page."
    = header_footer_form.text_area :staged_header
  %li
    = header_footer_form.label :staged_footer, "Enter HTML to customize the bottom of your search results page."
    = header_footer_form.text_area :staged_footer
