%h2 Choose how to customize your header and footer
%ul
  %li
    = header_footer_form.radio_button :staged_uses_managed_header_footer, '1', :checked => @affiliate.staged_uses_managed_header_footer?, :class => 'managed-header-footer-option'
    = header_footer_form.label "staged_uses_managed_header_footer_1", "Option 1. Use a managed header/footer", :class => 'radio-label'
  %li
    = header_footer_form.radio_button :staged_uses_managed_header_footer, '0', :checked => !@affiliate.staged_uses_managed_header_footer?, :class => 'custom-header-footer-option'
    = header_footer_form.label "staged_uses_managed_header_footer_0", "Option 2. Use CSS/HTML code to create a custom header/footer", :class => 'radio-label'
%h2 Customize your header and footer
= render :partial => 'managed_header_footer_form', :object => header_footer_form
= render :partial => 'custom_header_footer_form', :object => header_footer_form

