%ul
  %li
    = look_and_feel_form.label :staged_search_results_page_title, "Search results page title"
    = look_and_feel_form.text_field :staged_search_results_page_title, :class => "txt"
  %li
    = look_and_feel_form.label :template
    .affiliate-template-wrapper
      = render_choose_site_templates @affiliate
  %li
    = look_and_feel_form.label :staged_header, "Enter HTML to customize the top of your search results page."
    = look_and_feel_form.text_area :staged_header
  %li
    = look_and_feel_form.label :staged_footer, "Enter HTML to customize the bottom of your search results page."
    = look_and_feel_form.text_area :staged_footer
