%ul
  %li
    = look_and_feel_form.label :staged_search_results_page_title, "Search results page title"
    = look_and_feel_form.text_field :staged_search_results_page_title, :class => "txt"
  - unless @affiliate.uses_one_serp?
    %li
      = look_and_feel_form.label :template
      .affiliate-template-wrapper
        = (render_choose_site_templates @affiliate).html_safe
  %li
    = look_and_feel_form.label :staged_favicon_url, "Favicon URL"
    = look_and_feel_form.text_field :staged_favicon_url, :class => "txt", :maxlength => 255

  - if @affiliate.uses_one_serp?
    %li.css-overrides
      %div
        = label_tag 'affiliate[staged_css_property_hash][font_family]', 'Font family'
        = select_tag 'affiliate[staged_css_property_hash][font_family]', options_for_select(Affiliate::FONT_FAMILIES, render_affiliate_css_property_value(@affiliate.staged_css_property_hash, :font_family))
    %li.use-colors-from-theme
      %span Use colors from a theme
      = render_site_themes @affiliate
    %li.css-overrides
      %div
        = label_tag 'affiliate[staged_css_property_hash][left_tab_text_color]', 'Left tab text color'
        = render_staged_color_text_field_tag @affiliate, :left_tab_text_color
    %li.css-overrides
      %div
        = label_tag 'affiliate[staged_css_property_hash][title_link_color]', 'Title link color'
        = render_staged_color_text_field_tag @affiliate, :title_link_color
      %div
        = label_tag 'affiliate[staged_css_property_hash][visited_title_link_color]', 'Visited title link color'
        = render_staged_color_text_field_tag @affiliate, :visited_title_link_color
    %li.css-overrides
      %div
        = label_tag 'affiliate[staged_css_property_hash][description_text_color]', 'Description text color'
        = render_staged_color_text_field_tag @affiliate, :description_text_color
    %li.css-overrides
      %div
        = label_tag 'affiliate[staged_css_property_hash][url_link_color]', 'URL link color'
        = render_staged_color_text_field_tag @affiliate, :url_link_color
    %li
      %div
        %h2 Custom color tips
        %p
          To customize a predefined theme, click on one of the 'Customize' buttons.
        %p
          Customize color by clicking on the color picker text field and drag the crosshair icon
          = image_tag '/javascripts/jscolor/cross.gif', :alt => 'crosshair icon'
          inside the color picker window.
          %br/
          Drag the triangle icon
          = image_tag '/javascripts/jscolor/arrow.gif', :alt => 'arrow icon'
          to control the color saturation.
          When you are done, click anywhere outside the color picker window.
  %li
    = look_and_feel_form.label :staged_external_css_url, "External CSS URL"
    = look_and_feel_form.text_field :staged_external_css_url, :class => "txt", :maxlength => 255
  %li
    = look_and_feel_form.label :staged_header, "Enter HTML to customize the top of your search results page."
    = look_and_feel_form.text_area :staged_header
  %li
    = look_and_feel_form.label :staged_footer, "Enter HTML to customize the bottom of your search results page."
    = look_and_feel_form.text_area :staged_footer
