%ul{ :class => "header-footer-fields managed" }
  %li
    %div
      = managed_header_footer_form.label :staged_header_image, "Header image"
      .header-image
        - if managed_header_footer_form.object.staged_header_image.present?
          = image_tag(managed_header_footer_form.object.staged_header_image.url(:large))
          = managed_header_footer_form.check_box :mark_staged_header_image_for_deletion, { :class => 'checkbox mark-image-for-deletion' }
          = managed_header_footer_form.label :mark_staged_header_image_for_deletion, 'Mark header image for deletion'
      .header-image-file-field-wrapper
        = managed_header_footer_form.file_field :staged_header_image, { :class => 'file' }
      %span GIF, JPG or PNG with maximum size of #{Affiliate::MAXIMUM_IMAGE_SIZE_IN_KB} KB
  %li
    %h3 Header Links
    .header-links
      %table
        %colgroup
          %col{ :class => 'title' }
          %col{ :class => 'url' }
        %tbody
          %tr.column-header.nodrag
            %th Title
            %th URL
          - managed_header_footer_form.object.staged_managed_header_links.each_with_index do |link, index|
            = render :partial => 'managed_header_link_fields', :locals => { :link => link, :index => index }
      = link_to 'Add header link', new_managed_header_link_fields_affiliates_path, :remote => true, :id => 'add_header_link'
  %li
    %h3 Footer Links
    .footer-links
      %table
        %colgroup
          %col{ :class => 'title' }
          %col{ :class => 'url' }
        %tbody
          %tr.column-header.nodrag
            %th Title
            %th URL
          - managed_header_footer_form.object.staged_managed_footer_links.each_with_index do |link, index|
            = render :partial => 'managed_footer_link_fields', :locals => { :link => link, :index => index }
      = link_to 'Add footer link', new_managed_footer_link_fields_affiliates_path, :remote => true, :id => 'add_footer_link'
