%tr.row-item
  %td.title
    = hidden_field_tag "affiliate[staged_managed_header_links_attributes][#{index}][position]", index, { :class => 'position' }
    = label_tag "affiliate[staged_managed_header_links_attributes][#{index}][title]", "Header Link Title #{index}", { :class => 'hide' }
    = text_field_tag "affiliate[staged_managed_header_links_attributes][#{index}][title]", link[:title], { :class => 'title', :maxlength => 32, :size => nil }
  %td.url
    = label_tag "affiliate[staged_managed_header_links_attributes][#{index}][url]", "Header Link URL #{index}", { :class => 'hide' }
    = text_field_tag "affiliate[staged_managed_header_links_attributes][#{index}][url]", link[:url], { :class => 'url', :maxlength => 128, :size => nil }
