= new_site_information_form.hidden_field :affiliate_template_id
%dl
  %dt= new_site_information_form.label :display_name, "Site name"
  %dd= new_site_information_form.text_field :display_name, :class => "text"
  %dt
    = new_site_information_form.label :staged_domains, "Domains to search"
    %br
    %span.sublabel
      List one domain per line.
  %dd
    = new_site_information_form.text_area :staged_domains, :class => "text"
    %br
    = link_to "+ Formatting Tips", "#formatting_tips_link", :id => "formatting_tips_link"
    %div#formatting_tips
      %p
        You do not need to include http:// as we recognize URLs with or without it.
      %p
        Entire domain: List yoursite.gov (without www) to search your entire site, including all subdomains.
      %p
        Part of site: List www.yoursite.gov to include only the top-level domain.
        List subagency.yoursite.gov to include lower-level domains
      %p
        Invididual pages: List www.yoursite.gov/yourpage.html include only specific pages.
  %dt= new_site_information_form.label :staged_affiliate_template_id, "Choose template"
  %dd= new_site_information_form.select :staged_affiliate_template_id, affiliate_template_options(@affiliate)
