%tr
  %td
    = f.label :url, 'RSS Feed URL #{index}', :class => 'hide'
    = f.text_field :url, :class => 'txt'
  %td
    = f.label :name, 'RSS Feed Name #{index}', :class => 'hide'
    = f.text_field :name, :class => 'txt'
