.column-2
  .side-note-image= image_tag('side_notes/sidebar_1.png')
.column-1
  .left-nav-label
    %h2 Label
    = sidebar_form.label :left_nav_label, "Sidebar Label", :class => 'hide'
    = sidebar_form.text_field :left_nav_label, :maxlength => 20
  .by-source
    %h2 By format/topic
    .sidebar-items
      %table
        %colgroup
          %col{ :class => 'name' }
          %col{ :class => 'source' }
          %col{ :class => 'actions' }
        %thead
          %tr.nodrag.nodrop
            %th{ :colspan => 3 }
              = link_to "Add new RSS feed", new_affiliate_rss_feed_path(@affiliate), :class => 'add-link'
              = link_to("Add new collection", new_affiliate_document_collection_path(@affiliate), :class => 'add-link last')
        %tbody
          %tr.column-header.nodrag.nodrop
            %th Display name
            %th Source
            %th Show in sidebar
          %tr.row-item.nodrag.nodrop
            %td.name
              = sidebar_form.label :default_search_label, nil, :class => 'hide'
              = sidebar_form.text_field :default_search_label, :maxlength => 20
            %td.source USASearch/Bing
            %td.actions
          - @affiliate.navigations.each_with_index do |navigation, index|
            = sidebar_form.fields_for :"#{render_navigable_field_name_for navigation}", navigation.navigable do |navigable_form|
              = navigable_form.fields_for :navigation do |navigation_form|
                %tr.row-item
                  %td.name.draggable
                    = navigation_form.hidden_field :position, { :value => index, :class => 'position' }
                    = navigable_form.label :name, "#{navigation.navigable_type.titleize} #{index}", :class => 'hide'
                    = navigable_form.text_field :name
                  %td.source= link_to_navigable(navigation.navigable)
                  %td.actions
                    = navigation_form.label :is_active, "Is #{navigation.navigable_type.titleize} #{index} navigable", :class => 'hide'
                    = navigation_form.check_box :is_active

.by-time-period
  %h2 By time period
  .column-2
    .side-note-image= image_tag('side_notes/sidebar_2.png')
  .column-1
    %p By default, searchers may narrow results for all #{link_to 'RSS feeds', affiliate_rss_feeds_path(@affiliate)} by time period.
    = sidebar_form.check_box :is_time_filter_enabled
    = sidebar_form.label :is_time_filter_enabled, 'Show by time period module', :class => 'checkbox-label'

.by-dublin-core
  %h2 By Dublin Core® facets
  .column-2
    .side-note-image= image_tag('side_notes/sidebar_3.png')
  .column-1
    %p
      If you are publishing Dublin Core® metadata for publisher, subject, and contributor in your RSS feeds,
      you can customize the facet labels here.
    %table
      - %w(contributor publisher subject).each do |facet_name|
        = sidebar_form.fields_for :dublin_core_mappings do |dublin_core_form|
          %tr
            %th= dublin_core_form.label facet_name.to_sym, facet_name.titleize
            %td= dublin_core_form.text_field facet_name.to_sym, :maxlength => 30, :value => @affiliate.dublin_core_mappings[facet_name.to_sym]
