.by-source
  %h2 By format/topic
  .sidebar-subsection
    = image_tag('/images/side_notes/sidebar_1.png', :class => 'side-note')
    %p
      Allow searchers to limit results to view images only, based on #{link_to 'Bing web results', affiliate_site_domains_path(@affiliate)}.
    %p
      Allow searchers to limit results to each of your #{link_to 'RSS feeds', affiliate_rss_feeds_path(@affiliate)} or to view results by format or topic(e.g., Blog, FAQs, Photos, Press Releases, Videos, etc).
    %p
      Rearrange the order that your RSS feeds appear on the sidebar by dragging the #{image_tag('/images/vertical_arrow.png', :alt => 'blue arrow', :height => 18)} icon.

  .sidebar-items
    %table
      %colgroup
        %col{ :class => 'name' }
        %col{ :class => 'source' }
        %col{ :class => 'actions' }
      %thead
        %tr
          %th{ :colspan => 3 }
            = link_to "Add new RSS feed", new_affiliate_rss_feed_path(@affiliate), :class => 'add-link'
            = link_to "Add new collection", new_affiliate_document_collection_path(@affiliate), :class => 'add-link last'
      %tbody
        %tr.column-header.nodrag
          %th Display name
          %th Source
          %th Show in sidebar
        %tr.row-item.nodrag
          %td.name
            = sidebar_form.label :default_search_label, nil, :class => 'hide'
            = sidebar_form.text_field :default_search_label
          %td.source= @affiliate.display_results_source
          %td.actions
        %tr.row-item.nodrag
          %td.name
            = sidebar_form.label :image_search_label, nil, :class => 'hide'
            = sidebar_form.text_field :image_search_label
          %td.source Bing
          %td.actions
            = sidebar_form.label :is_image_search_enabled, nil, :class => 'hide'
            = sidebar_form.check_box :is_image_search_enabled
        - @affiliate.rss_feeds.each_with_index do |rss_feed, index|
          = sidebar_form.fields_for :rss_feeds, rss_feed do |rss_feed_form|
            %tr.row-item
              %td.name.draggable
                = rss_feed_form.hidden_field :position, { :value => index, :class => 'position' }
                = rss_feed_form.label :name, "RSS feed #{index}", :class => 'hide'
                = rss_feed_form.text_field :name
              %td.source= link_to 'RSS', affiliate_rss_feed_path(@affiliate, rss_feed)
              %td.actions
                = rss_feed_form.label :is_navigable, "Is RSS feed #{index} navigable", :class => 'hide'
                = rss_feed_form.check_box :is_navigable

.by-time-period
  %h2 By time period
  .sidebar-subsection
    = image_tag('/images/side_notes/sidebar_2.png', :class => 'side-note')
    %p By default, searchers may narow results for all #{link_to 'RSS feeds', affiliate_rss_feeds_path(@affiliate)} by time period.
    = sidebar_form.check_box :is_time_filter_enabled
    = sidebar_form.label :is_time_filter_enabled, 'Show by time period module', :class => 'checkbox-label'

