%ul
  %li
    = site_information_form.label :display_name, "Site name (Required)"
    = site_information_form.text_field :display_name, :class => 'txt'
  - unless @affiliate.new_record?
    %li
      = site_information_form.label :name, "Site Handle (visible to searchers in the URL)"
      = site_information_form.text_field :name, :class => 'txt', :disabled => true
    %li
      = site_information_form.label :id, "Site ID (AID, used in code for features like type-ahead)"
      = site_information_form.text_field :id, :class => 'txt', :disabled => true
  %li
    = site_information_form.label :locale, "Site Language"
    - radio_button_options = @affiliate.new_record? ? {} : { :disabled => true }
    = site_information_form.radio_button :locale, "en", radio_button_options
    = site_information_form.label :locale, 'English', :value => 'en', :style => 'float: none;'
    = site_information_form.radio_button :locale, "es", radio_button_options
    = site_information_form.label :locale, 'Spanish', :value => 'es', :style => 'float: none;'
  - if @affiliate.new_record?
    %li
      = label_tag :site_domains, "Domains to search"
      .site-domains
        - @affiliate.site_domains.each_with_index do |site_domain, index|
          = site_information_form.fields_for :site_domains, site_domain do |site_domain_form|
            = render 'site_domain_fields', :f => site_domain_form, :index => index
      %span.tips
        (for example, yoursite.gov)
      .add-domain-wrapper
        = link_to 'Add domain', new_site_domain_fields_affiliates_path, :remote => true, :id => 'add_domain'
      = render :partial => '/affiliates/site_domains/domain_tips'
    %li
      = site_information_form.label :facebook_handle, "Facebook handle"
      = site_information_form.text_field :facebook_handle, :class => 'txt'
    %li
      = site_information_form.label :flickr_url, "Flickr URL"
      = site_information_form.text_field :flickr_url, :class => 'txt'
    %li
      = site_information_form.label :twitter_handle, "Twitter handle"
      = site_information_form.text_field :twitter_handle, :class => 'txt'
    %li
      = site_information_form.label :youtube_handle, "YouTube handle"
      = site_information_form.text_field :youtube_handle, :class => 'txt'
    %li
      %h2.sub-title Choose a theme
      = render_new_site_themes @affiliate
