%dl
  %dt= site_information_form.label :display_name, "Site name"
  %dd= site_information_form.text_field :display_name, :class => "text"
  - unless @affiliate.new_record?
    %dt= site_information_form.label :name, "HTTP parameter site name"
    %dd= site_information_form.text_field :name, :class => "text"
    %dt= site_information_form.label :website, "Site URL"
    %dd
      = site_information_form.text_field :website, :class => "text"
      %br
      = link_to "+ How Is This Site Information Used", "#how_site_information_used", :id => "how_site_information_used", :class => "sliding_trigger"
      %div#how_site_information_used_content.sliding_content
        %p
          Site name: Used for display to end users, such as in the title of the search results page (for example, the page title Test - National Park Service Search Results).
        %p
          HTTP parameter site name: Used in the HTTP request to specify displaying your customized search results page and settings (for example, the affiliate parameter in the URL http://search.usa.gov/search?query=test&amp;affiliate=nps).
        %p
          Site URL: Used by the USASearch team to better manage your account (for example, it is useful for us to know that your site URL is www.nps.gov).
      %br
  %dt
    = site_information_form.label :staged_domains, "Domains to search"
    %br
    %span.sublabel
      List one domain per line.
  %dd
    = site_information_form.text_area :staged_domains, :class => "text"
    %br
    %span.sublabel
      for example, yoursite.gov
    %br
    = link_to "+ Formatting Tips", "#formatting_tips", :id => "formatting_tips", :class => "sliding_trigger"
    %div#formatting_tips_content.sliding_content
      %p
        You do not need to include http:// as we recognize URLs with or without it.
      %p
        Entire domain: List yoursite.gov (without www) to search your entire site, including all subdomains.
      %p
        Part of site: List www.yoursite.gov to include only the top-level domain.
        List subagency.yoursite.gov to include lower-level domains
      %p
        Invididual pages: List www.yoursite.gov/yourpage.html include only specific pages.
    %br
  - if @affiliate.new_record?
    %dt= site_information_form.label :staged_affiliate_template_id, "Choose template"
    %dd= site_information_form.select :staged_affiliate_template_id, affiliate_template_options(@affiliate)
