%ul
  %li
    = site_information_form.label :display_name, "Site name (Required)"
    = site_information_form.text_field :display_name, :class => 'txt'
  - unless @affiliate.new_record?
    %li
      = site_information_form.label :name, "HTTP parameter site name"
      = site_information_form.text_field :name, :class => 'txt', :disabled => true
  %li
    = site_information_form.label :website, "Site URL"
    = site_information_form.text_field :website, :class => 'txt'
  %li
    = link_to "+ How Is This Site Information Used", "#how_site_information_used", :id => "how_site_information_used", :class => "sliding_trigger"
    %div#how_site_information_used_content.sliding_content
      %p
        Site name: Used for display to end users, such as in the title of the search results page (for example, the page title Test - National Park Service Search Results).
      %p
        HTTP parameter site name: Used in the HTTP request to specify displaying your customized search results page and settings (for example, the affiliate parameter in the URL http://search.usa.gov/search?query=test&amp;affiliate=nps).
      %p
        Site URL: Used by the USASearch team to better manage your account (for example, it is useful for us to know that your site URL is www.nps.gov).
  %li
    = site_information_form.label :staged_domains, "Domains to search"
    %span.sublabel
      List one domain per line.
    = site_information_form.text_area :staged_domains, :class => 'txt'
    %br
    %span.sublabel
      for example, yoursite.gov
    %br
    = link_to "+ Formatting Tips", "#formatting_tips", :id => "formatting_tips", :class => "sliding_trigger"
    %div#formatting_tips_content.sliding_content
      %p
        You do not need to include http:// as we recognize URLs with or without it.
        You also do not need to include subdirectories that are covered by higher level subdirectories. For instance,
        if you have yoursite.gov/pages as a domain, you don't need to also specify yoursite.gov/pages/es and yoursite.gov/pages/en,
        as they are both covered by the less specific entry.
      %p
        Entire domain: List yoursite.gov (without www) to search your entire site, including all subdomains.
      %p
        Part of site: List www.yoursite.gov to include only the top-level domain.
        List subagency.yoursite.gov to include lower-level domains
      %p
        Individual pages: List www.yoursite.gov/yourpage.html to include only specific pages.
      %p
  %li
    = site_information_form.label :facebook_username, "Facebook username"
    = site_information_form.text_field :facebook_username, :class => 'txt'
  %li
    = site_information_form.label :flickr_url, "Flickr URL"
    = site_information_form.text_field :flickr_url, :class => 'txt'
  %li
    = site_information_form.label :twitter_username, "Twitter username"
    = site_information_form.text_field :twitter_username, :class => 'txt'
  %li
    = site_information_form.label :youtube_username, "YouTube username"
    = site_information_form.text_field :youtube_username, :class => 'txt'

    %br
  - if @affiliate.new_record?
    %li
      %h2.sub-title Choose template
      .affiliate-template-wrapper
        = (render_choose_site_templates @affiliate).html_safe
