%tr
  %td.handle
    = label_tag "youtube_handle_#{index}", "YouTube handle #{index}", :class => 'hide'
    = text_field_tag :'affiliate[youtube_handles][]', youtube_handle, :id => "youtube_handle_#{index}", :class => 'text', :maxlength => 127
