.best-bets
  = affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Best Bets"])
  .column-2
    .side-note-image= image_tag "side_notes/best_bets.png"

  .column-1
    %h1 Best Bets
    = render_help_link(@help_link)
    %p
      Want to highlight specific pages or information?
      Create Best Bets, which appear above the standard web results when searchers' queries match text its metadata (e.g., title, description, or keywords).
    %p
      Consider creating best bets in the following circumstances, among others: (1) to respond to an emerging or sudden interest, such as a weather emergency or (2) to showcase select pages, such as in anticipation of events/holidays or following a site redesign.
    There are two types of best bets.
    %ol
      %li
        = link_to "Text", affiliate_boosted_contents_path(@affiliate)
        Have the same visual look as a standard web result
      %li
        = link_to "Graphics", affiliate_featured_collections_path(@affiliate)
        Have one or two-column layouts and the ability to add an image
.boosted-contents.boosted-content-list
  %table
    %colgroup
      %col{ :class => 'title' }
      %col{ :class => 'url' }
      %col{ :class => 'publish-date' }
      %col{ :class => 'status' }
      %col{ :class => 'actions' }
    %thead
      %tr
        %th{ :colspan => 5 }
          = link_to "Bulk upload", bulk_new_affiliate_boosted_contents_path(@affiliate), :class => 'add-link'
          = link_to "Add new text", new_affiliate_boosted_content_path(@affiliate), :class => 'add-link last'
          = link_to "View all", affiliate_boosted_contents_path(@affiliate), :class => 'add-link last'
          %span Most recent Best Bets: Text
    = render 'shared/boosted_contents/affiliate_boosted_content_rows'

.featured-collections.featured-collection-list
  %table
    %colgroup
      %col{ :class => 'title' }
      %col{ :class => 'publish-date' }
      %col{ :class => 'publish-date' }
      %col{ :class => 'status' }
      %col{ :class => 'actions' }
    %thead
      %tr
        %th{ :colspan => 5 }
          = link_to "Add new graphics", new_affiliate_featured_collection_path(@affiliate), :class => 'add-link'
          = link_to "View all", affiliate_featured_collections_path(@affiliate), :class => 'add-link last'
          %span Most recent Best Bests: Graphics
    = render 'shared/featured_collections/affiliate_featured_collection_rows'
