.site-specific
  = affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Social Media"])
  %h1 Social Media
  = render_help_link(@help_link)
  .site-info
    %table
      %thead
        %tr
          %th
            Service
          %th
            Profile
          %th
            Actions
      %tbody
        - @affiliate.facebook_profiles.each do |facebook_profile|
          = render_social_media_table_row(facebook_profile)
        - @affiliate.flickr_profiles.each do |flickr_profile|
          = render_social_media_table_row(flickr_profile)
        - @affiliate.twitter_profiles.each do |twitter_profile|
          = render_social_media_table_row(twitter_profile)
        - @affiliate.youtube_profiles.each do |youtube_profile|
          = render_social_media_table_row(youtube_profile)
    %div
      %h2
        Create New Social Media Profile
      %p
        = link_to image_tag('facebook-64x64.png'), new_social_media_profile_affiliate_path(@affiliate, :profile_type => 'facebook'), :remote => true, :title => 'Add a new Facebook profile.'
        = link_to image_tag('flickr-64x64.png'), new_social_media_profile_affiliate_path(@affiliate, :profile_type => 'flickr'), :remote => true, :title => 'Add a new Flickr profile.'
        = link_to image_tag('twitter-64x64.png'), new_social_media_profile_affiliate_path(@affiliate, :profile_type => 'twitter'), :remote => true, :title => 'Add a new Twitter profile.'
        = link_to image_tag('youtube-64x64.png'), new_social_media_profile_affiliate_path(@affiliate, :profile_type => 'youtube'), :remote => true, :title => 'Add a new Youtube profile.'
      %div#new_social_media_profile_form
        = form_for @affiliate, :url => {:action => :update_social_media}, :html => { :class => 'generic-form social-media-form' } do |f|
          = f.error_messages(:header_message => nil, :class => "error")  
          %div#new_social_media_profile