.site-specific
  = affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Site Information'] )
  %h1 Site Information
  = render_help_link(@help_link)
  .site-info
    = form_for @affiliate, :url => {:action => :update_site_information}, :html => {:class=>"generic-form"} do |f|
      = f.error_messages(:header_message => nil, :class => "error")
      = render :partial => "site_information_form", :object => f
      %ul
        %li
          = f.submit "Save", :id => "save"
          = link_to "Cancel", affiliate_path(@affiliate)
  .emergency-delete{:style => 'padding-top: 30px; clear: both;'}
    = link_to 'Emergency Delete', affiliate_excluded_urls_path(@affiliate)

