= content_for :title, "Header and Footer of the Search Results Page - "
.site-specific
  = affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Header and Footer of the Search Results Page'] )
  %h1 Header and Footer
  = render_help_link(@help_link)
  .site-info
    = form_for @affiliate, :url => { :action => :update_header_footer }, :html => { :multipart => true, :class=>"generic-form header-footer-form" } do |f|
      = f.error_messages(:header_message => nil, :class => "error")
      = render :partial => "header_footer_form", :object => f
      %p{ style: 'float: left;' }
        Important note: You must click the Make Live button below to make any changes appear on your live website.
      .button-wrapper
        = f.submit "Save for Preview", :id => "save_for_preview", :class => 'form-submit-button save-for-preview-button'
        = f.submit "Make Live", :id => "make_live", :class => 'form-submit-button make-live-button'
        = link_to "Cancel", affiliate_path(@affiliate), :class => 'cancel'
.hide
  = form_tag 'http://validator.w3.org/nu/', :id => 'validator_form', :method => :post, :multipart => true, :target => '_blank' do
    = hidden_field_tag :showsource, '1'
    = text_area_tag :content
    = submit_tag 'Validate'

