= content_for :title, "Results Modules - "
= affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Results Modules'] )
.site-specific
  %h1 Results Modules
  .site-info
    = form_for @affiliate, :url => { :action => :update_results_modules }, :html => { :class=>"generic-form results-modules-form" } do |f|
      = f.error_messages(:header_message => nil, :class => "error")
      = render :partial => "results_modules_form", :object => f
      .button-wrapper
        = f.submit "Save", :id => "save"
        = link_to "Cancel", affiliate_path(@affiliate)

