= affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Get Code'] )

%h1 Get Code
= render_help_link(@help_link)

%p Head Snippet
= find_and_preserve do
  #embed_code_english.span-24
    = render :partial => 'head_embed_code_text_area', :locals => { :locale => @affiliate.locale }

%p Form Snippet
  #embed_code_english.span-24
    = render :partial => 'form_embed_code_text_area', :locals => { :locale => @affiliate.locale }

%h2 USASearch Tag Snippet
%p
= find_and_preserve do
  #embed_stats_code.span-24
    = render :partial => 'embed_stats_code_text_area'
