= affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Get Code'] )

%h1 Get Code
= render_help_link(@help_link)

%h2 Form Snippet
= find_and_preserve do
  #embed_code_english.span-24
    = render :partial => 'form_embed_code_text_area'

%h2 Type-ahead search and USASearch Tag Snippet
= find_and_preserve do
  #embed_code_english.span-24
    = render :partial => 'bottom_page_embed_code_text_area'
