= affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Get Code'] )

%h1 Get Code
= render_help_link(@help_link)

%p The following is the HTML code for your search page. Copy and paste this code into your page(s) where the search box should appear.
= find_and_preserve do
  #embed_code_english.span-24
    = render :partial => 'embed_code_text_area', :locals => { :locale => @affiliate.locale }

%h2 Code for content discovery and indexing
%p
  Place this snippet of Javascript just before the closing
  ='</body>'
  tag on all your sites' pages to make it easier for USASearch and commercial search engines to discover and index your content.
= find_and_preserve do
  #embed_stats_code.span-24
    = render :partial => 'embed_stats_code_text_area'
