.affiliate
  = breadcrumbs([link_to("Affiliate Program", affiliates_path), "Affiliate Center"])
  %h1 Affiliate Center  
  - if @current_user.is_affiliate?
    -if @current_user.affiliates.empty?
      %p You currently have no sites.  To begin, please add a new site.
    -else
      %p Welcome to the affiliate section.  To begin, select a site from the left menu.
      %table.generic-table
        %thead
          %tr
            %th{:colspan => 2}
              = link_to 'add new site', new_affiliate_path, :class => 'generic-button add-new-site-button'
              Site List
          %tr
            %th.secondary-header Name
            %th.secondary-header Actions
        %tbody
          - @current_user.affiliates.ordered.each do |affiliate|
            %tr{:id => "site_#{affiliate.id}", :class => cycle('even', 'odd')}
              %td.site-name
                = link_to(h(affiliate.display_name), affiliate_path(affiliate))
              %td
                = render :partial => 'affiliate_actions', :locals => {:affiliate => affiliate}
