.affiliate
  = affiliate_center_breadcrumbs(@affiliate.display_name)
  %h1= "Site: #{@affiliate.display_name}"
  %table.generic-table
    %colgroup
      %col{ :class => 'site-name' }
      %col{ :class => 'actions' }
    %thead
      %tr
        %th.secondary-header
          Site name
        %th.secondary-header
          Actions
    %tbody
      %tr
        %td.site-url= @affiliate.display_name
        %td= render :partial => 'affiliate_actions', :locals => {:affiliate => @affiliate}
