.affiliate
  = affiliate_center_breadcrumbs(@affiliate.display_name)
  %h1= "Site: #{@affiliate.display_name}"
  %table.generic-table
    %thead
      %tr
        %th.secondary-header
          Website URL
        %th.secondary-header
          Actions
    %tbody
      %tr
        %td.site-url= @affiliate.website
        %td= render :partial => 'affiliate_actions', :locals => {:affiliate => @affiliate}
