#urls_and_sitemaps
  = affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "URLs & Sitemaps"])
  %h1= "URLs & Sitemaps for USASearch Index"

  .column-2
    .side-note-image= image_tag "side_notes/urls.png"
    .side-note
      %strong Did you know?
      %br
      We notify Bing&trade; about the URLs you add.
      They will appear in the results on your website immediately (PDF and HTML).
      They will appear in Bing.com within 24 hours (HTML only).
    .side-note
      %strong
        Not sure what the URLs are for your new or modified pages?
      Email us at
      %a{:href=>"mailto:USASearch@gsa.gov"}
        USASearch@gsa.gov
      and we can help you identify specific URLs that have recently changed on your site.
    .side-note
      %strong
        Please note
      that you still need to register with Bing™ webmaster tools to have your site, and sitemap, indexed by Bing&trade;.
      %br
      %a{:href=>"http://www.bing.com/toolbox/webmasters/", :target=>"_blank"}
        Register for Bing webmaster tools.

  .column-1
    %p
      USASearch offers a number of ways for you to tell us about URLs for the web pages that you want to include in the USASearch index.

    %h2 1. Add our discovery tag
    %p
      :escaped
        Place this snippet of JavaScript just before the closing </body> tag on all your sites' pages to make it easier for USASearch and commercial search engines to discover and index your content.
      = find_and_preserve do
        #embed_stats_code.span-24
          = render :partial => 'embed_stats_code_text_area'

    %h2 2. Point us to your sitemap
    %p
      Tell us the location of your sitemap.
      A sitemap is a recommended best practice that informs search engines about your site's pages that should be indexed
      (see #{link_to "sitemaps.org/protocol.html", "http://www.sitemaps.org/protocol.html"}).

    .sitemap-list
      %table
        %colgroup
          %col{ :class => 'url' }
          %col{ :class => 'actions' }
        %thead
          %tr
            %th{ :colspan => 2 }
              = link_to("View all", affiliate_sitemaps_path(@affiliate), :class => 'header-link') unless @sitemaps.empty?
              = link_to "Add new Sitemap", new_affiliate_sitemap_path(@affiliate), :class => 'add-link last'
              %span Sitemaps (#{@sitemaps.total_entries})
        = render :partial => 'affiliates/sitemaps/list'

    %h2 3. Tell us about specific URLs
    %p Still missing some URLs? Tell us the specific URLs you'd like us to index.

    .uncrawled-url-list
      %table
        %colgroup
          %col{ :class => 'url' }
          %col{ :class => 'actions' }
        %thead
          %tr
            %th{:colspan => 2}
              = link_to "Bulk upload", bulk_new_affiliate_on_demand_urls_path(@affiliate), :class => 'add-link'
              = link_to "Add new URL", new_affiliate_on_demand_url_path(@affiliate), :class => 'add-link last'
              = link_to("View all", uncrawled_affiliate_on_demand_urls_path(@affiliate), :class => 'header-link last') unless @uncrawled_urls.empty?
              %span Uncrawled URLs (#{@uncrawled_urls.total_entries})
            = render :partial => 'affiliates/on_demand_urls/uncrawled_urls', :locals => { :shorten_url_length => 20 }

    .crawled-url-list
      %table
        %colgroup
          %col{ :class => 'url' }
          %col{ :class => 'last-crawled-at' }
          %col{ :class => 'last-crawl-status' }
          %col{ :class => 'actions' }
        %thead
          %tr
            %th{:colspan => 4}
              = link_to("View all", crawled_affiliate_on_demand_urls_path(@affiliate), :class => 'header-link') unless @crawled_urls.empty?
              = link_to("Export to CSV", crawled_affiliate_on_demand_urls_path(@affiliate, :format => 'csv'), :class => 'header-link last') unless @crawled_urls.empty?
              %span Previously Crawled URLs (#{@crawled_urls.total_entries})
        = render :partial => 'affiliates/on_demand_urls/crawled_urls', :locals => { :shorten_url_length => 20 }
