= content_for_site_page_title @site, "Routed Query Queries"
.sub-nav-heading
  %h2= "Routed Query Keywords for Current Month"
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page

- if @routed_query
  %h3
    = "Description: #{@routed_query.description}"
    = link_to '(edit)', edit_site_routed_query_path(@site, @routed_query)

  #keen-queries-pie{ data: { module: 'QRTD', key: @site.scoped_key.key, model_id: @routed_query.id }}
