= content_for_site_page_title @site, 'Edit Domain'
= custom_form_for @site_domain, url: { action: :update }, html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Edit Domain
    .action-bar
      %ul
        %li= link_to 'View All', site_domains_path(@site)
        %li= f.submit 'Save', class: 'btn submit disabled', disabled: true
  = render f
