= content_for_site_page_title @site, 'Add Domain'
= custom_form_for @site_domain, url: { action: :create }, html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Add Domain
    .action-bar
      %ul
        %li= link_to 'View All', site_domains_path(@site)
        %li= f.submit 'Add', class: 'btn submit disabled', disabled: true
  = render f
