= content_for_site_page_title @site, 'Manage Users'
.sub-nav-heading
  %h2 Users
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page
      %li= link_to 'Add User', new_site_user_path(@site)

= render_flash_message
%table.table.table-no-header
  %tbody
    - @users.each do |user|
      %tr{ user_row_css_class_hash(user) }
        %td
          %span #{user.first_name}
          %span #{user.last_name}
          %br
          %span.muted
            #{user.email}
            - unless user.is_approved?
              (#{user.approval_status.humanize})
        %td.actions
          %ul
            %li= button_to 'Remove', site_user_path(@site, user.id), method: :delete, data: { confirm: "Are you sure you wish to remove #{user.email} from this site?" }, class: 'btn btn-small'
