= content_for_site_page_title @site, 'Add User'
= form_for @user, url: { action: :create }, html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Add User
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= link_to 'View All', site_users_path(@site)
        %li= f.submit 'Add', class: 'btn submit disabled', disabled: true

  = render_flash_message
  = f.error_messages class: 'alert alert-error', header_tag: 'h3'
  = f.label :contact_name, 'Name', class: 'required'
  = f.text_field :contact_name, class: 'required'
  = f.label :email, 'Email', class: 'required'
  = f.text_field :email, class: 'required'
