= content_for_site_page_title @site, 'Add User'
= custom_form_for @user, url: { action: :create }, html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Add User
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= link_to 'View All', site_users_path(@site)
        %li= f.submit 'Add', class: 'btn submit disabled', disabled: true

  = render_flash_message
  = render_error_messages(@user)
  = f.label :first_name, 'First name', class: 'required'
  = f.text_field :first_name, class: 'required  input-primary'
  = f.label :last_name, 'Last name', class: 'required'
  = f.text_field :last_name, class: 'required  input-primary'
  = f.label :email, 'Email', class: 'required'
  = f.text_field :email, class: 'required'
