= content_for_site_page_title @site, 'Twitter'
.sub-nav-heading
  %h2 Twitter
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page
      %li= link_to 'Add Twitter Handle', new_site_twitter_handle_path(@site)

= render_flash_message
%table.table.table-no-header
  %tbody
    - @profiles.each do |twitter_profile|
      %tr
        %td
          = link_to_twitter_handle twitter_profile
          -# Temporarily disabling show lists as per JIRA ticket #SRCH-3556
          / = twitter_profile_properties @site, twitter_profile
        %td.actions
          %ul
            %li= button_to 'Remove', site_twitter_handle_path(@site, twitter_profile.id), method: :delete, data: { confirm: "Are you sure you wish to remove @#{twitter_profile.screen_name} from this site?" }, class: 'btn btn-small'
