= content_for_site_page_title @site, 'Add Twitter Handle'
= form_for @profile, url: { action: :create }, html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Add Twitter Handle
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= link_to 'View All', site_twitter_handles_path(@site)
        %li= f.submit 'Add', class: 'btn submit disabled', disabled: true
  = render_flash_message
  = render_error_messages(@profile)
  = f.label :screen_name, 'Twitter Handle', class: 'required'
  = f.text_field :screen_name, class: 'required input-primary'
  -# Temporarily disabling checkbox as per JIRA ticket #SRCH-3556
  / = label_tag nil, class: 'checkbox' do
  /   = check_box_tag :show_lists
  -#   Show tweets from my lists
