%tr{ id: "connection-#{index}"}
  %td.site-name
    %i.draggable.fa.fa-reorder-black
    = f.label :affiliate_name, "Connection site handle #{index}", class: 'hide'
    = f.text_field :affiliate_name, maxlength: 33
    = f.hidden_field :position, { class: 'position' }
  %td.site-label
    = f.label :label, "Connection label #{index}", class: 'hide'
    = f.text_field :label, maxlength: 50