%h3 Modules
%table#govboxes.table
  %thead
    %tr
      %th Name
      %th Source
      %th Setting
  %tbody
    - if @site.rss_feeds.non_managed.non_mrss.exists?
      %tr
        %td.name
          = f.label :rss_govbox_label, nil, class: 'off-screen-text'
          = f.text_field :rss_govbox_label, maxlength: 15
        %td.cell-1x= link_to 'RSS (combined)', site_rss_feeds_path(@site)
        = switch_cell f, :is_rss_govbox_enabled

    - if @site.youtube_profiles.exists?
      %tr
        %td Videos
        %td.cell-1x= link_to 'YouTube', site_youtube_channels_path(@site)
        = switch_cell f, :is_video_govbox_enabled

    - if @site.agency.present?
      %tr
        %td Job openings
        %td.cell-1x USAJOBS
        = switch_cell f, :jobs_enabled

      - if @site.agency.federal_register_agency.present?
        %tr
          %td Federal Register documents
          %td.cell-1x Federal Register
          = switch_cell f, :is_federal_register_document_govbox_enabled

    %tr
      %td Related searches
      %td.cell-1x Search.gov
      = switch_cell f, :is_related_searches_enabled
    %tr
      %td Health topics
      %td.cell-1x Medline Plus
      = switch_cell f, :is_medline_govbox_enabled

    %tr
      %td Type-ahead Search
      %td.cell-1x Search.gov
      = switch_cell f, :is_sayt_enabled
