.superfresh
  = affiliate_center_breadcrumbs( [ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'URLs'] )

  .col-1
    %h1.title
      URLs
    %p
      Are specific PDF or HTML pages missing from your search results? Add the URLs for the missing pages.
      We will index the pages so that they appear in your results within minutes.
    %p.wrap-links
      = link_to 'Single URL', "#singleurl"
      = link_to 'Bulk Upload', "#bulkupload"
      = link_to 'Status', "#status", :class => 'last'

    .wrap-content
      %a{:name => "singleurl"}
      = form_for @indexed_document, {:url => affiliate_on_demand_urls_path(@affiliate)} do |f|
        = f.label :url, "<h3>Single URL</h3>".html_safe
        = f.text_field :url, :class => 'txt'
        = f.submit "Submit", :class => 'btn-submit submit'
      %span.note (for example, http://www.sample.gov/folder/mypage.html)

    .wrap-content
      %a{:name => "bulkupload"}
      %h3 Bulk Upload
      %p
        Bulk upload up to 100 URLs following the sample format below.
      %p
        Save the file in .txt format on your computer. Do not use Microsoft Word files.
        You can name the file whatever you like, as long as it is a plain text file.
      %p
        Browse for the file on your computer. Upload the file using the browse and upload option below.
      %p
        %strong
          Sample file format:
        %ul.sample-file-format
          %li
            %span
              http://www.sample.gov/1.html
          %li
            %span
              http://www.sample.gov/2.html
          %li
            %span
              http://www.sample.gov/3.html
      %p
        NOTE: You may only submit URLs once.

      = form_tag upload_affiliate_on_demand_urls_path(@affiliate), :multipart => true do
        = file_field_tag 'indexed_documents', :accept => 'text/plain', :class => 'file'
        = submit_tag "Upload", :class => 'submit btn-upload'

    .wrap-content.status
      %a{:name => "status"}
      %h3 Status
      .uncrawled-url-list
        %table
          %colgroup
            %col{ :class => 'url' }
            %col{ :class => 'actions' }
          %thead
            %tr
              %th{:colspan => 2} 
                = link_to("View all", uncrawled_affiliate_on_demand_urls_path, :class => 'header-link') unless @uncrawled_urls.empty?
                Uncrawled URLs (#{@affiliate.uncrawled_urls_count})
          = render :partial => 'uncrawled_urls', :locals => { :shorten_url_length => 20 }
      .crawled-url-list{:style => 'margin-top: 10px;'}
        %table
          %colgroup
            %col{ :class => 'url' }
            %col{ :class => 'last-crawled-at' }
            %col{ :class => 'last-crawl-status' }
            %col{ :class => 'actions' }
          %thead
            %tr
              %th{:colspan => 4}
                = link_to("View all", crawled_affiliate_on_demand_urls_path, :class => 'header-link') unless @crawled_urls.empty?
                Previously Crawled URLs (#{@affiliate.crawled_urls_count})
          = render :partial => 'crawled_urls', :locals => { :shorten_url_length => 20 }

  .col-2
    .side-note-image= image_tag "side_notes/urls.png"
    .side-note
      %strong Did you know?
      %br
      We notify Bing&trade; about the URLs you add.
      They will appear in the results on your website immediately (PDF and HTML).
      They will appear in Bing.com within 24 hours (HTML only).
    .side-note
      %strong
        Not sure what the URLs are for your new or modified pages?
      Email us at
      %a{:href=>"mailto:USASearch@gsa.gov"}
        USASearch@gsa.gov
      and we can help you identify specific URLs that have recently changed on your site.
    .side-note
      %strong
        Please note
      that you still need to register with Bing™ webmaster tools to have your site, and sitemap, indexed by Bing&trade;.
      %br
      %a{:href=>"http://www.bing.com/toolbox/webmasters/", :target=>"_blank"}
        Register for Bing webmaster tools.
