= affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Add a new URL"])
%h1 Add a new URL
.add-url
  = form_for(@indexed_document, { :url => affiliate_on_demand_urls_path(@affiliate) }) do |f|
    = f.error_messages(:header_message => nil, :class => "error")
    .basic-information
      %ul
        %li
          = f.label :url, "URL*"
          = f.text_field :url, { :class => 'text', :maxlength => 255, :size => nil }
          %p.tips (for example, http://www.sample.gov/folder/mypage.html)
    = f.submit "Add", :class => 'submit'
    = link_to "Cancel", urls_and_sitemaps_affiliate_path(@affiliate), :class => 'cancel'
