= content_for_site_page_title @site, 'Flickr'
.sub-nav-heading
  %h2 Flickr
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page
      %li= link_to 'Add Flickr URL', new_site_flickr_url_path(@site)

= render_flash_message
%table.table.table-no-header
  %tbody
    - @flickr_profiles.each do |flickr_url|
      %tr
        %td= link_to_url_without_protocol flickr_url.url, target: '_blank'
        %td.actions
          %ul
            %li= button_to 'Remove', site_flickr_url_path(@site, flickr_url.id), method: :delete, data: { confirm: "Are you sure you wish to remove #{flickr_url.url} from this site?" }, class: 'btn btn-small'
