= content_for_site_page_title @site, 'Add Flickr URL'
= form_for @flickr_profile, url: { action: :create }, html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Add Flickr URL
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= link_to 'View All', site_flickr_urls_path(@site)
        %li= f.submit 'Add', class: 'btn submit disabled', disabled: true
  = render_flash_message
  = render_error_messages(@flickr_profile)
  = f.label :url, 'Flickr URL', class: 'required'
  = f.text_field :url, class: 'required input-primary'
