= content_for_site_page_title @site, 'Add Filter Tag'
= form_for @tag_filter, url: { action: :create }, html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Add Filter Tag
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= link_to 'View All', site_tag_filters_path(@site)
        %li= f.submit 'Add', class: 'btn submit disabled', disabled: true
  = render_flash_message
  = render_error_messages(@tag_filter)
  = f.label :tag, 'Tag', class: 'required'
  = f.text_field :tag, class: 'required input-primary'

  = f.label :exclude, value: true, class: 'radio' do
    = f.radio_button :exclude, true, checked: true
    Exclude
  = f.label :exclude, value: false, class: 'radio' do
    = f.radio_button :exclude, false
    Require
