= content_for_site_page_title @site, 'Add Routed Query'
= custom_form_for @routed_query, url: { action: :create }, html: { class: 'form' } do |form|
  .sub-nav-heading
    %h2 Add Routed Query
    .action-bar
      %ul
        %li= link_to 'View All', site_routed_queries_path(@site)
        %li= form.submit 'Add', class: 'btn submit disabled', disabled: true
  = render form
