= content_for_site_page_title @site, 'Image Assets'
= custom_form_for @site, as: :image_asset, url: site_image_assets_path(@site), html: { class: 'form', id: 'edit-image-assets' } do |f|
  .sub-nav-heading
    %h2 Image Assets
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= f.submit 'Save', class: 'btn submit disabled', disabled: true

  = render_flash_message
  = render_error_messages(@site)
  = f.label :favicon_url, 'Favicon URL'
  = f.text_field :favicon_url, maxlength: 255

  - if @site.uses_managed_header_footer? and !@site.force_mobile_format?
    %fieldset
      = f.label :header_image, 'Legacy Logo'
      = f.file_field :header_image, data: { classButton: 'btn btn-filestyle', icon: false, provide: 'filestyle' }
      %span.help-block GIF, JPG or PNG with maximum size of #{Affiliate::MAXIMUM_IMAGE_SIZE_IN_KB} KB
      - if @site.header_image.present? and !@site.header_image.dirty?
        .image= image_tag(@site.header_image.url(:large), alt: 'Legacy Logo')
        = f.label :mark_header_image_for_deletion, class: 'checkbox' do
          = f.check_box :mark_header_image_for_deletion
          Mark Legacy Logo for Deletion

  %fieldset
    = f.label :mobile_logo, 'Logo'
    = f.file_field :mobile_logo, data: { classButton: 'btn btn-filestyle', icon: false, provide: 'filestyle' }
    %span.help-block GIF, JPG or PNG with maximum size of #{Affiliate::MAXIMUM_MOBILE_IMAGE_SIZE_IN_KB} KB
    - if @site.mobile_logo.present? && !@site.mobile_logo.dirty?
      .image= image_tag(@site.mobile_logo.url(:large), alt: 'Logo')
      = f.label :mark_mobile_logo_for_deletion, class: 'checkbox' do
        = f.check_box :mark_mobile_logo_for_deletion
        Mark Logo for Deletion

  %fieldset
    = f.fields_for :css_property_hash do |hash|
      = hash.label :logo_alignment, 'Logo Alignment'
      = hash.select :logo_alignment, options_for_select(LogoAlignment::ALL, selected: @site.css_property_hash[:logo_alignment])

  %fieldset
    = f.label :logo_alt_text, 'Logo Alt Text'
    = f.text_field :logo_alt_text, maxlength: 100

  - unless @site.force_mobile_format?
    %fieldset
      = f.label :page_background_image, 'Page Background Image'
      = f.file_field :page_background_image, data: { classButton: 'btn btn-filestyle', icon: false, provide: 'filestyle' }
      %span.help-block GIF, JPG or PNG with maximum size of #{Affiliate::MAXIMUM_IMAGE_SIZE_IN_KB} KB
      - if @site.page_background_image.present? && !@site.page_background_image.dirty?
        .image= image_tag(@site.page_background_image.url(:large), alt: 'Page Background Image')
        = f.label :mark_page_background_image_for_deletion, class: 'checkbox' do
          = f.check_box :mark_page_background_image_for_deletion
          Mark Page Background Image for Deletion

    = f.fields_for :css_property_hash do |hash|
      = hash.label :page_background_image_repeat, 'Page Background Image Repeat'
      = hash.select :page_background_image_repeat, options_for_select(Affiliate::BACKGROUND_REPEAT_VALUES, selected: @site.css_property_hash[:page_background_image_repeat])
