= content_for_site_page_title @site, 'Referring URLs Leading to a Query'
.sub-nav-heading
  %h2 Referring URLs Leading to a Query
  .action-bar
    %ul

%h3= "Top Referring URLs (Referrers) for '#{@query}' from #{@start_date} to #{@end_date}"

%table.table.table-striped.table-bordered.table-kv-pairs
  %thead
    %tr
      %th Top Referrers for this Query
      %th # of this Query from this Referrer
      %th View All Queries from this Referring URL
  %tbody
    - @top_urls.each_with_index do |(url, total), idx|
      %tr
        %td
          = "#{idx+1}. "
          = linked_shortened_url_without_protocol(url)
        %td= number_with_delimiter(total)
        %td= link_to "View All Queries from this Referrer", site_referrer_queries_path(@site,
          {:url => url, :start_date => @start_date, :end_date => @end_date})
