.span-13
  - form_for [:admin, @affiliate_broadcast], :html=> {:class=> "bordered"} do |f|
    %h1 Send an email to all affiliates
    = f.error_messages(:header_message => nil, :class => "error")
    %dl
      %dt= f.label :subject, "Subject"
      %dd= f.text_field :subject, :class => "text"
      %dt= f.label :body, "Body"
      %dd= f.text_area :body
    = f.submit "Send to all affiliates"
.span-11.prepend-1.last
  %h2 How this works
  %ul
    %li The email will be sent from "#{APP_EMAIL_ADDRESS}".
    %li It will go to all the affiliate contacts that you see #{link_to "on the affiliate admin page",admin_affiliates_path}.
    %li The first line of the email will automatically contain the greeting "Dear {{contact_name}},". Do not include a greeting.
    %li The end of the email will automatically contain the affiliate ID's and SERP links (using the search term "gov") associated with the given contact.
    %li Use plaintext for the email body, not HTML.