= content_for :title, 'New Site Setup'
= form_for @site, as: :site, url: { action: :create }, html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Add Site
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= f.submit 'Add', class: 'btn submit disabled', disabled: true
  = render_flash_message
  = render_error_messages(@site)
  .control-group
    = f.fields_for :site_domains, @site.site_domains.first do |site_domain_fields|
      = site_domain_fields.label :domain, 'Homepage URL', class: 'control-label'
      = site_domain_fields.text_field :domain, required: true, class: 'required controls input-primary', type: 'url', placeholder: 'Enter the primary website this search will be designed for', pattern: 'https?:\/\/[a-z0-9]+([\-\.][a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?([\/]\S*)?', title: 'Please enter a fully qualified URL (including http://, http://www, etc.).'
  .control-group
    = f.label :display_name, 'Display Name', class: 'control-label'
    = f.text_field :display_name, required: true, class: 'required controls', placeholder: 'Visible to searchers on the results page'
  .control-group
    = f.label :name, 'Site Handle', class: 'control-label'
    = f.text_field :name, required: true, class: 'required controls', maxlength: Affiliate::MAX_NAME_LENGTH, pattern: '[a-z0-9._-]+', placeholder: 'Visible to searchers in the URL', title: 'Handles can have lowercase letters, numbers, periods, hyphens, and underscores only.'
  .control-group
    = f.label :locale, 'Site Language', class: 'control-label'
    = f.select :locale, supported_locale_options, class: 'required controls', disabled: :divider
