= content_for_site_page_title @site, 'Site Overview'
.sub-nav-heading
  %h2 Site Overview | Today's Snapshot
  .action-bar
    %ul

= show_system_alerts
= render_flash_message

.analytics_panel
  %h3 Top Queries
  - if @dashboard.top_queries.present?
    %ol#top_queries
      - @dashboard.top_queries.each do |top_query|
        %li= query_times(top_query, current_user.sees_filtered_totals)
  - else
    %p Not enough query data available

.analytics_panel
  %h3 Top Clicked URLs
  - if @dashboard.top_urls.present?
    %ol#top_urls
      - @dashboard.top_urls.each do |url, count|
        %li= "#{linked_shortened_url_without_protocol(url)} [#{count}]".html_safe
  - else
    %p Not enough click data available

- if @dashboard.trending_urls.present?
  .analytics_panel
    %h3 Trending URLs
    %ol#trending_urls
      - @dashboard.trending_urls.each do |trending_url|
        %li= linked_shortened_url_without_protocol(trending_url)

- if @dashboard.trending_queries.present?
  .analytics_panel
    %h3 Trending Queries
    %ol#trending_queries
      - @dashboard.trending_queries.each do |trending_query|
        %li= trending_query

.analytics_panel
  %h3 Queries with No Results
  - if @dashboard.no_results.present?
    %ol#no_results
      - @dashboard.no_results.each do |query_count|
        %li= "#{query_count.query} [#{query_count.times}]"
  - else
    %p Not enough query data available

.analytics_panel
  %h3 Top Queries with Low Click Thrus
  - if @dashboard.low_ctr_queries.present?
    %ol#low_ctr_queries
      - @dashboard.low_ctr_queries.each do |query, ctr|
        %li= "#{query} [#{number_with_precision(ctr, precision: 1, strip_insignificant_zeros: true)}%]"
  - else
    %p Not enough query data available

#monthly_info
  - if @dashboard.monthly_usage_chart.present?
    .analytics_panel#chart
      = render_chart(@dashboard.monthly_usage_chart, 'chart')

  .analytics_panel
    %h3 This Month's Totals to Date
    %p= "Dates: #{Date.current.beginning_of_month.to_formatted_s(:long).squish} - #{Date.current.to_formatted_s(:long).squish}"
    %p= "Total Queries: #{number_with_delimiter(@dashboard.monthly_queries_to_date)}"
    %p= "Total Clicks: #{number_with_delimiter(@dashboard.monthly_clicks_to_date)}"

