#search{ search_data(@search, @search_vertical) }
  %h2= t 'searches.search_results'
  - if @search.results.blank?
    = render partial: 'searches/no_results', locals: { search: @search }
  - else
    - if @search.commercial_results?
      = spelling_suggestion(@search, @search_options)
    -else
      = search_suggestion(@search, 'OSPEL')
    = render partial: 'organic_results', locals: { search: @search }
    = render partial: 'searches/offer_commercial_image_results', locals: { search:  @search } if eligible_for_commercial_results?(@search)
    = render partial: 'searches/pagination', locals: { search: @search }
