#search{ search_data(@search, @search_vertical) }
  %h2= t 'searches.search_results'
  - if @search.results.blank?
    = render partial: 'searches/no_results', locals: { search: @search }

  - if @search.results.present?
    = render partial: 'organic_results', locals: { search: @search }
    = render partial: 'searches/offer_commercial_results', locals: { search:  @search } if eligible_for_commercial_results?(@search)
    = render partial: 'searches/pagination', locals: { search: @search }
