= form_tag(image_search_path(:m => 'true'), :method => :get, :id => 'search_form') do
  = hidden_field_tag :m, params[:m]
  = hidden_field_tag :affiliate, @affiliate.name
  = render :partial => 'shared/search_box'

- if @search.results.present?
  .group
    .row{:style => "overflow: auto;width: 98%;"}
      - @search.results.each_with_index do |search_result, index|
        .searchThumbnail
          %span.image_result{:id => "searchresult#{index+1}"}
            = display_image_result_link(search_result, @search, nil, index, :image)

  = render_mobile_pagination_and_logo(@search.results, @search.module_tag)

- elsif @search.error_message
  %p.noresults #{@search.error_message}
- else
  = no_results_for @search.query
