- if @preview
  .span-24
    Template:
    %strong
      = @template_name
  %br
  %br

  .span-24
    Send to:
    %strong #{@preview[:to]}
    %br

    Subject:
    %strong #{@preview[:subject]}
    %br
    %br

    = form_tag("/admin/users/#{@user.id}/emails/#{@template_name}/#{@send_to}", class: 'form') do

      %table
        %tr
          %td{colspan: 2}
            %strong Default merge tags for all templates:
        - @preview[:merge_tags][:available].each do |name, value|
          %tr
            %td{style: 'white-space: nowrap'}
              %strong #{name.upcase}
            %td{width: '99%'}
              = text_field_tag(name, value, disabled: true)

        %tr
          %td{colspan: 2}
            &nbsp;

        - if @preview[:merge_tags][:needed].any?
          %tr
            %td{colspan: 2}
              %strong Additional merge tags for this template:
          - @preview[:merge_tags][:needed].each do |tag|
            %tr
              %td{style: 'white-space: nowrap'}
                %strong #{tag.upcase}
              %td{width: '99%'}
                = text_field_tag(tag)

        %tr
          %td
          %td
            %input{type: 'submit', value: 'Send Email'}
