= content_for :title do
  Bulk upload domains -
= affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Bulk upload domains"])
%h1 Bulk upload domains
= form_tag upload_affiliate_site_domains_path(@affiliate), :multipart => true, :class=> "bordered" do
  %p
    Save the file in .csv format on your computer. Do not use Microsoft Word files.
    %br
    Browse for the file on your computer. Upload the file using the browse and upload option below.
    %br
    You may omit the site name and it will be set to the same value as the domain.
  %p
    %strong Sample file format:
    %br
    www1.sample.gov,1st sample site
    %br
    www2.sample.gov
    %br
    www3.sample.gov,3rd sample site

  = file_field_tag 'site_domains', :accept => 'text/plain', :class => 'file'
  = submit_tag "Upload", :class => 'submit btn-upload'
  = link_to "Cancel", affiliate_site_domains_path(@affiliate), :class => 'cancel'
