= content_for :title do
  Edit domain -
= affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Edit domain"])
%h1 Edit domain
.edit-entry
  = form_for([@affiliate, @site_domain]) do |f|
    = render :partial => 'form', :locals => { :form => f }
    = f.submit "Save", :class => 'submit'
    = link_to "Cancel", affiliate_site_domains_path(@affiliate), :class => 'cancel'
