= content_for :title do
  Domains -
= affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Domains"])
%h1 Domains to Search
.entry-list
  %table
    %colgroup
      %col{ :class => 'site-name' }
      %col{ :class => 'domain' }
      %col{ :class => 'actions' }
    %thead
      %tr
        %th{ :colspan => 3 }
          = link_to "Bulk upload", bulk_new_affiliate_site_domains_path(@affiliate), :class => 'add-link'
          = link_to "Add new domain", new_affiliate_site_domain_path(@affiliate), :class => 'add-link last'
          - unless @site_domains.blank?
            %span= page_entries_info @site_domains, :entry_name => 'Domain', :html => false
    %tbody
      %tr.column-header
        %th Site Name
        %th Domain
        %th Actions
      - unless @site_domains.blank?
        - @site_domains.each do |site_domain|
          %tr.row-item
            %td.site-name= site_domain.site_name
            %td.domain= site_domain.domain
            %td.actions
              = link_to("Edit", edit_affiliate_site_domain_path(@affiliate, site_domain))
              = button_to("Delete", [@affiliate, site_domain], :method => :delete, :confirm => "Are you sure you want to delete this domain?")
      - else
        %tr
          %td.empty{ :colspan => 3 } Site #{@affiliate.display_name} has no domain entry
  = will_paginate @site_domains
