= content_for_site_page_title @site, 'Edit Collection'
= custom_form_for @document_collection, url: { action: :update }, html: { class: 'form' }  do |form|
  .sub-nav-heading
    %h2 Edit Collection
    .action-bar
      %ul
        %li= link_to 'View All', site_collections_path(@site)
        %li= form.submit 'Save', class: 'btn submit disabled', disabled: true
  = render form
