= content_for_site_page_title @site, 'Collections'
.sub-nav-heading
  %h2 Collections
  .action-bar
    %ul
      %li= link_to 'Add Collection', new_site_collection_path(@site)

= render_flash_message
%table.table.table-no-header
  %tbody
    - @document_collections.each do |document_collection|
      %tr
        %td
          = link_to_view_collection_url_prefixes @site, document_collection
        %td.actions.actions-3x
          %ul
            %li= link_to_preview_collection @site, document_collection
            %li= link_to 'Edit', edit_site_collection_path(@site, document_collection.id)
            = list_item_with_button_to_remove_collection @site, document_collection
#url-prefixes.modal.fade(data-no-turbolink){ 'aria-hidden' => 'true' }
  = render partial: 'sites/shared/modal'
