%table.querycounts
  %tr
    %th.alt Query
    %th{:style=>"text-align:center"} #{heading}
    %th.alt{:style=>"text-align:right"} Frequency
  - if query_counts.nil?
    %tr
      %td.alt{:colspan=>3} No queries matched
  - else
    - query_counts.each_with_index do |query_count, idx|
      %tr
        %td{:colspan=>2}
          = "#{idx+1}."
          = query_chart_link(query_count)
          = open_close_toggle_icon(content_name,"#{idx}") unless query_count.children.empty?
        %td{:style => "text-align: right"}= query_count.times
      %tr{:id => "#{content_name}item#{idx}", :style => "display:none"}
        %td{:colspan=>3}
          %table
            - query_count.children.each do |kid|
              %tr
                %td= query_chart_link(kid)
                %td{:style => "text-align: right"}= kid.times

