%div= flash[:notice] if flash[:notice]
- if (@search_results.size > 0)
  %p= "Matches for '#{h @search_query_term}'"
  - if @current_user.is_analyst_admin?
    :javascript
      function selectAllQueries() {
        var queriesForm = document.forms['queries'];
        for (var i = 0; i < queriesForm.length; i++) {
          queriesForm.elements[i].checked = "checked";
        }
      }
    - form_tag bulk_add_analytics_query_groups_path, :method => :post, :name => 'queries' do
      %table
        %tr{:class => 'query_search_results_table_header'}
          %th Query term
          %th{:style=>"text-align: right;"} Frequency
          %th{:style => "text-align: center;"}
            = "Add to #{link_to 'Query Group', analytics_query_groups_path, :target => '_blank'}"
            %br
            = "(#{ link_to 'Select All', 'javascript:selectAllQueries();'})"
        - @search_results.each_pair do |query, count|
          %tr
            %td= query_chart_link(query)
            %td{:style=>"text-align: right;"}= count
            %td{:style => "text-align: center;"}
              = check_box_tag("bulk_add_#{query.parameterize}", query)
        %tr
          %td
          %td
          %td{:style => "text-align: center;"}
            = select 'query_group', 'name', options_from_collection_for_select(@query_groups, 'name', 'name'), { :include_blank => true }
            = submit_tag 'Add to Query Group'
  - else
    %table
      %tr
        %th Query term
        %th{:style=>"text-align: right;"} Frequency
      - @search_results.each_pair do |query, count|
        %tr
          %td
            - if @affiliate
              = affiliate_query_chart_link(query, @affiliate)
            - else
              = query_chart_link(query)
          %td{:style=>"text-align: right;"}= count

- elsif (@search_query_term.blank?)
  %p.noresults= "Please enter search term(s)"
- else
  %p.noresults= "Sorry, no results found for '#{h @search_query_term}'."
