.content-box.analytics{ :id => "#{@affiliate ? 'affiliate_analytics' : 'admin_analytics'}" }
  = form_tag(path, :method => :get, :id=>"query_search_form") do
    = label :search, "Search for query term", :class => 'query-term'
    = text_field_with_auto_complete :search, :query, {:size=>50, :name=>"query", :autocomplete => "off", :value=> @search_query_term}, {:url=> {:controller => "/searches", :action => "auto_complete_for_search_query"}, :method=> :get}
    = label_tag :analytics_search_start_date, "from"
    = calendar_date_select_tag("analytics_search_start_date", @start_date)
    = label_tag :analytics_search_end_date, "to"
    = calendar_date_select_tag("analytics_search_end_date", @end_date)
    = submit_tag "Search", :id=>"search_button", :onClick=>"document.getElementById('busy').style.display='block'"
    - if affiliate
      = hidden_field_tag("affiliate", affiliate.name)
      = hidden_field_tag("locale", I18n.locale.to_s)
      = hidden_field_tag("m", false)
  %p{:style=>"display:none", :id=>"busy"}
    Please wait...
    = image_tag('busy.gif', :alt=>"", :width => 16, :height => 11)

:javascript
  //document.all.search_query.focus();
