%li= link_to 'Switch to Simple Mode', edit_site_header_and_footer_path(@site, mode: 'simple')
%li
  .btn-group
    = save_for_preview_button f, @site
    = button_tag class: 'btn dropdown-toggle', data: { toggle: 'dropdown' },
      disabled: (!@site.has_staged_content? && !@site.uses_managed_header_footer?),
      id: 'header-footer-dropdown-button' do
      %span.caret
      .description See Other Options
    %ul.dropdown-menu
      %li= make_live_button(f, @site)
      %li= f.submit('Cancel Changes', class: 'btn-flat submit') if @site.has_staged_content?

