= f.label :staged_header_footer_css, 'CSS to customize the top and bottom of your search results page.'
= f.text_area :staged_header_footer_css, rows: 10

%fieldset
  = f.label :staged_header, 'HTML to customize the top of your search results page.'
  = f.text_area :staged_header, rows: 10
  .help-block= link_to 'Validate the top of your search results page', 'http://validator.w3.org/nu/', id: 'validate-header', data: { source_selector: '#site_staged_header' }

%fieldset
  = f.label :staged_footer, 'HTML to customize the bottom of your search results page.'
  = f.text_area :staged_footer, rows: 10
  .help-block= link_to 'Validate the bottom of your search results page', 'http://validator.w3.org/nu/', id: 'validate-footer', data: { source_selector: '#site_staged_footer' }
