%fieldset
  = f.label :header_tagline, 'Header Tagline'
  = f.text_field :header_tagline, maxlength: 60

  = f.label :header_tagline_url, 'Header Tagline URL'
  = f.text_field :header_tagline_url

%fieldset
  = f.label :header_tagline_logo, 'Header Tagline Logo'
  = f.file_field :header_tagline_logo, data: { classButton: 'btn btn-filestyle', icon: false, provide: 'filestyle' }
  %span.help-block GIF, JPG or PNG with maximum size of #{Affiliate::MAXIMUM_HEADER_TAGLINE_LOGO_IMAGE_SIZE_IN_KB} KB
  - if @site.header_tagline_logo.present? && !@site.header_tagline_logo.dirty?
    .image= image_tag(@site.header_tagline_logo.url(:large), alt: 'Header Tagline Logo')
    = f.label :mark_header_tagline_logo_for_deletion, class: 'checkbox' do
      = f.check_box :mark_header_tagline_logo_for_deletion
      Mark Header Tagline Logo for Deletion

%fieldset
  = f.fields_for :css_property_hash do |hash|
    = hash.label :menu_button_alignment, 'Menu Button Alignment'
    = hash.select :menu_button_alignment, options_for_select(%w(right left), selected: @site.css_property_hash[:menu_button_alignment])

%h3 Header Links
%table#header-links.table
  %thead
    %tr.nodrag.nodrop
      %th Title
      %th URL
  %tbody
    - @site.managed_header_links.each_with_index do |header_link, index|
      = render partial: 'managed_header_link_fields', locals: { header_link: header_link, index: index }
.trigger-wrapper= link_to_add_new_site_header_link('Add Another Header Link', @site)

%h3 Footer Links
%table#footer-links.table
  %thead
    %tr.nodrag.nodrop
      %th Title
      %th URL
  %tbody
    - @site.managed_footer_links.each_with_index do |footer_link, index|
      = render partial: 'managed_footer_link_fields', locals: { footer_link: footer_link, index: index }
.trigger-wrapper= link_to_add_new_site_footer_link('Add Another Footer Link', @site)
