.sitemaps
  = affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), link_to('URLs and Sitemaps', urls_and_sitemaps_affiliate_path(@affiliate)), "Sitemaps"])
  %h1 Sitemaps
  = render_help_link(@help_link)  
  %p
    Sitemaps are an easy way for webmasters to inform search engines about pages on their sites that are available for crawling.  Web crawlers usually discover pages from links within the site and from other sites and sitemaps are recommended for content that is not represented in commercial search engines.
  %p
    USASearch uses sitemaps to supplement any URLs that may not be found in Bing.
  .sitemap-list{:style => 'margin-top: 10px;'}
    %table
      %colgroup
        %col{ :class => 'url' }
        %col{ :class => 'actions' }
      %thead
        %tr
          %th{ :colspan => 2 }
            = link_to "Add new Sitemap", new_affiliate_sitemap_path(@affiliate), :class => 'add-link last'
            %span= page_entries_info @sitemaps, :html => false
      = render :partial => 'affiliates/sitemaps/list'
    = will_paginate @sitemaps
    %p
      Additional information, including sitemap validators may be found at #{ link_to 'http://sitemaps.org', 'http://sitemaps.org' }.
