.span-24
  .content-box.analytics
    = form_tag(admin_compare_search_results_path, :method => :get) do
      %ul
        %li
          = label_tag :analytics_affiliate_pick, "Affiliate"
          = select nil, :affiliate_pick, @affiliate_picklist, {:selected=> @affiliate_pick}, {:id=>"Affiliate"}
        %li
          = label_tag :query, "Query"
          = text_field_tag :query, @query, :size => 50
        %li
          = submit_tag "Search"
- if @web_search and @odie_search
  %table
    %tbody
      %tr
        %th{:style => 'width: 50%; border-right: 1px solid black;'}
          = "#{@affiliate.search_engine} Results"
        %th{:style => 'width: 50%;'}
          ODIE Results
      %tr{:style => 'vertical-align: text-top;'}
        %td{:style => 'width: 50%; border-right: 1px solid black; vertical-align: top;'}
          - if @web_search.results.present?
            = results_summary(@web_search)
            - @web_search.results.each_with_index do |result, index|
              %div{:style => 'height: 150px;'}
                = render "/searches/result", :result => result, :affiliate => @affiliate, :search => @web_search, :index => (@web_search.startrecord + index - 1), :first => true
          - else
            No results
        %td{:style => 'width: 50%; vertical-align: top;'}
          - if @odie_search.results.present?
            = results_summary(@odie_search)
            - @odie_search.hits.each_with_index do |hit, index|
              %div{:style => 'height: 150px;'}
                = render "/shared/indexed_document", :hit => hit, :index => index, :show_full_listing => true
          - else
            No results
  = will_paginate(@web_search.results, :previous_label => (t :prev_label), :next_label => (t :next_label))