= render_flash_message
= render_error_messages(@alert)
= form.label :title, 'Title', class: 'required'
= form.text_field :title, class: 'required input-primary', maxlength: '75'
= form.label :text, 'Text', class: 'required'
= form.text_area :text, class: 'required', maxlength: '255', rows: '4'
= form.label :status, 'Status', class: 'required'
= form.select :status, ['Active', 'Inactive'], { default: 'Active' }, class: 'required'
