.main-nav-info
  .title Activate Search
%ul.nav.nav-list
  %li{ site_nav_css_class_hash('embed_codes') }= link_to 'Code Snippets', site_embed_code_path(@site)
  %li{ site_nav_css_class_hash('api_access_keys') }= link_to 'API Access Key', site_api_access_key_path(@site)
  %li{ site_nav_css_class_hash('api_instructions') }= link_to 'Search Results API Instructions', site_api_instructions_path(@site)
  %li{ site_nav_css_class_hash('type_ahead_api_instructions') }= link_to 'Type-ahead API Instructions', site_type_ahead_api_instructions_path(@site)
  - if @site.gets_i14y_results?
    %li{ site_nav_css_class_hash('i14y_api_instructions') }= link_to 'i14y Content Indexing API Instructions', site_i14y_api_instructions_path(@site)
  %li{ site_nav_css_class_hash('click_tracking_api_instructions') }= link_to 'Click Tracking API Instructions', site_click_tracking_api_instructions_path(@site)
