#navbar.navbar
  .navbar-inner
    .container
      = link_to BLOG_URL, class: 'brand' do
        %span.usa USA
        %span.search> Search
      %ul.nav
        %li= link_to 'Add Site', '#'
      %ul.nav.auth
        %li#nav-auth-menu.dropdown
          = link_to '#nav-auth-menu', { 'data-toggle' => 'dropdown' } do
            = current_user.email
            %i.icon-caret-down
          %ul.dropdown-menu(data-no-turbolink)
            %li
              = link_to account_path, tabindex: -1 do
                %i.icon-user
                My account
            %li
              = link_to url_for_logout, method: :delete, tabindex: -1 do
                %i.icon-signout
                Sign out
