#navbar.navbar
  - if $git_info.show_header
    #admin-system-warning-wrapper
      #git-info-header= render partial: 'shared/git_info_header'
  - if @site&.active? == false
    = render 'sites/shared/inactive_banner_uswds'
  .navbar-inner
    .container
      = render partial: 'shared/brand'
      %ul.nav
        %li.site-select-item
          = label_tag :site_select, 'Select a site'
          = site_select
        %li
          = link_to new_site_path do
            %i.fa.fa-plus-inactive{'data-grunticon-embed' => 'toggle_me'}
            Add Site
      %ul#auth-and-help.nav
        %li
          %ul.nav.auth
            %li#nav-auth-menu.dropdown
              = link_to '#nav-auth-menu', { 'data-toggle' => 'dropdown' } do
                = current_user.email
                %i.fa.fa-caret-down-inactive{'data-grunticon-embed' => 'toggle_me'}
              %ul.dropdown-menu(data-no-turbolink)
                %li
                  = link_to account_path do
                    %i.fa.fa-user-black{'data-grunticon-embed' => 'toggle_me'}
                    My account
                %li
                  = link_to user_sites_path do
                    %i.fa.fa-user-black{'data-grunticon-embed' => 'toggle_me'}
                    My sites
                %li
                  = link_to url_for_logout, method: :delete do
                    %i.fa.fa-sign-out-black{'data-grunticon-embed' => 'toggle_me'}
                    Sign out
