#navbar.navbar
  .navbar-inner
    .container
      = render partial: 'shared/brand'
      %ul.nav
        %li.site-select-item
          = label_tag :site_select, 'Select a site'
          = site_select
        %li
          = link_to new_site_path do
            %i.icon-plus
            Add Site
      %ul.nav.auth
        %li#nav-auth-menu.dropdown
          = link_to '#nav-auth-menu', { 'data-toggle' => 'dropdown' } do
            = current_user.email
            %i.icon-caret-down
          %ul.dropdown-menu(data-no-turbolink)
            %li
              = link_to account_path do
                %i.icon-user
                My account
            %li
              = link_to url_for_logout, method: :delete do
                %i.icon-signout
                Sign out
