#navbar.navbar
  - if $git_info.show_header
    #admin-system-warning-wrapper
      #git-info-header= render partial: 'shared/git_info_header'
  .navbar-inner
    .container
      = render partial: 'shared/brand'
      %ul.nav
        %li.site-select-item
          = label_tag :site_select, 'Select a site'
          = site_select
        %li
          = link_to new_site_path do
            %i.fa.fa-plus-inactive{'data-grunticon-embed' => 'toggle_me'}
            Add Site
        %li
          = link_to 'https://search.gov/feedback/feedback.html' do
            %i.fa.fa-lightbulb-o-inactive{'data-grunticon-embed' => 'toggle_me'}
            Send an Idea
      %ul#auth-and-help.nav
        %li
          %ul.nav.help
            %li#nav-help-menu.dropdown
              = link_to '#nav-help-menu', { 'data-toggle' => 'dropdown' } do
                Need Help?
                %i.fa.fa-caret-down-inactive{'data-grunticon-embed' => 'toggle_me'}
              %ul.dropdown-menu(data-no-turbolink)
                %li= mail_to Rails.application.secrets.organization[:support_email_address], 'Contact us by email'
                %li= link_to 'Call us: 202-969-7426', 'tel:202-969-7426'
                %li= link_to 'Read the Help Manual', 'https://search.gov/manual'
                %li= link_to 'Training Sessions', 'https://search.gov/manual/training.html'
        %li
          %ul.nav.auth
            %li#nav-auth-menu.dropdown
              = link_to '#nav-auth-menu', { 'data-toggle' => 'dropdown' } do
                = current_user.email
                %i.fa.fa-caret-down-inactive{'data-grunticon-embed' => 'toggle_me'}
              %ul.dropdown-menu(data-no-turbolink)
                %li
                  = link_to account_path do
                    %i.fa.fa-user-black{'data-grunticon-embed' => 'toggle_me'}
                    My account
                %li
                  = link_to url_for_logout, method: :delete do
                    %i.fa.fa-sign-out-black{'data-grunticon-embed' => 'toggle_me'}
                    Sign out
