.main-nav-info
  .title Manage Content
%ul.nav.nav-list
  %li{ site_nav_css_class_hash('contents') }= link_to 'Content Overview', site_content_path(@site)
  %li{ site_nav_css_class_hash(*%w(excluded_urls indexed_documents site_domains site_feed_urls)) }= link_to 'Domains', site_domains_path(@site)
  %li{ site_nav_css_class_hash('document_collections') }= link_to 'Collections', site_collections_path(@site)
  %li{ site_nav_css_class_hash('i14y_drawers') }= link_to 'i14y Drawers', site_i14y_drawers_path(@site) if @site.gets_i14y_results
  %li{ site_nav_css_class_hash(*%w(boosted_contents boosted_contents_bulk_uploads)) }= link_to 'Best Bets: Text', site_best_bets_texts_path(@site)
  %li{ site_nav_css_class_hash('featured_collections') }= link_to 'Best Bets: Graphics', site_best_bets_graphics_path(@site)
  %li{ site_nav_css_class_hash('routed_queries') }= link_to 'Routed Queries', site_routed_queries_path(@site)
  %li{ site_nav_css_class_hash('rss_feeds') }= link_to 'RSS', site_rss_feeds_path(@site)
  %li{ site_nav_css_class_hash('youtube_profiles') }= link_to 'YouTube', site_youtube_channels_path(@site)
  %li{ site_nav_css_class_hash('twitter_profiles') }= link_to 'Twitter', site_twitter_handles_path(@site)
  %li{ site_nav_css_class_hash('flickr_profiles') }= link_to 'Flickr', site_flickr_urls_path(@site)
  - if @site.instagram_profiles.any?
    %li{ site_nav_css_class_hash('instagram_profiles') }= link_to 'Instagram', site_instagram_usernames_path(@site)
