.main-nav-info
  .title Manage Content
%ul.nav.nav-list
  %li{ site_nav_css_class_hash('contents') }= link_to 'Content Overview', site_content_path(@site)
  %li{ site_nav_css_class_hash(*%w(domains excluded_urls indexed_documents site_feed_urls)) }= link_to 'Domains', site_domains_path(@site)
  %li{ site_nav_css_class_hash('document_collections') }= link_to 'Collections', site_collections_path(@site)
  %li{ site_nav_css_class_hash('boosted_contents') }= link_to 'Best Bets: Text', site_best_bets_texts_path(@site)
  %li{ site_nav_css_class_hash('rss_feeds') }= link_to 'RSS', site_rss_feeds_path(@site)
  %li{ site_nav_css_class_hash('youtube_profiles') }= link_to 'YouTube', site_youtube_usernames_path(@site)
  %li{ site_nav_css_class_hash('twitter_profiles') }= link_to 'Twitter', site_twitter_handles_path(@site)
  %li{ site_nav_css_class_hash('flickr_profiles') }= link_to 'Flickr', site_flickr_urls_path(@site)
