.l-site-nav.main
  - unless @site.nil? || @site.new_record?
    %ul.nav
      = main_nav_item 'Dashboard', site_path(@site), 'fa-dashboard', site_dashboard_controllers
      = main_nav_item 'Analytics', new_site_queries_path(@site), 'fa-bar-chart', site_analytics_controllers
      = main_nav_item 'Content', site_content_path(@site), 'fa-file', site_manage_content_controllers
      = main_nav_item 'Display', edit_site_display_path(@site), 'fa-desktop', site_manage_display_controllers
      = main_nav_item 'Preview', search_path(affiliate: @site.name), 'fa-eye', [], target: '_blank'
      = main_nav_item 'Activate', site_embed_code_path(@site), 'fa-code', site_activate_search_controllers
.l-site-nav.sub
  - if @site.nil? || @site.new_record?
    = render('sites/shared/new_site_sub_nav') if controller_name == 'sites'
  - else
    = render('sites/shared/dashboard_sub_nav') if site_dashboard_controllers.include?(controller_name)
    = render('sites/shared/manage_content_sub_nav') if site_manage_content_controllers.include?(controller_name)
    = render('sites/shared/manage_display_sub_nav') if site_manage_display_controllers.include?(controller_name)
    = render('sites/shared/activate_search_sub_nav') if site_activate_search_controllers.include?(controller_name)
    = render('sites/shared/analytics_sub_nav') if site_analytics_controllers.include?(controller_name)
