= content_for_site_page_title @site, 'Clicks from a Query'
.sub-nav-heading
  %h2 Clicks from a Query
  .action-bar
    %ul

%h3= "Top Clicks on '#{@query}' from #{@start_date} to #{@end_date}"

%table.table.table-striped.table-bordered.table-kv-pairs
  %thead
    %tr
      %th Top URLs Clicked
      %th # of Clicks
      %th View Queries
  %tbody
    - @top_urls.each_with_index do |(url, total), idx|
      %tr
        %td
          = "#{idx+1}. "
          = linked_shortened_url_without_protocol(url)
        %td= number_with_delimiter(total)
        %td= link_to "View Queries", site_click_queries_path(@site,
          {:url => url, :start_date => @start_date, :end_date => @end_date})
