= affiliate_center_breadcrumbs([ link_to(h(@affiliate.display_name), affiliate_path(@affiliate)), 'Related Topics'])

%h1
  Related Topics
%p
  Related Topics display up to five searches related to your customers' original search in the left sidebar of your search results page.

.span-24{:style => 'margin-bottom: 21px;'}
  = form_tag preferences_affiliate_related_topics_path(@affiliate), :class=> "bordered" do
    %h1
      Preferences
    %ul{:style => 'list-style-type: none;'}
      %li
        = radio_button_tag 'related_topics_setting', 'affiliate_enabled', @affiliate.is_affiliate_related_topics_enabled?
        Display related topics based on your site's search analytics
      %li
        = radio_button_tag 'related_topics_setting', 'global_enabled', @affiliate.is_global_related_topics_enabled?
        Display related topics based on Search.USA.gov's government-wide search analytics
      %li
        = radio_button_tag 'related_topics_setting', 'disabled', @affiliate.is_related_topics_disabled?
        Don't display related topics
    = submit_tag "Set Preferences"
.prepend-1.span-24.center-outer
  .center-inner
    = link_to(image_tag('preview.png', :alt=>"Preview Button"), preview_affiliate_path(@affiliate), :title => "Preview")
