= content_for_site_page_title @site, 'Settings'
= form_for @site, as: :site, url: site_setting_path(@site), html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Settings
    .action-bar
      = link_to_current_help_page
      = f.submit 'Save Settings', class: 'btn submit disabled', disabled: true

  = render_site_flash_message
  = f.error_messages class: 'alert alert-error', header_tag: 'h3'
  = f.label :display_name, 'Site Name', class: 'required'
  %span.help-block We use your site handle in the HTTP request to specify displaying your customized settings. This field is required.
  = f.text_field :display_name, class: 'required'
  %dl
    %dt Site Handle
    %dd= @site.name
    %dt Site ID
    %dd= @site.id
    %dt Site Language
    %dd= site_locale @site
