= content_for_site_page_title @site, 'Settings'
= form_for @site, as: :site, url: site_setting_path(@site), html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Settings
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= f.submit 'Save Settings', class: 'btn submit disabled', disabled: true

  = render_flash_message
  = render_error_messages(@site)
  = f.label :display_name, 'Display Name', class: 'required'
  = f.text_field :display_name, class: 'required'
  = f.label :website, 'Homepage URL', class: 'required'
  = f.text_field :website, class: 'required'
  %dl
    %dt Site Handle
    %dd= @site.name
    %dt Site ID
    %dd= @site.id
    %dt Site Language
    %dd= site_locale @site
.l-inner-content
  = link_to 'Clone this Site', new_site_clone_path(@site)
  = button_to('Delete', site_path(@site), :data => {:confirm => "Are you sure you want to delete this site?"}, :method => :delete, :class => 'btn btn-danger')
