= content_for_site_page_title @site, 'Watchers'
.sub-nav-heading
  %h2 Watchers
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page
      %li= link_to 'Add Watcher', new_site_no_results_watcher_path(@site)

= render_flash_message
- if @watchers.present?
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Type
        %th Check Interval
        %th Throttle Period
        %th &nbsp
    %tbody
      - @watchers.each do |watcher|
        %tr
          %td= watcher.name
          %td= watcher.type.titleize
          %td= watcher.check_interval
          %td= watcher.throttle_period
          %td.actions
            %ul
              %li= link_to 'Edit', edit_polymorphic_path([@site, watcher])
              %li= button_to 'Remove',
                  polymorphic_path([@site, watcher]),
                  method: :delete,
                  class: 'btn btn-small',
                  data: { confirm: "Are you sure you wish to delete this watcher?" }
- else
  %p
    Watchers let you get alerted when certain conditions are met. You don't have any watchers defined yet.
  %p= link_to "Create a No Results watcher", new_site_no_results_watcher_path(@site)