= content_for_site_page_title @site, 'Add Analytics Alert'
= custom_form_for @watcher, url: { action: :create }, html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2= "Add Alert - #{@watcher.label}"
    .action-bar
      %ul
        %li= link_to 'View All', site_watchers_path(@site)
        %li= f.submit 'Add', class: 'btn submit disabled', disabled: true
  = render f
