= content_for_site_page_title @site, 'Content Overview'
.sub-nav-heading
  %h2 Content Overview
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page

= render_site_flash_message
%ul.content
  %li.content-item.domains
    = link_to site_domains_path(@site) do
      %i.icon-globe.icon-4x
      %div.name Domains
  %li.content-item
    = link_to site_collections_path(@site) do
      %span.no-icon Collections
  %li.content-item
    = link_to site_best_bets_texts_path(@site) do
      %span.no-icon Best Bets: Text (Coming Soon)
  %li.content-item
    = link_to '#' do
      %span.no-icon Best Bets: Graphics
  %li.content-item.rss
    = link_to site_rss_feeds_path(@site) do
      = image_tag 'sites/rss_logo.png', alt: 'YouTube logo', style: 'text-align: center'
      %div.name RSS
  %li.content-item.youtube
    = link_to site_youtube_usernames_path(@site) do
      = image_tag 'sites/youtube_logo.png', alt: 'YouTube logo'
      %div.name YouTube
  %li.content-item.twitter
    = link_to site_twitter_handles_path(@site) do
      = image_tag 'sites/twitter_logo.png', alt: 'Twitter logo'
      %div.name Twitter
  %li.content-item.flickr
    = link_to site_flickr_urls_path(@site) do
      = image_tag 'sites/flickr_logo.png', alt: 'Flickr logo'
      %div.name Flickr
