%table
  %tr
    %td
      = form.label :contact_name, "Name*"
    %td
      = form.text_field :contact_name, :class => "text"
  %tr
    %td
      = form.label :organization_name, "Government organization"
    %td
      = form.text_field :organization_name, :class => "text"
  %tr
    %td
      = form.label :email, "Email*"
    %td
      = form.text_field :email, :class => "text"
  - if !@user.new_record? && @user.is_affiliate_or_higher
    %tr
      %td
        = form.label :phone
      %td
        = form.text_field :phone, :class => "text"
    %tr
      %td
        = form.label :address, "Organization address"
      %td
        = form.text_field :address, :class => "text"
    %tr
      %td
        = form.label :address2, "Address 2"
      %td
        = form.text_field :address2, :class => "text"
    %tr
      %td
        = form.label :city
      %td
        = form.text_field :city, :class => "text"
    %tr
      %td
        = form.label :state
      %td
        = us_state_select 'user', 'state'
    %tr
      %td
        = form.label :zip
      %td
        = form.text_field :zip, :class => "text"
  %tr
    %td
      = form.label :password, form.object.new_record? ? 'Password*' : "Change password"
    %td
      = form.password_field :password, :class => "text"
  %tr
    %td
      = form.label :password_confirmation, form.object.new_record? ? "Password confirmation*" : "Password confirmation"
    %td
      = form.password_field :password_confirmation, :class => "text"
  %tr
    %td{:colspan => 2}
      * Required
  - if @user.new_record?
    %tr
      %td{:colspan => 2}
        %span.loud
          Select one:
    %tr
      %td{:colspan => 2}
        = form.radio_button :government_affiliation, "1"
        = form.label :government_affiliation_1, "I am a government employee or contractor.", :class => "text"
        %br
        = form.radio_button :government_affiliation, "0"
        = form.label :government_affiliation_0, "I am not affiliated with a government agency.", :class => "text"
