= render_flash_message
= render_error_messages(@user)

= form.label :contact_name, 'Name', class: 'required'
= form.text_field :contact_name, class: 'required input-primary'
= form.label :organization_name, 'Government agency'
= form.text_field :organization_name
= form.label :email, 'Email', class: 'required'
= form.email_field :email, class: 'required'
