%dl
  %dt= form.label :email
  %span.small Your email must end in ".gov".
  %dd= form.text_field :email, :class => "text"
  %dt= form.label :contact_name
  %dd= form.text_field :contact_name, :class => "text"

  %dt= form.label :phone
  %dd= form.text_field :phone, :class => "text"
  %dt= form.label :organization_name
  %dd= form.text_field :organization_name, :class => "text"
  %dt= form.label :address, "Organization address"
  %dd= form.text_field :address, :class => "text"
  %dt= form.label :address2, "Address line 2"
  %dd= form.text_field :address2, :class => "text"
  %dt= form.label :city
  %dd= form.text_field :city, :class => "text"
  %dt= form.label :state
  %dd= us_state_select 'user', 'state'
  %dt= form.label :zip
  %dd= form.text_field :zip, :class => "text"

  %dt= form.label :time_zone
  %dd= form.time_zone_select('time_zone', ActiveSupport::TimeZone.us_zones)
  %dt= form.label :password, form.object.new_record? ? nil : "Change password"
  %dd= form.password_field :password, :class => "text"
  %dt= form.label :password_confirmation
  %dd= form.password_field :password_confirmation, :class => "text"
