= render_error_messages(@user)
= form.label :contact_name, 'Your full name'
= form.text_field :contact_name, placeholder: 'Your full name'
= form.label :organization_name, 'Federal government agency'
= form.text_field :organization_name, placeholder: 'Federal government agency'
= form.label :email
= form.email_field :email, placeholder: 'Email'
= form.label :password
= form.password_field :password, placeholder: 'Password'
= render partial: 'users/password_requirements'
- if form.object.new_record?
  = label_tag :recaptcha_response_field, 'Word verification'
  = recaptcha_tags display: { theme: 'white' }
.tos
  By clicking Sign up, you agree to the
  = link_to 'Terms of Service', Rails.application.secrets.organization[:tos_url], target: '_blank'
  and that you're a federal government employee or contractor acting within the scope of your federal government contract.
