= content_for :title, 'Edit My Account'

= form_for @user, url: user_complete_registration_url(@user), method: :post, html: { class: 'form' }  do |form|
  .sub-nav-heading
    %h2 Edit My Account
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= form.submit 'Save', class: 'btn submit disabled', disabled: true
  = render form
