= content_for :title, 'Sign up'
= content_for :navigation do
  %ul.nav.login
    %li= link_to 'Login', login_path
#new-user
  %h1
    %p Federal agencies, set up your free search box today.
    %p You can be up and running in minutes.
  .without-site-wrapper
    = form_for @user, html: { id: 'user-form' } do |f|
      = render_flash_message(false)
      = render partial: 'new_form', locals: { form: f }
      = f.submit 'Sign up'
