- if @user.is_affiliate?
  .span-16.contentcard
    %h2 Affiliates #{link_to "(new)", new_affiliate_path, :class => "small"}
    -if @user.affiliates.empty?
      %p.alt You currently have no affiliates.
      %p= link_to "Add Affiliate", new_affiliate_path
    -else
      %table
        - @user.affiliates.each do |affiliate|
          %tr
            %td= h affiliate.name
            %td
              = link_to "Edit", edit_affiliate_path(affiliate)
              |
              = link_to "View current", search_url(:affiliate=> affiliate.name, :query=>"gov")
              - if affiliate.has_staged_content?
                |
                = link_to "View staged", search_url(:affiliate=> affiliate.name, :query=>"gov", :staged => 1)
                |
                = button_to "Push Changes", push_content_for_affiliate_path(affiliate)
              |
              = link_to "Boosted sites", new_affiliate_boosted_sites_upload_path(affiliate)
              |
              = button_to "Delete Affiliate", affiliate_path(affiliate), :title => "Delete this affiliate", :confirm => "You are about to delete this affiliate. Are you sure?", :method => :delete

.span-16.contentcard
  %h2
    Account Profile
    =link_to "Edit your profile", edit_account_path
  %dl
    %dt Email:
    %dd= h @user.email
    %dt Contact Name:
    %dd= h @user.contact_name
    %dt Time Zone:
    %dd= h @user.time_zone
    %dt Organization Name:
    %dd= h @user.organization_name
    %dt Address:
    %dd= h @user.address
    %dt Address Line 2:
    %dd= h @user.address2
    %dt City:
    %dd= h @user.city
    %dt State:
    %dd= h @user.state
    %dt Zip:
    %dd= h @user.zip
    %dt Phone:
    %dd= h @user.phone
