%h1
  My Account
.span-14.header-box
  API Key
.span-14.content-box
  Your API key is:
  %b= @user.api_key
.clear
.span-14.header-box
  Account Profile
  =link_to "Edit your profile", edit_account_path
.span-14.content-box
  %dl
    %dt Email:
    %dd&= @user.email
    %dt Contact Name:
    %dd&= @user.contact_name
    - if @user.is_affiliate_or_higher
      %dt Time Zone:
      %dd&= @user.time_zone
      %dt Organization Name:
      %dd&= @user.organization_name
      %dt Address:
      %dd&= @user.address
      %dt Address Line 2:
      %dd&= @user.address2
      %dt City:
      %dd&= @user.city
      %dt State:
      %dd&= @user.state
      %dt Zip:
      %dd&= @user.zip
      %dt Phone:
      %dd&= @user.phone
