= render_flash_message
= form.error_messages class: 'alert alert-error', header_tag: 'h3'
- if %(new create).include? action_name
  = form.label :handle, 'Handle', class: 'required'
  = form.text_field :handle, class: 'required input-primary'
= form.label :description, 'Description'
= form.text_field :description