= content_for_site_page_title @site, 'i14y Drawers'
.sub-nav-heading
  %h2 i14y Drawers
  .action-bar
    %ul
      %li= link_to 'Add i14y Drawer', new_site_i14y_drawer_path(@site)

= render_flash_message
%table.table.table-striped
  %thead
    %tr
      %th Handle
      %th Description
      %th Document Total
      %th Last Document Sent
      %th &nbsp
  %tbody
    - @i14y_drawers.each do |i14y_drawer|
      %tr
        = i14y_drawer_data_row(i14y_drawer)
        %td.actions.actions-3x
          %ul
            %li= link_to 'Show', site_i14y_drawer_path(@site, i14y_drawer.id)
            %li= link_to 'Edit', edit_site_i14y_drawer_path(@site, i14y_drawer.id)
            %li= button_to 'Remove',
                site_i14y_drawer_path(@site, i14y_drawer.id),
                method: :delete,
                class: 'btn btn-small',
                data: { confirm: deletion_confirmation(i14y_drawer) }
