%p
  %h1= t :text_size_title
  %div= t :text_size_translation_link
%h3= t :text_size_header_1
%p= t :text_size_paragraph_1
%h3= t :text_size_header_2
%p= t :text_size_paragraph_2
%p= t :text_size_paragraph_3