:markdown
  This API (v2) exposes all relevant results “modules” in a single JSON call, including:




  * Web results;
  * Best bets; and
  * Related searches.




  Recent tweets, videos, and news, job openings, *Federal Register* documents, health topics, and spelling suggestions will be added in the coming weeks.




  ## Resource URL




  The endpoint is `#{api_scheme_and_host}/api/v2/search`.




  You must use https.




  ## Required Search Parameters




  Three parameters are required: `affiliate`, `access_key`, and `query`.


  `#{api_scheme_and_host}/api/v2/search?affiliate=#{@site.name}&access_key=#{@site.api_access_key}&query={YOUR_SEARCH_TERM}`




  You can find your access key on the  [API Access Key](#{site_api_access_key_path(@site)}) page.
  You can find your site handle on the [Settings](#{edit_site_setting_path(@site)}) page.
  * Replace {YOUR_SEARCH_TERM} with a word or phrase of your choice.




  Note that your access key is unique to your site handle so they must be paired properly to return results.




  ## Optional Search Parameters




  All other parameters are optional: `enable_highlighting`, `limit`, `offset`, `sort_by`.




  ### enable_highlighting




  Enables or disables the highlighting of keywords in the results. The default is 'true' so use 'false' to disable highlighting.




  `#{api_scheme_and_host}/api/v2/search?affiliate=#{@site.name}&access_key=#{@site.api_access_key}&query={YOUR_SEARCH_TERM}&enable_highlighting=false`




  ### limit




  Defines the number of results to return. The default is 20, but you can specify between 1 and 50 results.




  `#{api_scheme_and_host}/api/v2/search?affiliate=#{@site.name}&access_key=#{@site.api_access_key}&query={YOUR_SEARCH_TERM}&limit=5`




  ### offset




  Defines the number of results you want to skip from the first result. The default is 0 and the maximum is 999.




  `#{api_scheme_and_host}/api/v2/search?affiliate=#{@site.name}&access_key=#{@site.api_access_key}&query={YOUR_SEARCH_TERM}&offset=20`



  ### sort_by




  Sort the results by date. The default is sort by relevance.




  `#{api_scheme_and_host}/api/v2/search?affiliate=#{@site.name}&access_key=#{@site.api_access_key}&query={YOUR_SEARCH_TERM}&sort_by=date`


  ## Response Fields




  Each item returns a unique set of fields.




  ### web


  Web results from our DigitalGov Search indexes.




  | Values   | Description
  | :--      | :--
  | title    | Title of the document
  | url      | URL of the document
  | snippet  | Summary of the document
  | pub_date | Publication date of the document (not available on commercial results)




  ###text_best_bets


  Text best bets, which appear only when the query matches the text of the best bet’s title, description, or keywords.


  | Values      | Description
  | :--         | :--
  | title       | Title of the best bet
  | url         | URL of the best bet
  | description | Description of the best bet




  ### graphic_best_bets


  Graphic best bets, which appear only when the query matches the text of the best bet’s title, description, or keywords.


  | Values         | Description
  | :--            | :--
  | title          | title of the graphic best bet
  | title_url      | URL of the graphic best bet
  | image_url      | URL of the graphic image
  | image_alt_text | Alternative text of the image
  | links          | Array for links in the graphic best bet. Each array contains a title and a url




  ### related_search_terms


    An array of related search terms, which are based on recent, common searches on the your site.


  ## Additional Instructions for Commercial API Keys


  If you’ve [bought an API key from Bing or Google](#{commercial_keys_site_api_instructions_path(@site)}), follow the additional instructions below to return their respective results.


  ### Azure (Bing) Web Results


  Append /azure to the endpoint: `#{api_scheme_and_host}/api/v2/search/azure`.


  In addition to the required and optional parameters above, `api_key` is required.


  `#{api_scheme_and_host}/api/v2/search/azure?affiliate=#{@site.name}&access_key=#{@site.api_access_key}&query={YOUR_SEARCH_TERM}&api_key={YOUR_API_KEY}`


  Include your Azure account key as the value for `api_key`.


  Note that the Bing Search API doesn’t provide the total of number of web results so they’re not included in the response.


  ### Google (Site Search) Web Results


  Append /gss to the endpoint: `#{api_scheme_and_host}/api/v2/search/gss`.


  In addition to the required and optional parameters above, `api_key` and `cx` are required.


  `#{api_scheme_and_host}/api/v2/search/gss?affiliate=#{@site.name}&access_key=#{@site.api_access_key}&query={YOUR_SEARCH_TERM}&api_key={YOUR_API_KEY}&cx={YOUR_CX}`


  Include your Google account key as the value for `api_key`. Include your Google Custom Search Engine (cx) key as the value for `cx`.


  Note that the Google Site Search only returns 10 results so the default `limit` is 10, not 20. You can specify between 1 and 10 results.




  ## Terms of Service


  By using this API, you agree to our [Terms of Service](http://search.digitalgov.gov/tos).


  ## Legacy API (v1) Instructions


  If you're using API v1, you can still access the [instructions](#{v1_site_api_instructions_path(@site)}).
