:markdown
  <!-- Reminder to update https://open.gsa.gov/api/searchgov-results/ with any changes here. -->

  This API exposes all relevant results “modules” in a single JSON call, including:




  * Web results;
  * Best bets;
  * Health topics;
  * Job openings;
  * Recent tweets;
  * Recent news;
  * Recent video news;
  * Federal Register documents; and
  * Related searches.


  ## Note about Web Results and Endpoints




  The endpoint you use to retrieve web results through this API will depend on the method we used to index your content. If we don't yet have your content indexed, you won't see results in the API.
  
  We can index content using your [XML sitemap](https://search.gov/blog/sitemaps.html) (preferred), [RSS feeds](#{site_rss_feeds_path(@site)}), or the [indexing API, i14y](https://search.gov/developer/i14y.html). We can also deploy a crawler on a limited basis.
  
  Sites indexed via sitemaps, crawling, or i14y will use the `/search/i14y` endpoint. Sites indexed via RSS will use the top level `/search` endpoint.
  
  If we don't have your content indexed and you want to use the results API, you must [purchase an API key from Bing](#{commercial_keys_site_api_instructions_path(@site)}) to use their results. We are not able to pass the Bing results you may see on our hosted results page through APIs.

  ## Resource URL




  The endpoint is `#{api_scheme_and_host}/api/v2/search`.




  You must use https.




  ## Required Parameters




  Three parameters are required: `affiliate`, `access_key`, and `query`.


  `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}`




  * You can find your access key on the  [API Access Key](#{site_api_access_key_path(@site)}) page.
  * You can find your site handle on the [Settings](#{edit_site_setting_path(@site)}) page.
  * Replace {YOUR_SEARCH_TERM} with a word or phrase of your choice.




  Note that your access key is unique to your site handle so they must be paired properly to return results.




  ## Optional Search Parameters




  All other parameters are optional: `enable_highlighting`, `limit`, `offset`, `sort_by`.




  * ### enable_highlighting




      Enables or disables the highlighting of keywords in the results. The default is 'true' so use 'false' to disable highlighting. The opening and closing highlighting characters are `<U+E000>` and `<U+E001>`, which both look like "". You can learn more about them [here](http://unicodesymbols.wikia.com/wiki/U%2BE000) and [here](http://unicodesymbols.wikia.com/wiki/U%2BE001) (external resources). Your team will determine how to display the characters, whether as bold, italics, or some other preferred highlighting style.




      `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&enable_highlighting=false`




  * ### limit




      Defines the number of results to return. The default is 20, but you can specify between 1 and 50 results.




      `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&limit=5`




  * ### offset




      Defines the number of results you want to skip from the first result. The default is 0 and the maximum is 999.




      `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&offset=20`




  * ### sort_by




      Sort the results by date. The default is sort by relevance.




      `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&sort_by=date`




  ## Response Fields




  Each item returns a unique set of fields.




  * ### web:results




      Web results from our Search.gov indexes.




      | Values           | Description
      | :--              | :--
      | title            | Title of the document
      | url              | URL of the document
      | snippet          | Summary of the document
      | publication_date | Publication date of the document (not available on commercial results)




  * ### web:total




      Total number of results available.




  * ### web:next_offset




      Offset for the subsequent results.




  * ### web:spelling_correction




    Spelling correction for your search term.




  * ### text_best_bets




      Text best bets, which appear only when the query matches the text of the best bet’s title, description, or keywords.




      | Values      | Description
      | :--         | :--
      | title       | Title of the best bet
      | url         | URL of the best bet
      | description | Description of the best bet




  * ### graphic_best_bets




      Graphic best bets, which appear only when the query matches the text of the best bet’s title, description, or keywords.




      | Values         | Description
      | :--            | :--
      | title          | Title of the graphic best bet
      | title_url      | URL of the graphic best bet
      | image_url      | URL of the graphic image
      | image_alt_text | Alternative text of the image
      | links          | An array of links in the graphic best bet. Each link contains a title and a URL




  * ### health_topics




      | Values         | Description
      | :--            | :--
      | title          | Title of the health topic
      | url            | URL of the health topic
      | snippet        | Snippet of the health topic
      | related_topics | An array of topics related to the health topic. Each topic contains a title and a URL
      | related_sites  | An array of sites related to the the health topic. Each site contains a title and a URL




  * ### job_openings




      | Values             | Description
      | :--                | :--
      | position_title     | Position title of the job opening
      | organization_name  | Organization name of the job opening
      | rate_interval_code | Rate interval code of the job opening
      | minimum            | Minimum salary of the job opening
      | maximum            | Maximum salary of the job opening
      | start_date         | Start date of the job opening
      | end_date           | End date of the job opening
      | locations          | An array of locations of the job opening
      | url                | URL of the job opening




  * ### recent_tweets




      | Values            | Description
      | :--               | :--
      | text              | Text of the tweet
      | url               | URL of the tweet
      | name              | Name of the tweet author
      | screen_name       | Screen name of the tweet author
      | profile_image_url | URL of the tweet author profile image




  * ### recent_news




      Recent news from our Search.gov indexes. Only available with commercial results.




      | Values           | Description
      | :--              | :--
      | title            | Title of the recent news
      | url              | URL of the recent news
      | snippet          | Snippet of the recent news
      | publication_date | Publication date of the recent news
      | source           | Source of the recent news




  * ### recent_video_news




      Recent video news from our Search.gov indexes. Only available with commercial results.




      | Values           | Description
      | :--              | :--
      | title            | Title of the recent video news
      | url              | URL of the recent video news
      | snippet          | Snippet of the recent video news
      | publication_date | Publication date of the recent video news
      | source           | Source of the recent video news
      | thumbnail_url    | Thumbnail URL of the recent video news




  * ### federal_register_documents




      Federal Register documents




      | Values              | Description
      | :--                 | :--
      | id                  | The ID of the document as known to usasearch
      | document_number     | Document number of the federal register document
      | document_type       | Document type of the federal register document
      | title               | Title of the federal register document
      | url                 | URL of the federal register document
      | agency_names        | An array of agency names of the federal register document
      | page_length         | Page length of the federal register document
      | start_page          | Start page of the federal register document
      | end_page            | End page of the federal register document
      | publication_date    | Publication date of the federal register document
      | comments_close_date | Comments close date of the federal register document




  * ### related_search_terms




      An array of related search terms, which are based on recent, common searches on the your site.



  ## Routed Queries


    If you have [routed queries](https://search.gov/manual/routed-queries.html) set in your Admin page, then any matching query terms will change the API response.

    For example, if you set queries for `example` to route to `https://search.gov` then the following API call:

    `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query=example`

    Will then return this response:

    `{"route_to":"https://search.gov"}`

    With this response you can redirect your users to the url. Here is an example with javascript:

    ```javascript
    var request = new XMLHttpRequest();
    var apiUrl = '#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query=example'

    request.open('GET', apiUrl, true);

    request.onload = function() {
        if (this.status >= 200 && this.status < 400) {
            // Success!
            var data = JSON.parse( this.response );
            window.location.replace( data.route_to );
        } else {
            // We reached our target server, but it returned an error
        }
    };

    request.onerror = function() {
        // There was a connection error of some sort
    };

    request.send();
    ```


  ## I14y API


    The endpoint is `#{api_scheme_and_host}/api/v2/search/i14y`.




    It uses the same required parameters. All optional parameters are supported.




    `#{api_scheme_and_host}/api/v2/search/i14y?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}`




  ## Additional Instructions for Commercial API Keys


  If you’ve [bought an API key from Bing](#{commercial_keys_site_api_instructions_path(@site)}), follow the additional instructions below to return their results.




  ### Microsoft Cognitive Services - Bing Search API Web Results

    The endpoint is `#{api_scheme_and_host}/api/v2/search/azure/web`.

    In addition to the required and optional parameters above, api_key is required.
    Your key must have a subscription for Cognitive Services Bing Search APIs.

    `#{api_scheme_and_host}/api/v2/search/azure/web?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&api_key={YOUR_API_KEY}`

    Note that the response only includes results for the Web module.


  ### Microsoft Cognitive Services -- Bing Search API Image Results

    The endpoint is `#{api_scheme_and_host}/api/v2/search/azure/image`.

    In addition to the required and optional parameters above, api_key is required.
    Your key must have a subscription for Cognitive Service Bing Search APIs.

    `#{api_scheme_and_host}/api/v2/search/azure/image?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&api_key={YOUR_API_KEY}`

    Note that the response only includes results for the Image module.

  #### Image Response Fields

    * Each image result has the following fields:

    | Values                 | Description
    | :--                    | :--
    | title                  | Title of the image
    | url                    | URL of the image
    | media_url              | URL of the page containing the image
    | display_url            | display version of URL of the page containint the image
    | content_type           | Image file format
    | file_size              | Number of bytes in the image
    | width                  | Image pixel width
    | height                 | Image pixel height
    | thumbnail:url          | URL of the thumbnail
    | thumbnail:content_type | File format of the thumbnail (always null as of 2017)
    | thumbnail:file_size    | Number of bytes in the thumbnail (always null as of 2017)
    | thumbnail:width        | Thumbnail pixel width
    | thumbnail:height       | Thumbnail pixel height





