:markdown
  This API exposes all relevant results “modules” in a single JSON call, including:




  * Web results;
  * Best bets;
  * Health topics;
  * Job openings;
  * Recent tweets;
  * Recent news;
  * Recent video news;
  * Federal Register documents; and
  * Related searches.


  ## Note about Web Results




  To retrieve web results through this API, you must either use our indexes (populated via the [i14y API](http://search.digitalgov.gov/developer/i14y.html) or via [RSS](#{site_rss_feeds_path(@site)})), or you must [purchase an API key from Bing or Google](#{commercial_keys_site_api_instructions_path(@site)}) to use their results. We are not able to pass Bing results through APIs.

  ## Resource URL




  The endpoint is `#{api_scheme_and_host}/api/v2/search`.




  You must use https.




  ## Required Parameters




  Three parameters are required: `affiliate`, `access_key`, and `query`.


  `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}`




  * You can find your access key on the  [API Access Key](#{site_api_access_key_path(@site)}) page.
  * You can find your site handle on the [Settings](#{edit_site_setting_path(@site)}) page.
  * Replace {YOUR_SEARCH_TERM} with a word or phrase of your choice.




  Note that your access key is unique to your site handle so they must be paired properly to return results.




  ## Optional Search Parameters




  All other parameters are optional: `enable_highlighting`, `limit`, `offset`, `sort_by`.




  * ### enable_highlighting




      Enables or disables the highlighting of keywords in the results. The default is 'true' so use 'false' to disable highlighting.




      `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&enable_highlighting=false`




  * ### limit




      Defines the number of results to return. The default is 20, but you can specify between 1 and 50 results.




      `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&limit=5`




  * ### offset




      Defines the number of results you want to skip from the first result. The default is 0 and the maximum is 999.




      `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&offset=20`




  * ### sort_by




      Sort the results by date. The default is sort by relevance.




      `#{api_scheme_and_host}/api/v2/search?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&sort_by=date`




  ## Response Fields




  Each item returns a unique set of fields.




  * ### web:results




      Web results from our DigitalGov Search indexes.




      | Values           | Description
      | :--              | :--
      | title            | Title of the document
      | url              | URL of the document
      | snippet          | Summary of the document
      | publication_date | Publication date of the document (not available on commercial results)




  * ### web:total




      Total number of results available.




  * ### web:next_offset




      Offset for the subsequent results.




  * ### web:spelling_correction




    Spelling correction for your search term. Not available with Microsoft Azure -- Bing Web Results Only.




  * ### text_best_bets




      Text best bets, which appear only when the query matches the text of the best bet’s title, description, or keywords.




      | Values      | Description
      | :--         | :--
      | title       | Title of the best bet
      | url         | URL of the best bet
      | description | Description of the best bet




  * ### graphic_best_bets




      Graphic best bets, which appear only when the query matches the text of the best bet’s title, description, or keywords.




      | Values         | Description
      | :--            | :--
      | title          | Title of the graphic best bet
      | title_url      | URL of the graphic best bet
      | image_url      | URL of the graphic image
      | image_alt_text | Alternative text of the image
      | links          | An array of links in the graphic best bet. Each link contains a title and a URL




  * ### health_topics




      | Values         | Description
      | :--            | :--
      | title          | Title of the health topic
      | url            | URL of the health topic
      | snippet        | Snippet of the health topic
      | related_topics | An array of topics related to the health topic. Each topic contains a title and a URL
      | related_sites  | An array of sites related to the the health topic. Each site contains a title and a URL




  * ### job_openings




      | Values             | Description
      | :--                | :--
      | position_title     | Position title of the job opening
      | organization_name  | Organization name of the job opening
      | rate_interval_code | Rate interval code of the job opening
      | minimum            | Minimum salary of the job opening
      | maximum            | Maximum salary of the job opening
      | start_date         | Start date of the job opening
      | end_date           | End date of the job opening
      | locations          | An array of locations of the job opening
      | url                | URL of the job opening




  * ### recent_tweets




      | Values            | Description
      | :--               | :--
      | text              | Text of the tweet
      | url               | URL of the tweet
      | name              | Name of the tweet author
      | screen_name       | Screen name of the tweet author
      | profile_image_url | URL of the tweet author profile image




  * ### recent_news




      Recent news from our DigitalGov Search indexes. Only available with commercial results.




      | Values           | Description
      | :--              | :--
      | title            | Title of the recent news
      | url              | URL of the recent news
      | snippet          | Snippet of the recent news
      | publication_date | Publication date of the recent news
      | source           | Source of the recent news




  * ### recent_video_news




      Recent video news from our DigitalGov Search indexes. Only available with commercial results.




      | Values           | Description
      | :--              | :--
      | title            | Title of the recent video news
      | url              | URL of the recent video news
      | snippet          | Snippet of the recent video news
      | publication_date | Publication date of the recent video news
      | source           | Source of the recent video news
      | thumbnail_url    | Thumbnail URL of the recent video news




  * ### federal_register_documents




      Federal Register documents




      | Values              | Description
      | :--                 | :--
      | id                  | The ID of the document as known to usasearch
      | document_number     | Document number of the federal register document
      | document_type       | Document type of the federal register document
      | title               | Title of the federal register document
      | url                 | URL of the federal register document
      | agency_names        | An array of agency names of the federal register document
      | page_length         | Page length of the federal register document
      | start_page          | Start page of the federal register document
      | end_page            | End page of the federal register document
      | publication_date    | Publication date of the federal register document
      | comments_close_date | Comments close date of the federal register document




  * ### related_search_terms




      An array of related search terms, which are based on recent, common searches on the your site.




  ## I14y API


    The endpoint is `#{api_scheme_and_host}/api/v2/search/i14y`.




    It uses the same required parameters. All optional parameters except the `sort_by` are supported.




    `#{api_scheme_and_host}/api/v2/search/i14y?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}`




  ## Additional Instructions for Commercial API Keys


  If you’ve [bought an API key from Bing or Google](#{commercial_keys_site_api_instructions_path(@site)}), follow the additional instructions below to return their respective results.




  ### Microsoft Azure -- Bing Web Results Only


  The endpoint is: `#{api_scheme_and_host}/api/v2/search/azure`.


  In addition to the required and optional parameters above, `api_key` is required.


  `#{api_scheme_and_host}/api/v2/search/azure?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&api_key={YOUR_API_KEY}`


  Include your URL encoded Azure account key as the value for `api_key`.


  Note that the Bing Web Results Only API doesn't provide the total of number of web results, so they're not included in the
  response. If you purchase the standard Bing Search Results API results, you will see the the number of web results in the
  response and have the ability to call images.


  ### Microsoft Azure - Bing Search Web Results (Composite)

    The endpoint is `#{api_scheme_and_host}/api/v2/search/azure/web`.

    In addition to the required and optional parameters above, api_key is required.
    Your key must have a subscription for "Bing Search API" (composite) data.

    `#{api_scheme_and_host}/api/v2/search/azure/web?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&api_key={YOUR_API_KEY}`

    Note that the response only includes results for the Web module.


  ### Microsoft Azure -- Bing Image Results (Composite)

    The endpoint is `#{api_scheme_and_host}/api/v2/search/azure/image`.

    In addition to the required and optional parameters above, api_key is required.
    Your key must have a subscription for "Bing Search API" (composite) data.

    `#{api_scheme_and_host}/api/v2/search/azure/image?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&api_key={YOUR_API_KEY}`

    Note that the response only includes results for the Image module.

  #### Image Response Fields

    * Each image result has the following fields:

    | Values                 | Description
    | :--                    | :--
    | title                  | Title of the image
    | url                    | URL of the image
    | media_url              | URL of the page containing the image
    | display_url            | display version of URL of the page containint the image
    | content_type           | Image file format
    | file_size              | Number of bytes in the image
    | width                  | Image pixel width
    | height                 | Image pixel height
    | thumbnail:url          | URL of the thumbnail
    | thumbnail:content_type | File format of the thumbnail
    | thumbnail:file_size    | Number of bytes in the thumbnail
    | thumbnail:width        | Thumbnail pixel width
    | thumbnail:height       | Thumbnail pixel height


  ### Google (Site Search) Web Results


  The endpoint is: `#{api_scheme_and_host}/api/v2/search/gss`.


  In addition to the required and optional parameters above, `api_key` and `cx` are required.


  `#{api_scheme_and_host}/api/v2/search/gss?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query={YOUR_SEARCH_TERM}&api_key={YOUR_API_KEY}&cx={YOUR_CX}`


  Include your URL encoded Google account key as the value for `api_key`. Include your Google Custom Search Engine (cx) key as the value for `cx`.


  Note that the Google Site Search only returns 10 results so the default `limit` is 10, not 20. You can specify between 1 and 10 results.





