:markdown
  ## Overview

  The Search.gov Results API exposes all relevant results “modules” in a single JSON call, including the following:

  * Web results;
  * Best bets;
  * Health topics;
  * Job openings;
  * Federal Register documents; and
  * Related searches.


  ## Getting started

  Please refer to the detailed documentation for the Results API, now publicly available through the [OpenGSA Portal](https://open.gsa.gov/api/searchgov-results/). The information below serves as an introduction.

  We can index content using your [XML sitemap](https://search.gov/blog/sitemaps.html) (preferred), [RSS feeds](#{site_rss_feeds_path(@site)}), or the [indexing API, i14y](https://search.gov/developer/i14y.html). We can also deploy a crawler on a limited basis.

  Sites indexed via sitemaps or crawling will use the `/i14y` endpoint. Because most users are in this category, the example API calls in the documentation are to this endpoint. Sites indexed via RSS will use the top level `/` endpoint, please modify your calls accordingly.


  ## API Key and Resource URL

  The endpoint is `#{api_scheme_and_host}/api/v2/search/i14y`.
  `#{api_scheme_and_host}/api/v2/search/i14y?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query=SEARCH_TERM_ENTERED_IN_YOUR_SEARCH_BOX`

  * Replace {YOUR_SEARCH_TERM} with a word or phrase of your choice.
  * You must use `https`.


  ## Parameters

  For descriptions of the following parameters, please see the full documentation on the [OpenGSA Portal](https://open.gsa.gov/api/searchgov-results/).


  ### Required Parameters

  Three parameters are required: (1) `affiliate`, (2) `access_key`, and (3) `query`. The following pre-formatted example contains all three in their correct form for this specific search site.
  `https://api.gsa.gov/technology/searchgov/v2/results/i14y?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query=SEARCH_TERM_ENTERED_IN_YOUR_SEARCH_BOX`


  ### Optional Parameters

  Optional parameters can be combined with the required parameters and each other.


  * `enable_highlighting` (optional)

      This sample disables highlighting of query terms in the search snippet.
      `https://api.gsa.gov/technology/searchgov/v2/results/i14y?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query=SEARCH_TERM_ENTERED_IN_YOUR_SEARCH_BOX&enable_highlighting=false`

  * `limit` (optional)

      This sample limits the number of items returned at a time to 5.
      `https://api.gsa.gov/technology/searchgov/v2/results/i14y?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query=SEARCH_TERM_ENTERED_IN_YOUR_SEARCH_BOX&limit=5`

  * `offset` (optional)

      This sample instructs the system to skip 20 items and then return results. Used for paginating results.
      `https://api.gsa.gov/technology/searchgov/v2/results/i14y?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query=SEARCH_TERM_ENTERED_IN_YOUR_SEARCH_BOX&offset=20`

  * `sort\_by` (optional)

      This sample sets the sort order to `date`, rather than the default `relevance`.
      `https://api.gsa.gov/technology/searchgov/v2/results/i14y?affiliate=#{h(@site.name)}&access_key=#{h(@site.api_access_key)}&query=SEARCH_TERM_ENTERED_IN_YOUR_SEARCH_BOX&sort_by=date`

  ## Routed Queries

  If you have [Routed Queries](https://search.gov/manual/routed-queries.html) set up in your Admin Center, then any matching query terms will change the API response.

  For instance, if you set the query `example` to route to `https://www.search.gov`, then the expected response will be the following:

  `{"route_to":"https://www.search.gov/"}`

  To fully implement this, you will have to add logic that will process this response and redirect the user. A site-specific API call and javascript sample are available within the  Search Results API Instructions.
