= content_for_site_page_title @site, 'Search Results API Instructions'
.sub-nav-heading
  %h2 Search Results API Instructions
  .action-bar
    %ul

- api_scheme_and_host = "#{request.scheme}://#{request.host_with_port}"

.api-instruction
  = render partial: 'show_web_md', locals: { api_scheme_and_host: api_scheme_and_host }
  = render partial: 'show_video_md', locals: { api_scheme_and_host: api_scheme_and_host }
  = render partial: 'show_tos_md'
