= form.error_messages(:header_message => nil, :class => "error")
.basic-information
  %ul
    %li
      = form.label :title, "Title*"
      = form.text_field :title, { :class => 'text', :maxlength => 255, :size => nil }
    %li
      = form.label :title_url, "Title URL"
      = form.text_field :title_url, { :class => 'text', :maxlength => 255, :size => nil }
    %li
      = form.label :locale, "Locale*", { :class => 'select' }
      = form.select :locale, SUPPORTED_LOCALES.collect { |l| [SUPPORTED_LOCALE_WITH_NAMES[l], l] }, { :include_blank => 'Select a locale' }
    %li
      = form.label :status, "Status*", { :class => 'select' }
      = form.select :status, FeaturedCollection::STATUS_OPTIONS, { :include_blank => 'Select a status' }
    %li
      = form.label :publish_start_on, "Publish start date"
      = form.calendar_date_select :publish_start_on, { :year_range => 0.years.ago..10.years.from_now, :class => 'date' }
    %li
      = form.label :publish_end_on, "Publish end date"
      = form.calendar_date_select :publish_end_on, { :year_range => 0.years.ago..10.years.from_now, :class => 'date' }
%div
  %hr
%h2 Keywords*
.keywords
  %table
    %colgroup
      %col{ :class => 'value' }
    %tbody
      - index = 0
      = form.fields_for :featured_collection_keywords do |keyword_form|
        %tr.row-item
          %td
            = keyword_form.label :value, "Keyword #{index}", { :class => 'hide' }
            - index += 1
            = keyword_form.text_field :value, { :maxlength => 255, :size => nil }
  = link_to 'Add another keyword', '#', :id => 'add_another_keyword'
%div
  %hr
%h2 Links
.links
  %table
    %colgroup
      %col{ :class => 'title' }
      %col{ :class => 'url' }
    %tbody
      %tr.column-header
        %th Title
        %th URL
      - position = 0
      = form.fields_for :featured_collection_links do |link_form|
        %tr.row-item
          %td
            = link_form.hidden_field :position, { :value => position, :class => 'position' }
            = link_form.label :title, "Link Title #{position}", { :class => 'hide' }
            = link_form.text_field :title, { :class => 'title', :maxlength => 255, :size => nil }
          %td
            = link_form.label :url, "Link URL #{position}", { :class => 'hide' }
            = link_form.text_field :url, { :class => 'url', :maxlength => 255, :size => nil }
        - position += 1

  = link_to "Add another link", '#', :id => 'add_another_link'
