.featured-collections
  = affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Best Bets: Graphics"])
  %h1 Best Bets: Graphics
  .featured-collection-list
    %table
      %colgroup
        %col{ :class => 'title' }
        %col{ :class => 'publish-date' }
        %col{ :class => 'publish-date' }
        %col{ :class => 'status' }
        %col{ :class => 'actions' }
      %thead
        %tr
          %th{ :colspan => 5 }
            = link_to "Add new graphics", new_affiliate_featured_collection_path(@affiliate), :class => 'add-link'
            - unless @featured_collections.blank?
              %span= page_entries_info @featured_collections, :entry_name => 'Best Bets: Graphics entry', :html => false
      = render 'shared/featured_collections/affiliate_featured_collection_rows'
    = will_paginate @featured_collections
