= affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Add a new Featured Collection"])
%h1 Add a new Featured Collection
.add-featured-collection
  = form_for([@affiliate, @featured_collection], :html => { :multipart => true }) do |f|
    = render :partial => f
    = f.submit "Add"
    = link_to 'Cancel', affiliate_featured_collections_path(@affiliate), :class => 'cancel'

