#logoHome.center
  = link_to image_tag("/m/i/logo_mobile_#{I18n.locale.to_s}.png"), url_for_mobile_home_page

#searchHome.dvCenter
  %a{:id => "search_box", :name => "search_box"}
  = render :partial => "shared/search"
  - if is_device? 'iphone'
    %style{:type => "text/css", :media => "screen"}
      :plain
        .ac_results {margin-top: -130px;}
#homeNav.dvCenter
  != @site_page.breadcrumb
  != @site_page.main_content
.group.clear
.mobileFooter.pad5
  - if I18n.locale == I18n.default_locale
    %a{:title => "USA.gov", :href => "http://www.usa.gov"} USA.gov Full Site
  - else
    = "Versión: Móvil | "
    %a{:title => "USA.gov", :href => "http://gobiernousa.gov/?mobile-opt-out=true"} Web 
