= content_for_site_page_title @site, 'Clone Site'
= form_tag site_clone_path, class: 'form' do
  .sub-nav-heading
    %h2 Clone Site
    .action-bar
      %ul
        %li= submit_tag "Submit", class: 'btn submit disabled', disabled: true

  = render_flash_message
  = label_tag :name, 'New Site Handle'
  = text_field_tag :name, "#{@site.name}_copy"
