= javascript_tag "var original_query = \"#{escape_javascript @search.query}\";"

= render_navigations(@affiliate, @search, @search_params)
- if @search.kind_of?(NewsSearch) and @search.aggregations and @search.aggregations.any? { |agg| agg.rows.any? }
  - options_expanded = params[:contributor] || params[:publisher] || params[:subject]
  .options-wrapper{ :class => "#{options_expanded ? 'expanded' : nil}" }
    %span#show_options= t(:show_options)
    %span#hide_options= t(:hide_options)
    %span.triangle{ :class => "#{options_expanded ? 'hide-options' : 'show-options'}" }

  .time-filters-and-facets-wrapper{ :class => "#{options_expanded ? 'expanded' : nil}" }
    = render_facet_navs(@affiliate, @search, @search_params)
