.admin-footer
  = link_to "Affiliate Program", affiliates_path
  |
  = link_to "API & Web Services", api_docs_path
  |
  = link_to "Search.USA.gov", root_path
  %br
  = link_to "USASearch Program", program_path
  %p
    US General Services Administration
    %br
    1275 First Street NE, 11th Floor, Washington, DC 20417
    %br
    Email us at: #{mail_to 'USASearch@usa.gov'}
