.affiliate-left-nav
  - if current_user.affiliates.empty?
    = link_to "Add New Site", new_affiliate_path
  - else
    %h3.header Selected Site
    .side-mid
      = select("affiliate", "id", current_user.affiliates.ordered.all.collect {|p| [ p.display_name, p.id ] }, {:prompt => 'Select site'})
      - if @affiliate && @affiliate.id.present?
        .side-block
          %h3 Basic Settings
          %ul
            %li= link_to "Site information", edit_site_information_affiliate_path(@affiliate)
            %li= link_to "Get code", embed_code_affiliate_path(@affiliate)
            %li= link_to "Preview", preview_affiliate_path(@affiliate)
        .side-block
          %h3 Content Sources
          %ul
            %li= link_to "Domains", affiliate_site_domains_path(@affiliate)
            %li= link_to "URLs & Sitemaps", urls_and_sitemaps_affiliate_path(@affiliate)
            %li
              = link_to "RSS", affiliate_rss_feeds_path(@affiliate)
            %li
              = link_to "Collections", affiliate_document_collections_path(@affiliate)
            %li= link_to "Social Media", affiliate_social_media_path(@affiliate)
        .side-block
          %h3 User Interface
          %ul
            %li= link_to "Look and feel", edit_look_and_feel_affiliate_path(@affiliate)
            %li= link_to "Header and footer", edit_header_footer_affiliate_path(@affiliate)
            %li= link_to "Results modules", edit_results_modules_affiliate_path(@affiliate)
            %li= link_to "Sidebar", edit_sidebar_affiliate_path(@affiliate)
        .side-block
          %h3 Editorial Features
          %ul
            %li= link_to "Best bets", best_bets_affiliate_path(@affiliate)
            %li= link_to "Type-ahead search", affiliate_type_ahead_search_index_path(@affiliate)
        .side-block
          %h3 Site Analytics
          %ul
            %li= link_to "Trending queries", trending_queries_affiliate_analytics_path(@affiliate)
            %li= link_to "Query logs", affiliate_analytics_path(@affiliate)
            %li= link_to "Click stats", top_urls_affiliate_analytics_path(@affiliate)
            %li= link_to "Monthly reports", monthly_reports_affiliate_analytics_path(@affiliate)
            %li= link_to "Page views", left_nav_usage_affiliate_analytics_path(@affiliate)
            %li= link_to "Low CTR queries", low_ctr_queries_affiliate_analytics_path(@affiliate)
        .side-block
          %h3 Account Settings
          %ul
            %li= link_to "Add new site", new_affiliate_path
            %li= link_to "Search API", affiliate_api_index_path(@affiliate)
            %li= link_to "3rd Party Tracking", edit_external_tracking_affiliate_path(@affiliate)
            %li= link_to "Raw logs access", new_affiliate_raw_logs_acces_path(@affiliate)
            %li= link_to "My account", account_path
            %li= link_to "Manage users", affiliate_users_path(@affiliate)
