.affiliate-sidebar
  - if current_user.affiliates.empty?
    .side-top
      = link_to "Add New Site", new_affiliate_path
  - else
    .side-top
      %h3
        %span Selected Site
    .side-mid
      = select("affiliate", "id", current_user.affiliates.ordered.all.collect {|p| [ p.display_name, p.id ] }, {:prompt => 'Select site'})
      - if @affiliate && @affiliate.id.present?
        .side-block
          %h3
            %span Basic Settings
          %ul
            %li= link_to "Site information", edit_site_information_affiliate_path(@affiliate)
            %li= link_to "Look and feel", edit_look_and_feel_affiliate_path(@affiliate)
            %li= link_to "Preview", preview_affiliate_path(@affiliate)
            %li.last= link_to "Get code", embed_code_affiliate_path(@affiliate)
        .side-block
          %h3
            %span Features
          %ul
            %li
              = link_to "On-demand Indexing", affiliate_superfresh_urls_path(@affiliate)
            %li= link_to "Boosted contents", affiliate_boosted_contents_path(@affiliate)
            %li
              = link_to "Featured Collections", affiliate_featured_collections_path(@affiliate), :class => 'new'
              = image_tag 'new.png', :class => 'new'
            %li= link_to "Related topics", affiliate_related_topics_path(@affiliate)
            %li
              = link_to "Search API", affiliate_api_index_path(@affiliate), :class => 'new'
              = image_tag 'new.png', :class => 'new'
            %li= link_to "Type-ahead search", affiliate_type_ahead_search_index_path(@affiliate)
            %li
              = link_to "Popular Links", affiliate_popular_links_path(@affiliate), :class => 'new'
              = image_tag 'new.png', :class => 'new'
            %li.last
              = link_to "RSS Feeds", affiliate_rss_feeds_path(@affiliate), :class => 'new'
              = image_tag 'new.png', :class => 'new'
        .side-block
          %h3
            %span Site Analytics
          %ul
            %li= link_to "Query logs", affiliate_analytics_path(@affiliate)
            %li.last= link_to "Monthly reports", monthly_reports_affiliate_analytics_path(@affiliate)
        .side-block
          %h3
            %span Account Settings
          %ul
            %li= link_to "Add new site", new_affiliate_path
            %li= link_to "My account", account_path
            %li.last= link_to "Manage users", affiliate_users_path(@affiliate)
  .side-bottom &nbsp;
