- if search.boosted_contents.total > 0 and search.boosted_contents.results.present?
  = render_govbox do
    #boosted
      %h3.alt
        = t(:recommended)
        %span.recommended-by
          = t(:by)
          = @affiliate ? @affiliate.display_name : t(:usa_gov)
      - search.boosted_contents.results.each_with_index do |result, index|
        .searchresult{:id => "boostedresult#{index + 1}"}
          %h2
            = best_bet_link_with_click_tracking(result.title.html_safe, result.url, @affiliate, search.query, index, @search_vertical, result.id, 'BOOS')
          %h3.result-url= truncate_url(result.url)
          %h3= result.description.html_safe
