.featured-collections
  - search.featured_collections.hits(:verify => true).each do |hit|
    - result = hit.instance
    %div{ :class => "#{featured_collection_css_classes(result)}" }
      %h2
        = link_to_unless result.title_url.blank?, highlight_hit(hit, :title).html_safe, result.title_url
        %span.recommended-by
          = t :by_site
          = @affiliate ? @affiliate.display_name : t(:usa_gov)
      - if result.image.present?
        .image
          = image_tag(result.image.url(result.has_one_column_layout? ? :medium : :small), :alt => result.image_alt_text)
          - if result.image_attribution.present?
            %span #{t :image}
            = link_to_unless result.image_attribution_url.blank?, content_tag(:span, result.image_attribution, :class => 'attribution'), result.image_attribution_url
      - unless result.featured_collection_links.blank?
        %ul
          - highlighted_link_titles = highlight_hit(hit, :link_titles).split(FeaturedCollection::LINK_TITLE_SEPARATOR) if hit.highlights(:link_titles).present?
          - result.featured_collection_links.each_with_index do |link, index|
            %li{ :class => "#{cycle('left', 'right')}" }= link_to render_featured_collection_link_title(link, index, highlighted_link_titles), link.url
