- form_tag(search_path, :method => :get, :id=>"search_form_bottom") do
  = hidden_field_tag :locale, I18n.locale
  = hidden_field_tag :m, params[:m]
  .search
    .searchBoxContainer.dvCenter
      .dvSearchBox.results
        = unescaped_text_field_with_auto_complete :search_bottom, :query_bottom, {:name=>"query", :autocomplete => "off", :class => "mobileSearchTextBoxResultsPage"}, {:url=> {:controller => "searches", :action => "auto_complete_for_search_query"}, :method=> :get, :min_chars => 2, :after_update_element => "function(element,value){ element.parentNode.submit(value) }", :frequency => 0.1 }
      .dvSearchBtn.results
        = image_submit_tag "/m/i/btnSearchSkin_ResultsPage.png"
      .dvSearchClose.results
        = image_tag "/m/i/close.png", :style => "display: none;"
.group.clear
  .row.center
    = image_tag("binglogo.gif")
.mobileFooter.pad5
  View site in: 
  = link_to_mobile_mode("Classic", "override")
  |
  Mobile