- form_tag(search_path, :method => :get, :id=>"search_form_bottom", :autocomplete => "off") do
  = hidden_field_tag :locale, I18n.locale
  = hidden_field_tag :m, params[:m]
  .search
    .searchBoxContainer.dvCenter
      .dvSearchBox.results
        = text_field :search, :query, { :name => "query", :autocomplete => "off", :class => "mobileSearchTextBoxResultsPage usagov-search-autocomplete" }
      .dvSearchBtn.results
        = image_submit_tag "/m/i/btnSearchSkin_ResultsPage.png"
      .dvSearchClose.results
        = image_tag "/m/i/close.png", :style => "display: none;"
.group.clear
  .row.center
    = image_tag("binglogo.gif")
.mobileFooter.pad5
  = t(:view_site_in) + ":"
  = link_to_mobile_mode(t(:classic), "override")
  |
  = t(:mobile)

