= render_govbox do
  .searchresult.blended
    #form_govbox
      - render_forms(@search.forms) do |result, hit|
        %h2= render_form_title_link(hit, result, @search, @affiliate, @search_vertical)
        %h4.agency-name= result.form_agency.display_name
        .check-mark-and-dates
          .check-mark
          - if result.revision_date.present?
            %div.date-label Revised:
            %span.form-date.revision-date #{result.revision_date}
            - if result.expiration_date.present?
              %div.date-label Expires:
              %span.form-date.expiration-date #{render_short_date(result.expiration_date)}
        .links
          - if result.links.present?
            .forms-and-instructions
              %h3 Forms and Instructions
              %ul= render_form_links(result)
          - if result.indexed_documents.present?
            .faqs
              %h3 FAQs
              %ul
                - result.indexed_documents.ok.each do |odie_doc|
                  %li= render_form_faq_link odie_doc
        - if result.description.present?
          %p.description= render_form_description(hit, result, @search)
