= render_govbox do
  .searchresult.blended
    #form_govbox
      - @search.forms.hits(:verify => true).each do |hit|
        - result = hit.instance
        %span.official-tag Official Form
        - if result.revision_date.present?
          %span.revision-date Rev. #{result.revision_date}
        %h2
          = link_with_click_tracking(highlight_hit(hit, :title).html_safe, result.landing_page_url, @affiliate, @search.query, 0, 'FORM', @search_vertical)
          (#{highlight_hit(hit, :number).html_safe})
        %h4.agency-name= result.form_agency.display_name
        - if result.description.present?
          %p.description= truncate_html_prose_on_words(highlight_hit(hit, :description).html_safe, 255).html_safe
        .forms-and-instructions
          %h3 Forms and Instructions
          %ul
            - result.links.each_with_index do |link, index|
              %li
                = link_to "#{link[:title]}", link[:url]
                - if index == 0
                  %span [#{link[:file_type]}, #{link[:file_size]}, #{result.number_of_pages} #{'page'.pluralize(result.number_of_pages.to_i)}]
                - else
                  %span [#{link[:file_type]}, #{link[:file_size]}]
        - if result.indexed_documents.present?
          .faqs
            %h3 FAQs
            %ul
              - result.indexed_documents.each do |odie_doc|
                %li= link_to odie_doc.title, odie_doc.url

