- unless search.indexed_documents.blank?
  = render_govbox do
    #indexed_documents
      %h3.alt
        = t(:other_documents_for, :query => search.query)
        %span.recommended-by
          = t :by
          = @affiliate.display_name
      - search.indexed_documents.each_with_index do |hit, index|
        = render 'shared/indexed_document', :hit => hit, :index => index, :show_full_listing => false
