= render_govbox(:right) do
  #jobs_govbox
    %h3.alt
      = job_openings_header(search.affiliate.agency)
    - search.jobs.slice(0, 3).each_with_index do |job, index|
      .job
        .job-title= title_link(job, search, index)
        - if search.affiliate.should_show_job_organization_name?
          .job-organization= job.organization_name
        .job-locations-money= locations_and_salary(job)
        .job-dates= job_application_deadline(job.application_close_date)

    .more-jobs= legacy_link_to_more_jobs(search)
