= render_govbox(:right) do
  #usajobs_govbox
    %h3.alt
      = job_openings_header(search.affiliate.agency)
    - search.jobs.each do |job|
      .job
        .job-title= title_link(job)
        - unless search.affiliate.has_organization_code?
          .job-organization= job.organization_name
        .job-locations-money= locations_and_salary(job)
        .job-dates= job_application_deadline(job.end_date)

    .more-jobs= agency_jobs_link(search.affiliate.agency)