= render_govbox(:right) do
  #usajobs_govbox
    %h3.alt
      = "Job Openings"
    - search.jobs.each do |job|
      .job
        .job-title= job_position_title(job)
        .job-organization= job.organization_name
        .job-locations-money= job_position_locations_and_salary(job)
        .job-dates= job_application_deadline(job.end_date)

    - if search.affiliate.has_organization_code?
      .job-agency= agency_jobs_link(search.affiliate.agency)