= render_govbox do
  .searchresult.blended
    .medline
      %span.official-tag
        = t :medline_official_result, :locale => search.med_topic.locale.to_sym
      %h2= legacy_display_medline_result_title(search, affiliate)
      .description
        = legacy_display_medline_results_description(search.med_topic.summary_html, search.query)
      - if search.med_topic.med_related_topics.limit(3).present?
        .related-medline-topics
          %h3= t :medline_related_topics, :locale => search.med_topic.locale.to_sym
          %ul
            - search.med_topic.med_related_topics.limit(3).each do |related_topic|
              %li= legacy_display_medline_url_with_click_tracking(related_topic.title, related_topic.url, search, @affiliate)
      - if search.med_topic.med_sites.limit(2).present? and english_locale?
        .clinical-trials
          %h3 ClinicalTrials.gov
          %ul
            - search.med_topic.med_sites.limit(2).each do |site|
              %li= legacy_display_medline_url_with_click_tracking(site.title, site.url, search, @affiliate)
