= render_govbox do
  .searchresult.blended
    .medline
      %span.official-tag
        = t :medline_official_result, :locale => search.med_topic.locale.to_sym
      %h2= display_medline_result_title(search, affiliate)
      .description
        = display_medline_results_description(search.med_topic.summary_html, search.query)
      - unless search.med_topic.related_topics.empty?
        .related-medline-topics
          %h3= t :medline_related_topics, :locale => search.med_topic.locale.to_sym
          %ul
            - search.med_topic.related_topics[0..3].each do |related_medline_topic|
              %li= display_medline_topic_with_click_tracking(related_medline_topic, search.query, I18n.locale.to_s, @affiliate)
      - if search.med_topic.has_mesh_titles? and english_locale?
        .clinical-trials
          %h3 ClinicalTrials.gov
          %ul
            - search.med_topic.mesh_title_list[0..1].each do |mesh_title|
              %li= display_medline_clinical_trail_with_click_tracking(mesh_title, search.query)
