- is_video = @rss_feed and @rss_feed.is_managed?
.newsitem.searchresult{:id => "newsitem#{@search.startrecord + index}"}
  - if is_video
    .thumbnail= render_news_item_video_thumbnail_link_with_click_tracking(@affiliate, @search, @search_vertical, instance, index)
  %div{ :class => is_video ? 'mixed' : nil }
    - module_name = is_video ? 'VIDS' : 'NEWS'
    %h2= link_with_click_tracking(translate_bing_highlights(h(instance.title)), instance.link, @affiliate, @search.query, index, module_name, @search_vertical)
    %h3.result-url= truncate_url(instance.link)
    %h4= news_item_time_ago_in_words(instance.published_at)
    %h3= news_description(instance)
