.newsitem.searchresult.clearfix{:id => "newsitem#{index+1}"}
  - if hit.instance.rss_feed.is_video?
    .thumbnail= render_news_item_video_thumbnail_link_with_click_tracking(@affiliate, @search, @search_vertical, hit.instance, index)
  %div{ :class => hit.instance.rss_feed.is_video? ? 'mixed' : nil }
    %h2= link_with_click_tracking(highlight_hit(hit, :title).html_safe, hit.instance.link, @affiliate, @search.query, index, 'NEWS', @search_vertical)
    %h4= time_ago_in_words(hit.instance.published_at)
    %h3= news_description(hit)
    %h3= link_with_click_tracking(h(shorten_url(hit.instance.link)), hit.instance.link, @affiliate, @search.query, index, 'NEWS', @search_vertical)