.no-results
  .no-results-header
    %h3
      = t(:"no_results.cant_find_results")
    %span.query
      = query
  = render_no_results_banner
  .no-results-suggestions
    %h4
      = t(:"no_results.what_should_you_do")
    %ul.no-results-basic-suggestions
      - t(:"no_results.basic_suggestions").each do |basic_suggestion|
        %li= basic_suggestion
    %ul.no-results-custom-suggestions
      - if web_search?
        %li= t(:"no_results.go_to_usa_gov", :usa_gov_link => link_to(t(:"no_results.usa_gov_url_text"), t(:"no_results.usa_gov_url"))).html_safe
      - elsif image_search?
        %li= t(:"no_results.browse_government_photostreams", :flickr_link => link_to(t(:"no_results.flickr_url_text"), t(:"no_results.flickr_url"))).html_safe
      - elsif recalls_search?
        %li= t(:"no_results.go_to_recalls_gov", :recalls_gov_link => link_to("Recalls.gov", "http://www.recalls.gov")).html_safe
      %li= t(:"no_results.contact_usa_gov", :contact_usa_gov_link => link_to(t(:"no_results.contact_usa_gov_url_text"), t(:"no_results.contact_usa_gov_url"))).html_safe
