- if search.pdf_documents and search.pdf_documents.total > 0
  .related_pdfs
    #related_pdfs_summary{:style => 'padding-left: 11px; margin-top: 13px; margin-bottom: 13px;'}
      = "PDF Results from #{@affiliate.display_name}"
      %br
      = link_to "See more PDF results for <strong>#{@search.query}</strong> >>".html_safe, pdf_search_path(:query => @search.query, :affiliate => @affiliate.name)
    - search.pdf_documents.hits(:verify => true).each_with_index do |hit, index|
      = render 'shared/pdf_document', :hit => hit, :index => index