= render_govbox do
  #photo_govbox
    %h3.alt
      = t(:photo_results, :query => search.query)
      %span.recommended-by
        = t :by
        = affiliate.display_name
    - search.photos.results.each do |photo|
      .photo
        = display_flickr_photo_thumbnail(photo, search, affiliate)
