.newui-wrapper
  .outer-footer
    .footer
      .inner-footer
        %ul.nav-footer
          %li= link_to "Affiliate Program", affiliates_path, :class => "footer-link"
          %li= link_to "APIs & Web Services", api_docs_path, :class => "footer-link"
          %li= link_to "Search.USA.gov", searchusagov_path, :class => "footer-link"
        %p.siteName
          = link_to "USASearch Program", program_path
        %p
          US General Services Administration, 1275 First Street NE, 11th Floor, Washington, DC 20417, Email us at: #{mail_to 'USASearch@gsa.gov'}
