.footer
  .footer-links
    %ul
      %li.first= link_to 'About Us', 'http://searchblog.usa.gov/about-us'
      %li= link_to 'Terms of Service', 'http://searchblog.usa.gov/tos'
      %li= link_to 'USASearch@gsa.gov', 'mailto:***REMOVED***'
  .footer-taglines
    %p An Official Website of the US Government
    %p
      Sponsored by GSA's
      = link_to 'Office of Citizen Services & Innovative Technologies', 'http://www.gsa.gov/portal/category/25729'
    %p
      = link_to image_tag('usagov_footer_logo.png', :alt => 'USA.gov logo'), 'http://www.usa.gov'
