#program_nav.secondary-navbar
  .sec-nav-left
    %ul.nav{:style=>"display:inline"}
      %li#affiliate_program_nav
        = link_to 'Affiliate Program', affiliates_path
        %ul
          %li
            = link_to 'How it works', how_it_works_affiliates_path
          %li
            = link_to 'See it in action', demo_affiliates_path
          - unless current_user
            %li
              = link_to('Sign in', url_for_login)
        .clear
      %li#api_nav
        = link_to 'APIs & Web Services', api_docs_path
        %ul
          %li
            = link_to 'Recalls API', recalls_api_docs_path
          - if current_user
            %li
              - if current_user.affiliates.empty? && @affiliate.nil?
                = link_to('Create Affiliate', home_affiliates_path)
              - else
                = link_to("Search API", affiliate_api_index_path(@affiliate || current_user.affiliates.first))
          - else
            %li
              = link_to('Sign in', url_for_login)
        .clear
      %li
        = link_to 'Search.USA.gov', searchusagov_path
        .clear
  .sec-nav-right
    %ul.nav{:style=>"display:inline"}
      - display_for(:affiliate_admin) do
        %li
          = link_to 'Admin Center', admin_home_page_path
          .clear
      - display_for(:analyst) do
        %li
          = link_to 'Analytics Center', analytics_home_page_path
          .clear
      - display_for(:affiliate) do
        %li
          = link_to 'Affiliate Center', home_affiliates_path
          .clear
      .clear
