#main_nav
  .main-menu
    %ul
      %li.first= link_to 'Home', 'http://searchblog.usa.gov'
      %li= link_to 'About Us', 'http://searchblog.usa.gov/about-us'
      %li= link_to 'Features', 'http://searchblog.usa.gov/features'
      %li= link_to 'Success Stories', 'http://searchblog.usa.gov/customers'
      %li= link_to 'HelpDesk', 'http://searchblog.usa.gov/help-desk'
  .user-menu
    = render_user_navigation(current_user)
