.recalls-govbox
  %h3<
    Results from the U.S. Government's Recalls Database
    -#= link_to("View More Product Recalls >", "")
  %table
    - search.recalls.hits.each do |hit|
      %tr
        %td.industry
          = image_tag("industry_#{hit.instance.industry}.png")
          %br
          = hit.instance.industry.to_s.titleize
        %td.details
          = link_to highlight(truncate_on_words(hit.instance.summary, 100), search.query.split, :highlighter => '<b>\1</b>'), hit.instance.recall_url
          .agency
            = hit.instance.agency_name
          .recall-date
            = (hit.instance.recalled_on || hit.instance.created_at).strftime("%b. %d, %Y")
