.recalls-govbox
  %h3<
    = t :recall_govbox_header
    = link_to("#{t(:view_more_recalls)} #{t(:in_english)} >", recalls_search_path(:query => search.query, :locale => "en"), :id =>"view_more_recalls")
  - search.recalls.hits.each_with_index do |hit, index|
    .recall
      = render "recalls/industry_icon", :recall => hit.instance
      .details
        = display_recall_result_title_with_click_tracking(hit.instance, hit, search.query, index, @search_vertical, 80)
        = t(:in_english)
        .agency
          = t "industry.#{hit.instance.industry}.agency_name"
        - if hit.instance.recalled_on.present?
          .recall-date
            = l((hit.instance.recalled_on), :format => :medium)

