.govbox
  %h3
    = t(:recalls_for, :query => "<b>#{search.query}</b>")

  - search.recalls.hits.sort_by{|a| a.instance.recalled_on || a.instance.created_at.to_date }[0..2].each_with_index do |hit, index|
    .recall{:style => 'margin-bottom: 10px;'}      
      = link_to truncate(hit.instance.summary, 100), hit.instance.recall_url
      .recall_description
        %span{:style => "color: #666;"}
          = time_ago_in_words(hit.instance.recalled_on || hit.instance.created_at)
          ago -
        - if hit.instance.description.present?    
          = truncate(hit.instance.description, 190)

