.recalls-govbox
  %h3<
    = t :recall_govbox_header
    -#= link_to(t "View More Product Recalls >", "")
  %table
    - search.recalls.hits.each do |hit|
      %tr
        %td.industry
          = image_tag("industry_#{hit.instance.industry}.png")
          %br
          = t("industry.#{hit.instance.industry}.name").titleize
        %td.details
          = link_to highlight(truncate_on_words(hit.instance.summary, 100), search.query.split, :highlighter => '<b>\1</b>'), hit.instance.recall_url
          .agency
            = t "industry.#{hit.instance.industry}.agency_name"
          .recall-date
            = l((hit.instance.recalled_on || hit.instance.created_at), :format => :medium)
