- if (@search && @search.related_search.size > 0)
  %h3.alt= t :related_searches
  %ul{:id => "relatedsearch"}
    - @search.related_search.each_with_index do |related_term, index|
      - options = {:query=>related_term}
      - options[:affiliate] = @affiliate.name if @affiliate
      %li= tracked_click_link(search_path(options),h(sentence_case(related_term)), @search, @affiliate, index, 'CREL')
- else
  &nbsp
- if (@search && @search.faqs && @search.faqs.total > 0)
  %h3.alt= t :related_faqs_header
  %ul{:id => "related_faqs"}
    - @search.faqs.hits(:verify => true).each_with_index do |hit, index|
      %li= tracked_click_link(hit.instance.url,highlight_hit(hit, :question), @search, nil, index, 'FAQS')
  .more_results= link_to('Source: answers.usa.gov', 'http://answers.usa.gov')
