- if (@search && @search.related_search.size > 0)
  %h3.alt= t :related_searches
  %ul{:id => "relatedsearch"}
    - @search.related_search.each do |result|
      %li= link_to(result.title, shunt_from_bing_to_usasearch(result.url, @affiliate ))
- else
  &nbsp
- if (@search && @search.faqs && @search.faqs.total > 0)
  %h3.alt= t :related_faqs_header  
  %ul{:id => "related_faqs"}
    - @search.faqs.hits.each_with_index do |hit, index|
      %li= link_to( highlight_hit(hit, :question), hit.instance.url)
  .more_results= link_to('View more from answers.usa.gov', search_path(:query => @search.query, :index => 'faqs'))
- if (@search && @search.gov_forms && @search.gov_forms.total > 0)
  %h3.alt= t :related_gov_forms_header
  %ul{:id => "related_gov_forms"}
    - @search.gov_forms.hits.each_with_index do |hit, index|
      %li= link_to( highlight_hit(hit, :name), hit.instance.url)
  .more_results= link_to('View more from forms.gov', search_path(:query => @search.query, :index => 'gov_forms'))