- if (@search && @search.related_search.size > 0)
  %h3.alt= t :related_searches
  %ul{:id => "relatedsearch"}
    - @search.related_search.each_with_index do |result, index|
      %li= tracked_click_link(search_path(:query => result), h(result), @search, nil, index, 'BREL')
  .more_results
    Results by Search.USA.gov and Bing
- else
  &nbsp
- if (@search && @search.faqs && @search.faqs.total > 0)
  %h3.alt= t :related_faqs_header
  %ul{:id => "related_faqs"}
    - @search.faqs.hits(:verify => true).each_with_index do |hit, index|
      %li= tracked_click_link(hit.instance.url,highlight_hit(hit, :question), @search, nil, index, 'FAQS')
  .more_results= link_to('Source: answers.usa.gov', 'http://answers.usa.gov')
- if (@search && @search.gov_forms && @search.gov_forms.total > 0)
  %h3.alt= t :related_gov_forms_header
  %ul{:id => "related_gov_forms"}
    - @search.gov_forms.hits(:verify => true).each_with_index do |hit, index|
      %li= tracked_click_link(hit.instance.url,highlight_hit(hit, :name), @search, nil, index, 'FORM')
  .more_results= link_to('Source: forms.gov', 'http://forms.gov')