= bing_spelling_suggestion_for(search, affiliate, search_vertical)
- if search.results.present?
  = display_search_all_affiliate_sites_suggestion(search, affiliate)
  = results_summary(search)
  - if web_search?
    .advancedsearch
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      = advanced_search_link(search_options, affiliate)
- else
  = render 'shared/blank_search_results', :search => search

