= form_tag(path, :method => :get, :id => "search_form") do
  = label_tag :search_query, nil, :class => 'hide'
  - if (@affiliate and not @affiliate.is_sayt_enabled)
    = text_field :search, :query, { :maxlength => 255, :size => 49, :name => "query", :autocomplete => "off" }
  - else
    = hidden_field_tag :sc, 0
    = text_field_tag 'search', recalls_search? ? params[:query] : (@search ? @search.query : ""), { :maxlength => 255, :size => 49, :name => "query", :autocomplete => "off", :class => "usagov-search-autocomplete", :id => "search_query" }
  = hidden_field_tag :m, params[:m]
  = hidden_field_tag :embedded, params[:embedded]

  - if @affiliate.present?
    = hidden_field_tag :affiliate, @affiliate.name
    = hidden_field_tag :staged, params[:staged] if params[:staged].present?

  - if recalls_search?
    = hidden_field_tag :sort, params[:sort] if params[:sort].present?
  - else
    = hidden_field_tag :filter, @search.filter_setting unless @search.nil? || @search.filter_setting.nil?
    = hidden_field_tag :scope_id, @scope_id if @affiliate and @scope_id
  = submit_tag((recalls_search? ? t(:recalls_search) : t(:search)), :id => "search_button")
