= spelling_suggestion_for(search, @affiliate, @search_vertical) if (search)
- if search.first_page? && search.has_boosted_contents?
  = render 'shared/boosted_content', :search => search
- if search.results.present?
  %hr.topresults
  .group
    - search.results.each_with_index do |search_result, index|
      .row{:id => "searchresult#{index+1}"}
        .searchResult
          .title
            = display_web_result_extname_prefix(search_result)
            = display_web_result_title(search_result, search, @affiliate, index, @search_vertical)
          .links= shorten_url(search_result['unescapedUrl'])
          .content
            = display_result_description(search_result)
      - unless index == search.results.length - 1 then
        %hr

  - if search.has_related_searches?
    #relatedsearch
      %h3= t :searches_related_to, :query=> search.query
      %ul
        - search.related_search.each_with_index do |related_term, index|
          %li= tracked_click_link(search_path({:query=>strip_tags(related_term), :affiliate=> @affiliate, :m => true }),related_term.html_safe.downcase, search, @affiliate, index, 'SREL')

  = render_mobile_pagination_and_logo(search.results, search.module_tag)

- elsif search.error_message
  %p.noresults #{search.error_message}
- else
  = no_results_for search.query