- form_tag(path, :method => :get, :id => "search_form") do
  - if @affiliate.nil?
    - search_params = {:query => params[:query], :locale => params[:locale]}
    %ul.navigation
      %li.first= link_to_unless web_search?, t(:government_web), search_path(search_params)
      %li= link_to_unless image_search?, t(:images), image_search_path(search_params)
      - if english_locale?
        %li= link_to_unless forms_search?, t(:forms), forms_search_path(search_params)
        %li= link_to_unless recalls_search?, t(:recalls), recalls_search_path(search_params)
    %label{:for => "query", :class => "hidden"} Search
  - if (@affiliate and not @affiliate.is_sayt_enabled) or @search.is_a?(ImageSearch)
    = text_field :search, :query, {:size=>49, :name=>"query", :autocomplete => "off"}
  - else
    = hidden_field_tag :sc, 0
    = text_field_tag 'search', recalls_search? ? params[:query] : (@search ? @search.query : ""), { :size => 49, :name => "query", :autocomplete => "off", :class => "usagov-search-autocomplete", :id => "search_query" }
  = hidden_field_tag :locale, I18n.locale
  = hidden_field_tag :m, params[:m]

  - if @affiliate.present?
    = hidden_field_tag :affiliate, @affiliate.name
    = hidden_field_tag :staged, params[:staged] if params[:staged].present?

  - if recalls_search?
    = hidden_field_tag :sort, params[:sort] if params[:sort].present?
  - else
    = hidden_field_tag :filter, @search.filter_setting unless @search.nil? || @search.filter_setting.nil?
    = hidden_field_tag :fedstates, @search.fedstates unless @search.nil? || @search.fedstates.nil?
    = hidden_field_tag :scope_id, @scope_id if @affiliate and @scope_id
  = submit_tag((forms_search? ? t(:forms_search) : (recalls_search? ? t(:recalls_search) : t(:search))), :id => "search_button")
  - if @affiliate.nil?
    - unless forms_search? || recalls_search?
      = link_to((t :advanced_search), advanced_search_path( request.parameters.merge( :action => 'advanced', :controller => 'searches', :format => nil ))) unless @affiliate
      |
      = link_to(t(:search_in), home_page_path(:locale => other_locale_str))
  - else
    .advancedsearch
      = link_to((t :advanced_search), advanced_search_path( request.parameters.merge( :action => 'advanced', :controller => 'searches', :format => nil, :affiliate => @affiliate.name )))

:javascript
  document.getElementById("search_query").focus();
