- result_partial = result_partial_for(search)
= bing_spelling_suggestion_for(search, @affiliate, @search_vertical)
%a{:name => "content"}
- if search.results.present?
  = display_search_all_affiliate_sites_suggestion(search, @affiliate)
  = results_summary(search.startrecord, search.endrecord, search.total, search.query)
- if search.first_page?
  - if search.has_boosted_contents? or search.has_featured_collections?
    = render('shared/boosted_content', :search => search) if search.has_boosted_contents?
    = render('shared/featured_collections', :search => search) if search.has_featured_collections?
  - elsif search.med_topic.present?
    = render 'shared/med_topic_gov_box', :search => @search, :affiliate => @affiliate
- if search.results.present?
  - search.results.each_with_index do |result, index|
    - unless search.med_topic.present? and search.med_topic.medline_url == result['unescapedUrl']
      = render result_partial, :result => result, :affiliate => @affiliate, :search => search, :index => (search.startrecord + index - 1)
    = render "/shared/news_govbox", :search => @search if index == 2 and search.first_page?
    - if @affiliate.uses_bing_odie_results? and index == 4 and search.first_page?
      = render "/shared/indexed_documents", :search => @search, :affiliate => @affiliate
  = render "/shared/related_topics_wrapper"
  .pagination-and-logo
    = will_paginate(search.results, :previous_label => (t :prev_label), :next_label => (t :next_label))
    = search_results_by_logo(search.are_results_by_bing?)
- elsif search.error_message
  %p.noresults #{search.error_message}
- else
  = no_results_for search.query
