- if (@search && @search.results.size > 0)
  %p= "Results #{@search.startrecord}-#{@search.endrecord} of about #{number_with_delimiter(@search.total)} for '#{@search.query}'"
  - @search.results.each_with_index do |result, index|
    %div.searchresult{:id => "searchresult#{index+1}"}
      %h2= display_result_title(result)
      %h3 #{result['content']}
      %h3= display_result_links(result)
      =display_deep_links_for(result, @search.query)
  = will_paginate(search.results)
- elsif (@search.error_message)
  %p.noresults #{@search.error_message}
- else
  %p.noresults= "Sorry, no results found for '#{@search.query}'. Try entering fewer or broader query terms."
