= form_tag(path, :method => :get, :id => "search_form") do
  - if (@affiliate and not @affiliate.is_sayt_enabled)
    = text_field :search, :query, { :maxlength => 255, :size => 49, :name => "query", :autocomplete => "off" }
  - else
    = hidden_field_tag :sc, 0
    = text_field_tag 'search', recalls_search? ? params[:query] : (@search ? @search.query : ""), { :maxlength => 255, :size => 49, :name => "query", :autocomplete => "off", :class => "usagov-search-autocomplete", :id => "search_query" }
  = hidden_field_tag :locale, I18n.locale
  = hidden_field_tag :m, params[:m]

  - if @affiliate.present?
    = hidden_field_tag :affiliate, @affiliate.name
    = hidden_field_tag :staged, params[:staged] if params[:staged].present?

  - if recalls_search?
    = hidden_field_tag :sort, params[:sort] if params[:sort].present?
  - else
    = hidden_field_tag :filter, @search.filter_setting unless @search.nil? || @search.filter_setting.nil?
    = hidden_field_tag :fedstates, @search.fedstates unless @search.nil? || @search.fedstates.nil?
    = hidden_field_tag :scope_id, @scope_id if @affiliate and @scope_id
  = submit_tag((forms_search? ? t(:forms_search) : (recalls_search? ? t(:recalls_search) : t(:search))), :id => "search_button")
  - if @affiliate.nil?
    - if web_search? || image_search?
      = path_to_search_in_other_locale_for(params[:query])
    - if web_search?
      = advanced_search_link(@search_options)
  - else
    .advancedsearch
      = advanced_search_link(@search_options, @affiliate)

:javascript
  document.getElementById("search_query").focus();
