= form_tag(path, :method => :get, :id => "search_form") do
  = label_tag :search_query, t(:search_label), class: 'hide'
  - if (@affiliate and not @affiliate.is_sayt_enabled)
    = text_field :search, :query, { :maxlength => 255, :size => 49, :name => "query", :autocomplete => "off" }
  - else
    = hidden_field_tag :sc, 0
    = text_field_tag 'search', @search ? @search.query : '', { :maxlength => 255, :size => 49, :name => "query", :autocomplete => "off", :class => "usagov-search-autocomplete", :id => "search_query" }
  = hidden_field_tag :m, params[:m]
  = hidden_field_tag_if_key_exists :sitelimit

  = hidden_field_tag :affiliate, @affiliate.name
  = hidden_field_tag_if_key_exists :staged
  = hidden_field_tag_if_key_exists :external_tracking_code_disabled

  = hidden_field_tag :filter, params[:filter] if params[:filter].present?
  = hidden_field_tag :scope_id, @scope_id if @affiliate and @scope_id
  = submit_tag t(:search), id:'search_button'
