= spelling_suggestion(search.spelling_suggestion, @affiliate) if (search)
- if (search && !search.boosted_sites.empty?)
  #boosted
    - search.boosted_sites.each_with_index do |boosted_site, index|
      %div.searchresult{:id => "boostedresult#{index+1}"}
        %h2= link_to((h boosted_site.title), boosted_site.url)
        %h3= h boosted_site.description
        %h3= link_to((h boosted_site.url), boosted_site.url)
- if (search && !search.results.empty?)
  = results_summary(search.startrecord, search.endrecord, search.total, search.query)
  - search.results.each_with_index do |search_result, index|
    %div.searchresult{:id => "searchresult#{index+1}"}
      %h2= display_result_title(search_result)
      %h3 #{search_result['content']}
      %h3= display_result_links(search_result)
      = display_deep_links_for(search_result) unless @affiliate
  = will_paginate(search.results, :previous_label => (t :prev_label), :next_label => (t :next_label))
- elsif (search.error_message)
  %p.noresults #{search.error_message}
- else
  %p.noresults= t :no_results_for, :query => search.query