= render_govbox(:right) do
  #twitter_govbox
    %h3.alt
      = t(:recent_tweet_for, :query => search.query)
      %span.recommended-by
        = t :by
        = @affiliate.display_name
    - search.tweets.hits(:verify => true).each do |tweet|
      = render :partial => 'shared/tweet', :object => tweet
