#weather-spotlight
  .title
    National Weather Service Forecast for #{weather_spotlight.location.city}, #{weather_spotlight.location.state}
  %ul
    - 0.upto(weather_spotlight.forecast.length - 1) do |index|
      %li
        .forecast-date
          = forecast_date(weather_spotlight.forecast[index].starts_at)
        .forecast-image
          = image_tag weather_spotlight.forecast[index].image_url
        .forecast-summary
          = weather_spotlight.forecast[index].weather_summary
        .forecast-hilo
          Lo/Hi: #{weather_spotlight.forecast[index].low}/#{weather_spotlight.forecast[index].high}ºF
  #attribution
    = link_to 'View Full Forecast', "http://forecast.weather.gov/MapClick.php?textField1=#{weather_spotlight.location.lat}&amp;textField2=#{weather_spotlight.location.lng}"

    