/#logoHome.center
/  = link_to image_tag("/m/i/logo_mobile.png"), root_path(:locale => I18n.locale.to_s, :m => true)
  
#logoSmall
  = link_to image_tag("/m/i/logo_mobile_small.png" , :alt => "USASearch Home"), home_page_path(:locale => I18n.locale)
.clear

.search
  %h4.center
    = t(:contact_your_government)
    
.alerttext.center
  = flash[:notice] if flash[:notice]

- unless @thank_you
  - form_tag contact_form_path, :method => :post do
    = hidden_field_tag "locale", I18n.locale.to_s
    = hidden_field_tag "m", "true"
    %clear10 &nbsp;
    .pad15
      = label_tag "email", t(:email_address)
      %span.alerttext *
    .center
      = text_field_tag "email", @email || "", :class => "textbox1"
    %clear10 &nbsp;
    .pad15
      = label_tag "message", t(:message)
      %span.alerttext *
    .center
      = text_area_tag "message", @message || "", :class => "textarea1"
    .clear10 &nbsp;
    .pad10
      = submit_tag t(:submit), :class => "submit1"
