#logo.group
  = link_to image_tag("/m/i/logo.gif"), root_path(:locale => I18n.locale.to_s, :m => true)

%h2.center Contact Your Government

.group
  .row
    = link_to "Call Us", "tel:18003334636", :class => "arrow"
    %p
      %small
        1 (800) FED-INFO (333-4636)
        %br
        M-F 8am-8pm ET
  .row
    = link_to "E-mail US", contact_form_path(:m => true, :locale => I18n.locale.to_s), :class => "arrow"
  .row
    = link_to "Visit Our Blog", "http://blog.usa.gov", :class => "arrow"

= render :partial => "shared/search"
