#logo.group
  = link_to image_tag("/m/i/logo.gif"), root_path

%h2.center Contact Your Government

.group
  .row
    = link_to "Call Us", "tel:18003334636", :class => "arrow"
    %p
      %small
        1 (800) FED-INFO (333-4636)
        %br
        M-F 8am-8pm ET
  .row
    = mail_to "musa.gov@mail.fedinfo.gov?subject=" + URI.encode("USA.gov Mobile Inquiry") + "&body=" + URI.encode("\n\n\n\n------ Please add your question above this line ------\n\n[FORMGEN]"), "E-mail US", :class => "arrow"
  .row
    = link_to "Visit Our Blog", "http://blog.usa.gov", :class => "arrow"

= render :partial => "shared/search"
