#logoHome.center
  = link_to image_tag("/m/i/logo_mobile.png", :alt =>"GobiernoUSA.gov logo"), root_path

#searchHome.dvCenter
  %a{:id => "search_box", :name => "search_box"}
  = render :partial => "shared/search" if @show_searchbox
  - if is_device? 'iphone'
    %style{:type => "text/css", :media => "screen"}
      :plain
        .ac_results {margin-top: -130px;}

#homeNav.dvCenter
  .navHeader
    = t(:usagov_resources)
  = mobile_menu_item t(:call_1800FEDINFO), "tel:+1-800-333-4636"
  = mobile_menu_item t(:email_us), contact_form_path(:locale => I18n.locale, :m => params[:m])
  = mobile_menu_item t(:visit_our_blog), "http://blog.usa.gov"
  = mobile_menu_item t(:specific_audiences), t(:specific_audiences_url)
  = mobile_menu_item t(:citizen_services), t(:citizen_services_url)
  = mobile_menu_item t(:explore_topics), t(:explore_topics_url)
  = mobile_menu_item t(:contact_your_government), t(:contact_your_government_url)
  = mobile_menu_item t(:find_government_agencies), t(:find_government_agencies_url), true

.group.clear
.mobileFooter.pad5
  = link_to(t(:search_in), url_for_mobile_home_page(other_locale_str))
  |
  %a{:title => "USA.gov", :href => "http://www.usa.gov/?mobile-opt-out=true"}
    = t(:usagov_full_site)

