- content_for :head do
  = search_meta_tags
.prepend-3.span-18.append-2.homepage
  %a{:name => "content"}
  = link_to(image_tag("USAsearch_large_#{I18n.locale}.gif" , :alt => "USASearch Home"), home_page_path(:locale => I18n.locale), :id => 'landing_page_logo', :class => 'web')
  = render "shared/search", :path => search_path
  = render_trending_searches
