- require 'json'
- require 'pp'

- def gsub_base_name(filename) filename.gsub("/", ":").gsub(/-screenshot\.png$/, "").gsub(/[^\w:-]*/, ""); end

- browser_dirs = Dir["#{File.dirname(__FILE__)}/*"].select{|name|File.directory?(name)}
- image_file_names = Dir["#{File.dirname(__FILE__)}/**/*.png"]

- browsers = browser_dirs.map{|dir|File.basename(dir).gsub(/[^\w-]*/, "")}
- steps = image_file_names.map{|filename| gsub_base_name(File.basename(filename)) }.uniq.sort

!!!html
%head
  %script{:type => "text/javascript", :src => "jquery-1.5.min.js"}
  %style
    == body {font-family:sans-serif;}
    == table {display: none;}
    == h1 span, h1 a {font-size: 0.5em;}
    == h1 .logo {float: left;}
    == #all_steps img.thumbnail { max-width: 512px; }
    == #image_store { display: none; }

%body
  %h1
    %a.logo(href = "#all")
      %img(src = "logo.gif")
    Screenshots
    %span= "generated with saucelabs on #{Time.new.strftime("%b %d, %Y")}"
    %a(href = "#all") (view all)

  %table#all_steps
    %tr
      %th
      - browsers.each do |browser|
        %th
          %a.nav{:href => "#browser/#{browser}"}= browser
    - steps.each do |step|
      %tr
        %td
          %a.nav{:href => "#step/#{step}"}= step
        - browsers.each do |browser|
          %td.screenshot{:shot_id => browser + ":" + step}

  %table#browser
    %tr
      %th Step
      %th.browser_name
    - steps.each do |step|
      %tr
        %td
          %a.nav{:href => "#step/#{step}"}= step
        %td.screenshot{:step => step}

  %table#step
    %tr
      %th Browser
      %th.step_name
    - browsers.each do |browser|
      %tr
        %td
          %a.nav{:href => "#browser/#{browser}"}= browser
        %td.screenshot{:browser => browser}

  %table#shot
    %tr
      %th &nbsp;
      %th
        %a.browser_name.nav{:href => ""}
    %tr
      %td
        %a.step_name.nav{:href => ""}
      %td.screenshot

#image_store
  - image_file_names.flatten.each do |filename|
    - relative_path = filename.split('/')[-2..-1].join("/")
    - id = gsub_base_name(relative_path)
    %a{:href => "#shot/#{id}", :id => id}
      %img.thumbnail{:src => "", "data-src" => relative_path}

:javascript
  $(function() {
    var currentHash;
    setInterval(function() {
      var hash = window.location.hash;
      if (hash != currentHash) {
        currentHash = hash;
        var match = currentHash.match(/#?(\w*)\/?(.*)/);
        var method = manipulationFunctions[match[1]] || manipulationFunctions.all;
        method.apply(null, [match[2]]);
        scrollTo(0,0);
      }
    }, 100);

    var manipulationFunctions = {
      all: showAll,
      browser: showBrowser,
      step: showStep,
      shot: showShot
    }

    function removeAll() {
      $("#all_steps")
        .find(".screenshot").each(function(){
          $(this).append($("#" + $(this).attr('shot_id').replace(/:/, "\\:")));
        });
    }

    function showBrowser(name) {
      $('table').hide();
      removeAll()
      $("#browser")
        .show()
        .find(".browser_name")
          .html(name)
          .end()
        .find(".screenshot").each(function() {
          $(this).append(loadImage(name + ":" + $(this).attr("step")));
        });
    }

    function showStep(name) {
      $('table').hide();
      removeAll()
      $("#step")
        .show()
        .find(".step_name")
          .html(name)
          .end()
        .find(".screenshot").each(function() {
          $(this).append(loadImage($(this).attr("browser") + ":" + name));
        });
    }

    function showAll() {
      $('table').hide();
      $("#all_steps")
        .show()
        .find(".screenshot").each(function(){
          $(this).append(loadImage($(this).attr('shot_id')));
        });
    }

    function showShot(shotId) {
      $('table').hide();
      removeAll();
      var browserName = shotId.split(":")[0];
      var stepName = shotId.split(":")[1];
      $("#shot")
        .show()
        .find(".browser_name")
          .html(browserName)
          .attr("href", "#browser/" + browserName)
          .end()
        .find(".step_name")
          .html(stepName)
          .attr("href", "#step/" + stepName)
          .end()
        .find(".screenshot")
          .append(loadImage(shotId));
    }

    function loadImage(id) {
      var anchor = $("#" + id.replace(/:/, "\\:"));
      var image = anchor.find("img");
      if ((image.attr("src") ||"").length == 0) {
        image.attr("src", image.attr("data-src"));
      }
      return anchor;
    }
  })
