= form_tag search_url(protocol: 'https'), method: :get, id: 'search_form' do
  = hidden_field_tag :affiliate, @site.name
  = label_tag :query, "Enter Search Term(s):"
  = text_field_tag :query, nil, autocomplete: 'off', class: 'usagov-search-autocomplete'
  = submit_tag 'Search'