.rss-feeds
  = affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "RSS Feeds"])
  %h1 RSS Feeds
  .rss-feed-list
    %table
      %colgroup
        %col{ :class => 'url' }
        %col{ :class => 'name' }
        %col{ :class => 'is_active' }
        %col{ :class => 'actions' }
      %thead
        %tr
          %th{ :colspan => 4 }
            = link_to "Add new RSS feed", new_affiliate_rss_feed_path(@affiliate), :class => 'add-link'
            - unless @rss_feeds.blank?
              %span= page_entries_info @rss_feeds, :html => false
      %tbody
        %tr.column-header
          %th Url
          %th Name
          %th Is Active?
          %th Actions
        - unless @rss_feeds.blank?
          - @rss_feeds.each do |rss_feed|
            %tr.row-item
              %td= link_to rss_feed.url.truncate(35, :omission => '...' ), [@affiliate, rss_feed]
              %td.name= rss_feed.name
              %td.is_active= rss_feed.is_active ? "Active" : "Inactive"
              %td.actions
                = link_to("Edit", edit_affiliate_rss_feed_path(@affiliate, rss_feed))
                = button_to("Delete", [@affiliate, rss_feed], :method => :delete, :confirm => "Are you sure you want to delete this RSS feed?")
        - else
          %tr
            %td.empty{ :colspan => 4 } Site #{@affiliate.display_name} has no RSS feeds
    = will_paginate @rss_feeds
