= form.error_messages(:header_message => nil, :class => "error")
.basic-information
  %ul
    %li
      = form.label :title, "Title*"
      = form.text_field :title, { :class => 'text', :maxlength => 255, :size => nil }
    %li
      = form.label :url, "URL*"
      = form.text_field :url, { :class => 'text', :maxlength => 255, :size => nil }
    %li
      = form.label :description, "Description*"
      = form.text_area :description, { :maxlength => 255, :size => nil }
    - if controller.class.name =~ /Admin/
      %li
        = form.label :locale, "Locale*", { :class => 'select' }
        = form.select :locale, SUPPORTED_LOCALE_OPTIONS, { :include_blank => 'Select a locale' }
    %li
      = form.label :status, "Status*", { :class => 'select' }
      = form.select :status, BoostedContent::STATUS_OPTIONS, { :include_blank => 'Select a status' }
    %li
      = form.label :publish_start_on, "Publish start date*"
      = form.calendar_date_select :publish_start_on, { :year_range => 0.years.ago..10.years.from_now, :class => 'date' }
    %li
      = form.label :publish_end_on, "Publish end date"
      = form.calendar_date_select :publish_end_on, { :year_range => 0.years.ago..10.years.from_now, :class => 'date' }
.keywords-section
  %h2#keywords_header Keywords
  .keywords
    %table
      %colgroup
        %col{ :class => 'value' }
      %tbody
        - index = 0
        = form.fields_for :boosted_content_keywords do |keyword_form|
          %tr.row-item
            %td
              = keyword_form.label :value, "Keyword #{index}", { :class => 'hide' }
              - index += 1
              = keyword_form.text_field :value, { :maxlength => 255, :size => nil }
    = link_to 'Add another keyword', '#', :id => 'add_another_bc_keyword'

