- if search_module_stats.present?
  .span-12
    .header-box
      %h3 Impressions and Clicks by Module
    %table
      %tr
        %th Module
        %th{:style=>"text-align: right"} Impressions
        %th{:style=>"text-align: right"} Clicks
        %th{:style=>"text-align: right"} Clickthru Rate
      - search_module_stats.each do |stat|
        %tr
          %td{:class => ("total" if stat.display_name == "Total")}= stat.display_name
          %td{:class => ("total" if stat.display_name == "Total"), :style=>"text-align: right"}= number_with_delimiter(stat.impressions)
          %td{:class => ("total" if stat.display_name == "Total"), :style=>"text-align: right"}= number_with_delimiter(stat.clicks)
          %td{:class => ("total" if stat.display_name == "Total"), :style=>"text-align: right"}
            = number_to_percentage(stat.clickthru_ratio, :precision => 1)
            = image_tag Gchart.sparkline(:data => stat.historical_ctr, :size => '70x17', :line_colors => '0077CC')
- else
  %h3 No data matched your filters