= content_for_site_page_title @site, 'Clicks'
= form_for @clicks_request, url: { action: :create }, html: { class: 'form' }  do |form|
  .sub-nav-heading
    %h2 Clicks
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= form.submit 'Generate Report', class: 'btn submit btn-primary'
  = render partial: 'sites/shared/analytics_form', locals: { form: form }

- if @clicks_request.top_urls.present?
  %table.table.table-striped.table-bordered.table-kv-pairs
    %thead
      %tr
        %th Top URLs Clicked
        %th # of Clicks
        %th View Top Queries
        %th Download Details
    %tbody
      - @clicks_request.top_urls.each_with_index do |(url, click_count), idx|
        %tr
          %td
            = "#{idx+1}."
            = linked_shortened_url_without_protocol(url)
          %td= number_with_delimiter(click_count)
          %td= link_to "View Top Queries", site_click_queries_path(@site,
            {:url => url, :start_date => @analytics_settings[:start], :end_date => @analytics_settings[:end]})
          %td= click_drilldown_link(@site, url, @analytics_settings[:start], @analytics_settings[:end] )

- else
  %p Your site has not received any clicks on search results yet.
