= content_for_site_page_title @site, 'Best Bets: Graphics'
.sub-nav-heading
  %h2 Best Bets: Graphics
  .action-bar
    %ul

= render_flash_message

.alert
  Graphic Best Bets are being deprecated due to low usage. Please use Text Best Bets instead.

= render partial: 'search'

%table.table.table-no-header
  %tbody
    - @featured_collections.each do |fc|
      %tr{ best_bets_status_class_hash(fc) }
        %td
          = featured_collection_title fc
          %ul.info
            = best_bets_status_and_dates_item fc
            = featured_collection_keywords_item fc
        %td.actions
          %ul
            %li= link_to 'Edit', edit_site_best_bets_graphic_path(@site, fc.id)
            %li= button_to 'Remove', site_best_bets_graphic_path(@site, fc.id), method: :delete, data: { confirm: "Are you sure you wish to remove #{fc.title} from this site?" }, class: 'btn btn-small'
= will_paginate @featured_collections, renderer: BootstrapPagination::Rails
