- content_for(:extra_javascript) do
  = javascript_include_tag 'admin_jquery'
  :javascript
    $('#selected-template-types').multiSelect({
      selectableHeader: "<div style='margin-bottom: 5px;'><strong>Hidden Templates</strong></div>",
      selectionHeader: "<div style='margin-bottom: 5px;'><strong>Visible Templates</strong></div>"
    })

.container
  %h1{style: "margin-bottom: 20px;"} Search Consumer Templates

  = form_tag(admin_search_consumer_templates_path, :method => :get, class: "form-inline") do
    .form-group
      %label{for: "affiliate_id"}  Find Affiliate By Id
      %input#affiliate_id.form-control{name: "affiliate_id", :placeholder => "Affiliate ID", :type => "number", value: params[:affiliate_id] }
    .form-group
      = submit_tag "Search", class: "btn btn-default"

  %hr{style: "margin: 20px 0;"}

  - if @affiliate && @affiliate.search_consumer_search_enabled
    = form_tag(admin_port_classic_template_to_sc_path, :method => :post, class: "form") do
      = hidden_field_tag 'affiliate_id', params[:affiliate_id]
      .col-sm-12
        .form-group
          = submit_tag "Port Classic SERP", class: "btn btn-default"
    %br

    = form_tag(admin_update_search_consumer_template_path, :method => :post, class: "form") do
      = hidden_field_tag 'affiliate_id', params[:affiliate_id]

      .col-sm-12
        .form-group
          %label.control-label{for: "selected"}
            Currently Selected Template
            = "(Defaults to <strong>#{::Template::DEFAULT_TEMPLATE_TYPE}</strong>):".html_safe

          =select_tag "selected", options_for_select(@affiliate.affiliate_templates.available.map { |at| [at.human_readable_name, at.template_class] }, @affiliate.affiliate_template.template_class), class: "form-control", style: "width: 50%"

      .col-sm-12
        .form-group
          %select#selected-template-types.form-control{:multiple => "multiple", :name => "selected-template-types[]", style: "width: 50%"}
            - @affiliate.affiliate_templates.available.each do |affiliate_template|
              %option{:value => affiliate_template.template_class.constantize, :selected => ''}= affiliate_template.template_class.constantize::HUMAN_READABLE_NAME
            - @affiliate.affiliate_templates.hidden.each do |affiliate_template|
              %option{:value => affiliate_template.class }= affiliate_template.class::HUMAN_READABLE_NAME
      .col-sm-12
        .form-group
          = submit_tag "Update Templates", class: "btn btn-default"
