- content_for(:extra_javascript) do
  = javascript_include_tag 'admin_jquery'
  :javascript
    $('#selected-template-types').multiSelect({
      selectableHeader: "<div style='margin-bottom: 5px;'><strong>Hidden Templates</strong></div>",
      selectionHeader: "<div style='margin-bottom: 5px;'><strong>Visible Templates</strong></div>"
    })

.container
  %h1{style: "margin-bottom: 20px;"} Search Consumer Templates

  %hr{style: "margin: 20px 0;"}

  - if @affiliate && @affiliate.search_consumer_search_enabled
    = form_tag(admin_affiliate_port_classic_template_to_sc_path, :method => :post, class: "form") do
      .col-sm-12
        .form-group
          = submit_tag "Port Classic SERP", class: "btn btn-default"
    %br

    = form_for @affiliate, method: :post, url: admin_affiliate_update_search_consumer_template_path do |f|
      .col-sm-12
        .form-group
          %label.control-label{for: "selected"}
            Currently Selected Template
            = "(Defaults to Classic):"

          =select_tag "selected", options_for_select(available_templates(@affiliate).map { |at| [at.name, at.id] }, @affiliate.template.id), class: "form-control", style: "width: 50%"

      .col-sm-12
        .form-group
          %select#selected-template-types.form-control{multiple: "multiple", name: "selected_template_types[]", style: "width: 50%"}
            - available_templates(@affiliate).each do |available_template|
              %option{value: available_template.id, selected: ''}= available_template.name
            - unavailable_templates(@affiliate).each do |unavailable_template|
              %option{value: unavailable_template.id }= unavailable_template.name
      .col-sm-12
        .form-group
          = submit_tag "Update Templates", class: "btn btn-default"
