= content_for_site_page_title @site, 'Monthly Reports'
= form_tag site_monthly_reports_path(@site), class: 'form', method: :get do
  .sub-nav-heading
    %h2 Monthly Reports
    .action-bar
      %ul
        %li= submit_tag 'Generate Report', class: 'btn submit disabled'
  .required= label_tag :pick_month, 'Change Month'
  .input-append.calendar
    %div= text_field_tag 'mmyyyy', @monthly_report.picked_mmyyyy, class: 'date', data: { provide: 'date picker', 'date-autoclose' => true,
      'date-start-view' => 'years', 'date-min-view-mode' => 'months', 'date-format' => 'm/yyyy',
      'date-start-date' => @monthly_report.earliest_mmyyyy, 'date-end-date' => @monthly_report.latest_mmyyyy }
    %span.add-on.add-on-icon
      %i.fa.fa-calendar-black.fa-2x

%h3= "Monthly Usage Stats for #{@monthly_report.picked_date.strftime('%B %Y')}"

%dl.dl-horizontal#queries_clicks
  %dt Total Queries
  %dd= number_with_delimiter @monthly_report.total_queries
  %dt Total Clicks
  %dd= non_zero_number_with_delimiter @monthly_report.total_clicks

%dl.dl-horizontal#no_result_queries
  .analytics_panel
    %h3 Queries with No Results
    - if @monthly_report.no_result_queries.present?
      %ol#no_result_queries
        - @monthly_report.no_result_queries.each do |query, count|
          %li= "#{query} [#{count}]"
    - else
      %p Not enough query data available

%dl.dl-horizontal#low_ctr_queries
  .analytics_panel
    %h3 Queries with Low Click Thrus
    - if @monthly_report.low_ctr_queries.present?
      %ol#low_ctr_queries
        - @monthly_report.low_ctr_queries.each do |query, ctr|
          %li= "#{query} [#{ctr}%]"
    - else
      %p Not enough query data available

= render partial: 'search_modules_stats', locals: { search_module_stats: @monthly_report.search_module_stats }

%h3 Download Top Queries
%ul.unstyled#report_links
  %li= rtu_affiliate_analytics_monthly_report_link(@site, @monthly_report.picked_date )
  - rtu_affiliate_analytics_weekly_report_links(@site, @monthly_report.picked_date).each do |weekly_report_link|
    %li= weekly_report_link
