.searchresult.recall[result]
  = render "recalls/industry_icon", :recall => result
  .details
    %h2= link_to truncate_on_words(result.summary, 48), result.recall_url
    .description
      .recall-date= "#{(result.recalled_on || result.created_at).strftime("%b. %d, %Y")}:"
      = truncate(sanitize(result.description, :tags => []), 166)
    .url= link_to shorten_url(result.recall_url), result.recall_url
