%div
  Sort By:
  = link_to_unless params[:sort].blank? || params[:sort] == 'date', 'Date', recalls_search_path(@valid_params.merge(:sort => 'date'))
  |
  = link_to_unless params[:sort] == 'rel', 'Relevance', recalls_search_path(@valid_params.merge(:sort => 'rel'))

%ul
  Recall Types
  - @search.facet(:organization).rows.each do |row|
    %li
      = link_to_unless params[:organization] == row.value, row.value, recalls_search_path(@valid_params.merge(:organization => row.value))
      (#{row.count})
      - if row.value == 'CDC'
        %ul
          - @search.facet(:food_type).rows.each do |row|
            %li
              = link_to_unless  params[:food_type] == row.value, row.value, recalls_search_path(@valid_params.merge(:organization => 'CDC', :food_type => row.value))
              (#{row.count})
              
%ul
  Date Ranges
  %li
    = link_to_unless params[:date_range] == 'last_30', 'Last 30 Days', recalls_search_path(@valid_params.merge(:date_range => 'last_30'))
  %li
    = link_to_unless params[:date_range] == 'last_90', 'Last 90 Days', recalls_search_path(@valid_params.merge(:date_range => 'last_90'))
  %li
    = link_to_unless params[:date_range] == 'current_year', 'Current Year', recalls_search_path(@valid_params.merge(:date_range => 'current_year'))
  %li
    = link_to_unless params[:date_range] == 'last_year', 'Last Year', recalls_search_path(@valid_params.merge(:date_range => 'last_year'))