.span-24{:style => 'color: green;'}
  = flash[:notice]
.span-24
  = render :partial => "analytics/shared/search", :locals => { :path => analytics_query_search_path, :affiliate => nil }

.span-24
  %h2= display_most_recent_date_available(@day_being_shown)

- if @affiliate.nil? and @most_recent_day_biggest_movers.is_a? Array
  .span-24.headertitle
    %h2 Top Movers

  - group_size = (@most_recent_day_biggest_movers.size / 3)+(@most_recent_day_biggest_movers.size % 3 == 0 ? 0 : 1)
  - most_recent_day_biggest_movers_in_3_groups = @most_recent_day_biggest_movers.in_groups_of(group_size, false)
  - most_recent_day_biggest_movers_in_3_groups.each_with_index do |col, idx|
    .span-8{:id=>"qas#{idx}"}
      = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => col , :content_name => "qas#{idx}", :heading => "", :affiliate => nil, :offset => most_recent_day_biggest_movers_in_3_groups.first.size * idx }

.span-24.headertitle
  .span-21
    %h2 Most Popular Queries
  .span-3.last
    %form
      = display_select_for_window("dqs", @num_results_dqs, @day_being_shown)
.span-8{:id=>"dqs1"}
  = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => @most_recent_day_popular_terms , :content_name => "dqs1", :heading => "1 Day", :affiliate => nil}
.span-8{:id=>"dqs7"}
  = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => @trailing_week_popular_terms , :content_name => "dqs7", :heading => "Previous 7 Days", :affiliate => nil}
.span-8.last{:id=>"dqs30"}
  = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => @trailing_month_popular_terms , :content_name => "dqs30", :heading => "Previous 30 Days", :affiliate => nil}

.span-24.headertitle
  .span-21
    %h2 Most Popular Query Groups
  .span-3.last
    %form
      = display_select_for_window("dqgs", @num_results_dqgs, @day_being_shown)
.span-8{:id=>"dqgs1"}
  = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => @most_recent_day_popular_query_groups , :content_name => "dqgs1", :heading => "1 Day", :affiliate => nil}
.span-8{:id=>"dqgs7"}
  = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => @trailing_week_popular_query_groups , :content_name => "dqgs7", :heading => "Previous 7 Days", :affiliate => nil}
.span-8.last{:id=>"dqgs30"}
  = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => @trailing_month_popular_query_groups , :content_name => "dqgs30", :heading => "Previous 30 Days", :affiliate => nil}

#daily_top_queries.span-24
  = analytics_daily_report_link(@day_being_shown)
  
.span-24.headertitle
  .span-21
    %h2
      = "Contextual Queries: #{@contextual_query_total}"