= analytics_center_breadcrumbs @page_title

.span-24{:style => 'color: green;'}
  = flash[:notice]
.span-24
  = render :partial => "analytics/shared/search", :locals => { :path => analytics_query_search_path, :affiliate => nil }

.span-12
  = render :partial => "analytics/shared/date_range_select", :locals => { :path => analytics_queries_path, :affiliate => nil, :start_date => @start_date, :end_date => @end_date, :available_dates => @available_dates, :show_tag => 'Show most popular queries from'}

- if @no_results_queries.present?
  .span-8.header-box.left.clear
    No Results Queries
  .clear.span-8
    = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => @no_results_queries, :affiliate => nil, :heading => ""}

= render :partial => "analytics/shared/popular_queries_table", :locals => { :affiliate => nil, :start_date => @start_date, :end_date => @end_date, :query_counts => @popular_terms, :num_results => @num_results_dqs}

#daily_top_queries.span-24
  = analytics_daily_report_link(@end_date)
