.show-boosted-content
  %h1= @page_title
  %table
    %colgroup
      %col{ :class => 'name' }
      %col{ :class => 'value' }
    %thead
      %tr
        %th{ :colspan => 2 }
          .actions
            = link_to("Edit", edit_admin_boosted_content_path(@boosted_content), { :class => 'edit-link' })
            = button_to("Delete", [:admin, @boosted_content], :method => :delete, :confirm => "Are you sure you want to delete this Best Bets: Text entry?")
    = render :partial => 'shared/boosted_contents/show'
  .add-link-wrapper
    = link_to "Add another Best Bets: Text", new_admin_boosted_content_path, :class => 'add-link'
