= content_for_site_page_title @site, 'YouTube'
.sub-nav-heading
  %h2 YouTube
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page
      %li= link_to 'Add YouTube Channel', new_site_youtube_channel_path(@site)

= render_flash_message
%table.table.table-no-header
  %tbody
    - @profiles.each do |youtube_profile|
      %tr
        %td= link_to youtube_profile.title, youtube_profile.url, target: '_blank'
        %td.actions
          %ul
            %li= button_to 'Remove', site_youtube_channel_path(@site, youtube_profile.id), method: :delete, data: { confirm: "Are you sure you wish to remove #{youtube_profile.title} channel from this site?" }, class: 'btn btn-small'
