= content_for_site_page_title @site, 'Add YouTube Channel'
= form_for @profile, url: { action: :create }, html: { class: 'form' }  do |f|
  .sub-nav-heading
    %h2 Add YouTube Channel
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= link_to 'View All', site_youtube_channels_path(@site)
        %li= f.submit 'Add', class: 'btn submit disabled', disabled: true
  = render_flash_message
  = render_error_messages(@profile)
  = f.label :url, 'YouTube Channel URL', class: 'required'
  = f.text_field :url, class: 'required input-primary'
