.page-not-found
  %a{:name => "content"}
  - unless @affiliate
    .logo-wrapper
      = link_to(image_tag("USAsearch_large_#{I18n.locale}.gif" , :alt => "USASearch Home"), home_page_path(:locale => I18n.locale), :id => 'landing_page_logo', :class => 'web')
  %h3.message
    = t(:"page_not_found.page_removed")
  .what-to-do-wrapper
    %h3
      = t(:"page_not_found.what_should_you_do")
    %ul
      - t(:"page_not_found.basic_suggestions").each do |basic_suggestion|
        %li= basic_suggestion
      - if @affiliate
        %li= t(:"page_not_found.affiliate_go_to_home_page")
      - else
        %li= t(:"page_not_found.go_to_home_page", :home_page_link => link_to(t(:"page_not_found.home_page_link_text"), t(:"page_not_found.home_page_url"))).html_safe
    - if @affiliate
      %span= t(:"page_not_found.affiliate_search_header")
      = render "/shared/search", :path => search_path
  = render "/shared/search", :path => search_path unless @affiliate

