= content_for_site_page_title @site, "Best Bet Queries"
.sub-nav-heading
  %h2= "Best Bet Queries for Current Month"
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page

- if @best_bet
  %h3
    = "Title: #{@best_bet.title}"
    = best_bet_edit_link(@site, @best_bet)

  .keentivate{"data-keen-filter" => "affiliate_id=#{@site.id}|model_id=#{@best_bet.id}|module=#{params[:module_tag]}", "data-keen-event" => "impressions", "data-keen-title" => "Queries leading to this best bet", "data-keen-type" => "pie", "data-keen-group" => 'query', 'data-keen-timeframe' => 'this_month'}