= content_for_site_page_title @site, "Best Bet Queries"
.sub-nav-heading
  %h2= "Best Bet Queries for Current Month"
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page

- if @best_bet
  %h3
    = "Title: #{@best_bet.title}"
    = best_bet_edit_link(@site, @best_bet)

  #keen-best-bets-queries{ data: { module: params[:module_tag], key: @site.keen_scoped_key, model_id: @best_bet.id }}
