= content_for_site_page_title @site, 'Queries'
= form_for @queries_request, url: { action: :create }, html: { class: 'form form-search' }  do |form|
  .sub-nav-heading
    %h2 Queries
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= form.submit 'Generate Report', class: 'btn submit btn-primary'
  %ul.inline
    = render partial: 'sites/shared/analytics_date_picker',
      locals: { date_label: 'From', date_method: :start_date, form: form, value: @analytics_settings[:start]}
    = render partial: 'sites/shared/analytics_date_picker',
      locals: { date_label: 'To', date_method: :end_date, form: form, value: @analytics_settings[:end]}
    %li= form.label :query, "Query"
    %li
      %div= form.text_field :query

- if @queries_request.top_queries.present?
  %p
    *
    = link_to "Routed queries", site_routed_queries_path(@site)
    are marked with an asterisk.
  %table.table.table-striped.table-bordered.table-kv-pairs
    %thead
      %tr
        %th Top Queries
        %th # of Queries
        %th Clicks from this Query
        %th CTR
        %th View Clicks
        %th View Referring URLs
        %th Download Details
    %tbody
      - @queries_request.top_queries.each_with_index do |query_click_count, idx|
        %tr
          %td
            = "#{idx+1}."
            = query_click_count.query
            - if query_click_count.is_routed_query
              *
          %td= number_with_delimiter(query_click_count.queries)
          %td= number_with_delimiter(query_click_count.clicks)
          %td= number_to_percentage(query_click_count.ctr, precision: 1)
          %td= link_to "View Clicks", site_query_clicks_path(@site,
            {query: query_click_count.query, start_date: @analytics_settings[:start_date], end_date: @analytics_settings[:end_date]})
          %td= link_to "View Referring URLs", site_query_referrers_path(@site,
            {query: query_click_count.query, start_date: @analytics_settings[:start_date], end_date: @analytics_settings[:end_date]})
          %td= query_drilldown_link(@site, query_click_count.query, @analytics_settings[:start_date], @analytics_settings[:end_date] )

- elsif @queries_request.query.present?
  %p= "Sorry, no results found for '#{@queries_request.query}'."
- else
  %p Your site has not received any search queries yet.
