= content_for_site_page_title @site, 'Queries'
= form_for @queries_request, url: { action: :create }, html: { class: 'form form-search' }  do |form|
  .sub-nav-heading
    %h2 Queries
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= form.submit 'Generate Report', class: 'btn submit btn-primary'
  = render form

- if @queries_request.top_queries.present?
  %table.table.table-striped.table-bordered.table-kv-pairs
    %thead
      %tr
        %th Top Queries
        %th # of Queries
    %tbody
      - @queries_request.top_queries.first(10).each_with_index do |query_count, idx|
        %tr
          %td
            = "#{idx+1}."
            = query_count.query
          %td= link_to number_with_delimiter(query_count.times), site_query_clicks_path(@site,
            {:query => query_count.query, :start_date => @queries_request.start_date, :end_date => @queries_request.end_date})

  %p Tip: Select the hyperlinked number in the # of Queries column to view the top clicked URLs for each query.
- elsif @queries_request.query.present?
  %p= "Sorry, no results found for '#{@queries_request.query}'."
- else
  %p Your site has not received any search queries yet.