= render_flash_message
= render_error_messages(@boosted_content)
= form.label :url, 'URL', class: 'required'
= form.text_field :url, class: 'required input-primary'
= form.label :title, 'Title', class: 'required'
= form.text_field :title, class: 'required'
= form.label :description, 'Description', class: 'required'
= form.text_area :description, class: 'required', rows: 5, maxlength: 255
= form.label :status, 'Status', class: 'required'
= form.select :status, BoostedContent::STATUS_OPTIONS, { default: 'Active' }, class: 'required'

.required= form.label :publish_start_on, 'Publish Start Date'
.input-append.calendar
  %div= form.date_picker_field :publish_start_on, assign_start_date: true
  %span.add-on.add-on-icon
    %i.fa.fa-calendar-black.fa-2x

= form.optional_label :publish_end_on, 'Publish End Date'
.input-append.calendar
  %div= form.date_picker_field :publish_end_on, assign_start_date: true
  %span.add-on.add-on-icon
    %i.fa.fa-calendar-black.fa-2x

= form.label :match_keyword_values_only, class: 'checkbox' do
  = form.check_box :match_keyword_values_only
  Match Keywords Only?

%fieldset.keywords
  .optional
    %legend
      Keywords
      %span (Optional)
  - @boosted_content.boosted_content_keywords.each_with_index do |keyword, index|
    = form.fields_for :boosted_content_keywords, keyword do |keyword_fields|
      = render 'sites/boosted_contents/keyword', f: keyword_fields, index: index
= link_to_add_new_boosted_content_keyword 'Add Another Keyword', @site, @boosted_content
