= content_for_site_page_title @site, 'Best Bets: Text'
.sub-nav-heading
  %h2 Best Bets: Text
  .action-bar
    %ul
      %li= link_to 'Bulk Upload', new_site_best_bets_texts_bulk_upload_path(@site)
      %li= link_to 'Add Best Bets: Text', new_site_best_bets_text_path(@site)

= render_flash_message

= render partial: 'search'

%table.table.table-no-header
  %tbody
    - @boosted_contents.each do |boosted_content|
      %tr{ best_bets_status_class_hash(boosted_content) }
        %td
          = link_to boosted_content.title, boosted_content.url, target: '_blank'
          %ul.info
            = best_bets_status_and_dates_item boosted_content
            = boosted_content_keywords_item boosted_content
        %td.actions
          %ul
            %li= link_to 'Edit', edit_site_best_bets_text_path(@site, boosted_content.id)
            %li= button_to 'Remove', site_best_bets_text_path(@site, boosted_content.id), method: :delete, data: { confirm: "Are you sure you wish to remove #{boosted_content.title} from this site?" }, class: 'btn btn-small'
= will_paginate @boosted_contents, renderer: BootstrapPagination::Rails
