= content_for_site_page_title @site, 'Add Best Bets: Text'
= form_for @boosted_content, url: { action: :create }, html: { class: 'form' }  do |form|
  .sub-nav-heading
    %h2 Add Best Bets: Text
    .action-bar
      %ul
        %li= link_to 'View All', site_best_bets_texts_path(@site)
        %li= form.submit 'Add', class: 'btn submit disabled', disabled: true
  = render form
