%p
  Bulk Edit Query Group: #{@query_group.name}
  %ul
    %li
      Edit the queries in this query group by adding or removing lines from the text field below.
    %li
      Each line is a separate query in the group.
    %li
      To add queries to the group, enter a new query on a line in the text field below, or paste in a list.
    %li
      To delete queries, remove lines form the text field below.  To remove all the queries in the group, remove all the lines.
    %li
      When you're ready to save your changes, click 'Update Queries'.
  Note: 
  %ul
    %li
      Duplicate queries will be removed, blank lines will be ignored
    %li
      After update, queries will be resorted in alphabetical order.  
%p{:style => "color: green;"}
  = flash[:notice]
= form_tag bulk_edit_analytics_query_group_path do
  = label_tag 'grouped_queries_text', 'Queries'
  %br/
  = text_area_tag 'grouped_queries_text', @grouped_queries_text
  %br
  = submit_tag 'Update Queries'
%p
  = link_to 'Back to Query Groups Admin', analytics_query_groups_path