%style{ :type => 'text/css' }
  :sass
    #container
      background-color: #{render_affiliate_css_property_value(css_property_hash, :content_background_color)}
    body
      &.with-content-border #container
        border: 1px solid #{render_affiliate_css_property_value(css_property_hash, :content_border_color)}
      &.with-content-box-shadow #container
        -moz-box-shadow: #{render_affiliate_css_property_value(css_property_hash, :content_box_shadow_color)} 0 0 5px
        -webkit-box-shadow: #{render_affiliate_css_property_value(css_property_hash, :content_box_shadow_color)} 0 0 5px
        -o-box-shadow: #{render_affiliate_css_property_value(css_property_hash, :content_box_shadow_color)} 0 0 5px
        box-shadow: #{render_affiliate_css_property_value(css_property_hash, :content_box_shadow_color)} 0 0 5px
    #header, #footer
      .managed-header-footer-links
        a, a:visited
          color: #{render_managed_header_css_property_value(managed_header_css_properties, :header_footer_link_color, false)}
    #search_button
      background-color: #{render_affiliate_css_property_value(css_property_hash, :search_button_background_color)}
      border: 1px solid #{render_affiliate_css_property_value(css_property_hash, :search_button_background_color)}
      color: #{render_affiliate_css_property_value(css_property_hash, :search_button_text_color)}
    .rss-feeds, .time-filters
      li div
        border-left-color: #{render_affiliate_css_property_value(css_property_hash, :left_tab_text_color)}
        color: #{render_affiliate_css_property_value(css_property_hash, :left_tab_text_color)}
    #left_column h3, #left_nav_label
      color: #{render_affiliate_css_property_value(css_property_hash, :left_tab_text_color)}
    .default .affiliate_autocomplete .ui-menu-item
      a, span
        font-family: #{render_affiliate_css_property_value(css_property_hash, :font_family)}
    #search, #search_query
      font-family: #{render_affiliate_css_property_value(css_property_hash, :font_family)}
    #search
      color: #{render_affiliate_css_property_value(css_property_hash, :description_text_color)}
      a
        color: #{render_affiliate_css_property_value(css_property_hash, :title_link_color)}
        &:visited
          color: #{render_affiliate_css_property_value(css_property_hash, :visited_title_link_color)}
      #left_column a:visited
        color: #{render_affiliate_css_property_value(css_property_hash, :title_link_color)}
    #skiplink
      a, a:visited
        color: #{render_affiliate_css_property_value(css_property_hash, :title_link_color)}
    #results .searchresult
      .agency, .medline
        h3, .official-tag
          color: #{render_affiliate_css_property_value(css_property_hash, :left_tab_text_color)}
      h3 a, h4 .feed_name
        color: #{render_affiliate_css_property_value(css_property_hash, :url_link_color)}
    #results
      .govbox
        h3.alt, h3.alt a
          color: #{render_affiliate_css_property_value(css_property_hash, :left_tab_text_color)}
      .featured-collection h2, .featured-collection h2 a, #twitter_govbox h3.alt
        color: #{render_affiliate_css_property_value(css_property_hash, :left_tab_text_color)}
    #results .pagination
      a, a:visited
        color: #{render_affiliate_css_property_value(css_property_hash, :title_link_color)}
      a:hover, em
        background-color: #{render_affiliate_css_property_value(css_property_hash, :search_button_background_color)}
        color: #{render_affiliate_css_property_value(css_property_hash, :search_button_text_color)}
    #search .page-not-found
      h3.message
        color: #{render_affiliate_css_property_value(css_property_hash, :left_tab_text_color)}
