#best-bets.search.collapsible.collapsed
  .content-block-item.content-block-item-header
    %h3.content-heading
      = t :recommended
      = t :'searches.by'
      = search.affiliate.display_name
  - if search.has_boosted_contents?
    - search.boosted_contents.results.each_with_index do |result, index|
      = render partial: 'boosted_content', locals: { result: result, position: index + 1 }

  - fc_content_trigger_class_hash = {}
  - if search.has_featured_collections?
    - result = search.featured_collections.results.first
    - fc_content_trigger_class_hash = featured_collection_content_trigger_class_hash(search.best_bets_count, result)
    = render partial: 'featured_collection', locals: { result: result, position: search.boosted_contents_count + 1 }

  - if search.boosted_contents_count > 2 or fc_content_trigger_class_hash.present?
    .content-block-item.content-block-item-footer.content-trigger{ fc_content_trigger_class_hash }
      = render partial: 'show_more_show_less'
