= form_tag(@form_path, :method => :get, :id => "search_form") do
  = label_tag :search_query, t(:search_label), class: 'hide'
  = hidden_field_tag :sc, 0
  = text_field_tag 'search', @search_options[:query], { :maxlength => 255, :size => 49, :name => "query", :autocomplete => "off", :class => "usagov-search-autocomplete", :id => "search_query" }
  = hidden_field_tag :m, params[:m]
  = hidden_field_tag_if_key_exists :dc
  = hidden_field_tag :affiliate, @affiliate.name
  = hidden_field_tag_if_key_exists :sitelimit
  = hidden_field_tag_if_key_exists :staged
  = submit_tag(t(:search), :id => "search_button")
