.content-block-item.result{ featured_collection_class_hash(hit.instance), id: "best-bet-#{position}", onclick: 'void(0)' }
  .image-and-title
    = featured_collection_image hit.instance
    %h3= link_to_best_bet_title(hit, hit.instance.title_url, position, 'BBG')
  %ul{ class: "#{hit.instance.layout.gsub(' ', '-')}" }
    - link_titles = featured_collection_link_titles(hit)
    - hit.instance.featured_collection_links.each_with_index do |link, index|
      %li
        = link_to_best_bet_title hit, link.url, position, 'BBG', title: link_titles[index]
