.content-block-item.result{ id: "federal-register-document-#{position}" }
  %h4.title= link_to_federal_register_document_title document, position
  %span.metadata= federal_register_document_info document
  %span.metadata= federal_register_document_comment_period document
  %span.metadata= federal_register_document_page_info document
