= form_tag request.path, method: :get, id: 'search-bar', class: search_bar_class(search) do
  = hidden_field_tag :affiliate, search.affiliate.name
  = hidden_field_tag_if_key_exists :sitelimit

  - if search.is_a? FilterableSearch
    = hidden_field_tag_if_key_exists :tbs
    = hidden_field_tag :channel, search.rss_feed.id if search.is_a?(NewsSearch) && search.rss_feed
    = hidden_field_tag :sort_by, search.sort_by

    - if search.tbs
      = hidden_field_tag :tbs, search.tbs
    -elsif search.since || search.until
      = hidden_field_tag :since_date, render_date(search.since)
      = hidden_field_tag :until_date, render_date(search.until)

  = hidden_field_tag_if_key_exists :dc

  = label_tag :query, t(:search_label), class: 'sr-only'
  = text_field_tag :query, search.query,
    class: typeahead_query_class(search.affiliate),
    spellcheck: false,
    type: 'search'
  - if search.affiliate.is_sayt_enabled?
    %span#tt-status{ role: 'status', aria: { live: 'polite'}, data: { suggestion_count: 0 }}
  #clear-button{ tabindex: -1 }
    %span= t(:clear)
  = submit_tag t(:search), id: 'search-button'
