- med_topic = search.med_topic
#med-topic.search.collapsible.collapsed
  .content-block-item.med-topic
    = link_to 'MedlinePlus', t(:'searches.med_topic.homepage_url'), class: "logo-#{I18n.locale}"
    %h4.title= link_to_result_title(med_topic.medline_title, med_topic.medline_url, 1, 'MEDL')
    %span.description= med_topic.truncated_summary

    - if med_topic.med_related_topics.present?
      .related-topics
        %h5.subsection= t :'searches.med_topic.related_topics'
        %ul
          - med_topic.med_related_topics.limit(3).each do |related_topic|
            %li.related-topic
              = link_to_result_title(related_topic.title, related_topic.url, 1, 'MEDL')
              %span.separator> ,

    - if med_topic.med_sites.present?
      .clinical-studies
        %h5.subsection Open clinical studies and trials
        %ul
          - med_topic.med_sites.limit(2).each do |site|
            %li
              = link_to_result_title(site.title, site.url, 1, 'MEDL')
              %span.separator> ,

  - if med_topic.med_related_topics.present? || med_topic.med_sites.present?
    .content-block-item.content-block-item-footer.content-trigger
      = render partial: 'show_more_show_less'
