= form_tag(@form_path, :method => :get, id: 'cdr_search_form') do
  %a{ class: 'close' }
  .hide
    = label_tag :cdr_query, nil, :class => 'hide'
    = hidden_field_tag :query, @search.query, :id => 'cdr_query'
    = hidden_field_tag :sc, 0, :id => 'cdr_sc'
    = hidden_field_tag :locale, I18n.locale, :id => 'cdr_locale'
    = hidden_field_tag :m, params[:m], :id => 'cdr_m'
    = hidden_field_tag :channel, @search.rss_feed.id, id: 'cdr_channel' if @search.rss_feed
    = hidden_field_tag :affiliate, @affiliate.name, id: 'cdr_affiliate'
    = hidden_field_tag :sitelimit, params[:sitelimit] if params[:sitelimit]
    = hidden_field_tag :sort_by, search_params[:sort_by], id: 'cdr_sort_by' if search_params[:sort_by]
    = hidden_field_tag :contributor, search_params[:contributor], id: 'cdr_contributor' if search_params[:contributor]
    = hidden_field_tag :subject, search_params[:subject], id: 'cdr_subject' if search_params[:subject]
    = hidden_field_tag :publisher, search_params[:publisher], id: 'cdr_publisher' if search_params[:publisher]
  %h3= t(:custom_range)
  %ul
    %li
      #cdr_date_picker
      .from
        = label_tag :cdr_since_date, "#{t(:from)}:"
        .date-wrapper.highlight= text_field_tag :since_date, params[:since_date].present? || params[:until_date].present? ? render_date(@search.since) : nil, id: 'cdr_since_date'
      .to
        = label_tag :cdr_until_date, "#{t(:to)}:"
        .date-wrapper= text_field_tag :until_date, render_date(@search.until), id: 'cdr_until_date'
      .button
        = submit_tag(t(:search), :id => 'cdr_search_button')
