.content-block-item.result{ id: "result-#{position}" }
  %h4.title
    = link_to_news_item_title(result, position)
  %span.url= truncate_url(result.link)
  %span.description
    = news_item_time_ago_in_words(result.published_at, ' - ')
    = news_description(result)
