.content-block-item.result{ id: "result-#{index + 1}" }
  %h3
    - module_name = hit.instance.is_video? ? 'VIDS' : 'NEWS'
    = link_with_click_tracking(highlight_hit(hit, :title).html_safe, hit.instance.link, search.affiliate, search.query, index, module_name, @search_vertical)
  %span.url= truncate_url(hit.instance.link)
  %span.description
    = time_ago_in_words(hit.instance.published_at)
    \-
    = news_description(hit)
