.content-block-item.result{ id: "result-#{position}" }
  %h4.title
    = display_web_result_extname_prefix(result)
    = link_to_web_result_title(result, position)
  %div.url= UrlParser.strip_http_protocols result['unescapedUrl']
  %span.description
    - if result['publishedAt']
      = news_item_time_ago_in_words(result['publishedAt'], ' - ')
    = display_result_description(result)
