- if search.agency.present? and index == 0 and search.page == 0 and agency_url_matches_by_locale(result['unescapedUrl'], search.agency, I18n.locale)
  .govbox
    .searchresult.clearfix{:id => "searchresult#{index+1}"}
      %h2= display_result_title(result, search, affiliate, index)
      %h3
        = display_result_links(result, search, affiliate, index, false)
        |
        = t :agency_official_site
      %h3{:style => 'width: 600px;'}
        = display_result_description(result)
      - if affiliate == nil && index == 0 && search.page == 0
        = display_deep_links_for(result)
      = display_agency_phone_numbers(search.agency)
      %h3{:style => 'margin-top: 5px;'}
        #{t :agency_search_within_label} #{search.agency.domain}
        - form_tag search_path, :method => :get, :style => 'margin-bottom: 0.5em' do
          = hidden_field_tag 'sitelimit', search.agency.domain
          = hidden_field_tag 'locale', I18n.locale.to_s
          = text_field_tag 'query'
          = submit_tag 'Search'
      = display_agency_social_media_links(search.agency)
- else
  .searchresult.clearfix{:id => "searchresult#{index+1}"}
    %h2= display_result_title(result, search, affiliate, index)
    %h3= display_result_description(result)
    %h3= display_result_links(result, search, affiliate, index)
    - if affiliate == nil && index == 0 && search.page == 0
      = display_deep_links_for(result)
