- block_id_prefix ||= 'result'
.content-block-item.result.video{ id: "#{block_id_prefix}-#{position}", onclick: 'void(0)' }
  %h4.title
    = link_to_news_item_title(instance, position, 'VIDS')
  .thumbnail= link_to_news_item_thumbnail 'VIDS', instance, position
  %span.content-host-and-published-distance
    %span.content-host YouTube
    %span.published-distance= news_item_time_ago_in_words(instance.published_at)
  %span.description
    = news_description(instance)
