#search
  %h2= t :advanced_search_instruction

  #advanced
    .content-block-item.content-block-item-header
      %h3.content-heading= t :advanced_search_show_results_header

    .content-block-item
      = form_tag search_path, method: :get do
        = hidden_field_tag_if_key_exists :m, permitted_params[:m]
        = hidden_field_tag :affiliate, @search.affiliate.name

        = label_tag :query, t(:advanced_search_query_label)
        = text_field_tag :query, permitted_params[:query], type: 'search'

        = label_tag :'query-quote', t(:advanced_search_query_quote_label)
        = text_field_tag :'query-quote',
          permitted_params[:'query-quote'],
          type: 'search'

        = label_tag :'query-or', t(:advanced_search_query_or_label)
        = text_field_tag :'query-or',
          permitted_params[:'query-or'],
          type: 'search'

        = label_tag :'query-not', t(:advanced_search_query_not_label)
        = text_field_tag :'query-not',
          permitted_params[:'query-not'],
          type: 'search'

        = label_tag :filetype, t(:advanced_search_file_type_label)
        = select_tag :filetype,
          options_for_select(MobileHelper::ADVANCED_SEARCH_FILETYPE_OPTIONS,
          permitted_params[:filetype])

        %fieldset
          %legend= t :advanced_search_adult_filter_label
          = label_tag 'filter_0' do
            = radio_button_tag :filter, '0', permitted_params[:filter] == '0'
            = t :advanced_search_adult_filter_off_label
          = label_tag 'filter_1' do
            = radio_button_tag :filter, '1', permitted_params[:filter] == '1'
            = t :advanced_search_adult_filter_moderate_label
          = label_tag 'filter_2' do
            = radio_button_tag :filter, '2', permitted_params[:filter] == '2'
            = t :advanced_search_adult_filter_strict_label

        = submit_tag t(:advanced_search), id: 'advanced-search-button'
