#advanced-header
  = link_to image_tag("USAsearch_medium_#{I18n.locale}.gif" , :alt => "USASearch Home"), home_page_path(:locale => I18n.locale) unless @affiliate
- form_tag(search_path, :method => :get, :id => 'advanced-firstgov', :class => 'advanced', :name=> 'advanced-firstgov', :target => '_parent') do
  = hidden_field_tag 'input-form', 'advanced'
  = hidden_field_tag 'locale', I18n.locale unless (I18n.locale == I18n.default_locale)
  = hidden_field_tag 'affiliate', @affiliate.name if @affiliate
  = hidden_field_tag 'scope_id', @scope_id if @affiliate && @scope_id
  #advanced-form-intro
    %strong= (@affiliate.nil? ? (t :advanced_search_instruction) : (t :advanced_affiliate_search_instruction, :affiliate_name => h(@affiliate.display_name)))
  .elements
    %div
      %strong= t :advanced_search_show_results_header
    .element
      .query-label
        %span.query-label
          = label_tag "query-lbl", (t :advanced_search_query_label)
      .input
        = text_field_tag 'query', params['query'], :size => 40, :id => 'query-lbl'
        = select_tag 'query-limit', options_for_select([ [ (t :advanced_search_any_part_of_page_option), ''], [(t :advanced_search_in_title_only_option), 'intitle:'] ], params['query-limit'].blank? ? nil : params['query-limit']), :title => 'on what part of page', :id => 'query-limit-lbl'
    .element
      .query-label
        %span.query-label
          = label_tag 'query-quote-lbl', (t :advanced_search_query_quote_label)
      .input
        = text_field_tag 'query-quote', params['query-quote'], :size => 40, :id => 'query-quote-lbl'
        = select_tag 'query-quote-limit', options_for_select([ [ (t :advanced_search_any_part_of_page_option), ''], [(t :advanced_search_in_title_only_option), 'intitle:'] ], params['query-quote-limit'].blank? ? nil : params['query-limit']), :title => 'on what part of page', :id => 'query-quote-limit-lbl'
    .element
      .query-label
        %span.query-label
          = label_tag 'query-or-lbl', (t :advanced_search_query_or_label)
      .input
        = text_field_tag 'query-or', params['query-or'], :size => 40, :id => 'query-or-lbl'
        = select_tag 'query-or-limit', options_for_select([ [ (t :advanced_search_any_part_of_page_option), ''], [(t :advanced_search_in_title_only_option), 'intitle:'] ], params['query-or-limit'].blank? ? nil : params['query-limit']), :title => 'on what part of page', :id => 'query-or-limit-lbl'
    .element
      .query-label
        %span.query-label
          = label_tag 'query-not-lbl', (t :advanced_search_query_not_label)
      .input
        = text_field_tag 'query-not', params['query-not'], :size => 40, :id => 'query-not-lbl'
        = select_tag 'query-not-limit', options_for_select([ [ (t :advanced_search_any_part_of_page_option), ''], [(t :advanced_search_in_title_only_option), 'intitle:'] ], params['query-not-limit'].blank? ? nil : params['query-limit']), :title => 'on what part of page', :id => 'query-not-limit-lbl'
    .element
      .label
        %span.label
          = label_tag 'filetype-lbl', (t :advanced_search_file_type_label)
      .input
        = select_tag 'filetype', options_for_select([ [(t :advanced_search_file_type_all_format_label), nil], ['Adobe PDF', 'pdf'], ['Microsoft Excel', 'xls'], ['Microsoft PowerPoint', 'ppt'], ['Microsoft Word', 'doc'], [(t :advanced_search_file_type_txt_format_label), 'txt'] ], params['filetype'].blank? ? 'All' : params['filetype']), :id => 'filetype-lbl'
    - unless @affiliate
      .element
        .label
          %span.label
            = label_tag 'sitelimit-lbl', (t :advanced_search_site_limits_label)
        .input
          = text_field_tag 'sitelimit', params['sitelimit'], :size => 50, :id => 'sitelimit-lbl'
          %div= (t :advanced_search_site_limits_example)
      .element
        .label
          %span.label
            = label_tag 'siteexclude-lbl', (t :advanced_search_site_excludes_label)
        .input
          = text_field_tag 'siteexclude', params['siteexclude'], :size => 50, :id => 'siteexclude-lbl'
          %div= (t :advanced_search_site_excludes_example)
      .element
        .label
          %span.label
            = label_tag 'fedstates-lbl', (t :advanced_search_fedstates_label)
        .input
          = select_tag 'fedstates', options_for_select( scope_ids_as_options, params['fedstates'].blank? ? nil : params['fedstates'] ), :id => 'fedstates-lbl'
    .element
      .label
        %span.label
          = label_tag 'per-page-lbl', (t :advanced_search_results_per_page_label)
      .input
        = select_tag 'per-page', options_for_select( [ ["10", "10"], ["20", "20"], ["30", "30"], ["40", "40"], ["50", "50"] ], params['per-page'].blank? ? '10' : params['per-page']), :id => 'per-page-lbl'
    .element
      .label
        %span.label
          = label_tag 'filter-lbl', (t :advanced_search_adult_filter_label)
      .input
        %span.radio-option
          = radio_button_tag 'filter', 'off', params['filter'] == 'off', :id => 'filter0'
          = label_tag 'filter0', (t :advanced_search_adult_filter_off_label)
        %span.radio-option
          = radio_button_tag 'filter', 'moderate', (params['filter'] || "moderate") == 'moderate', :id => 'filter1'
          = label_tag 'filter1', (t :advanced_search_adult_filter_moderate_label)
        %span.radio-option
          = radio_button_tag 'filter', 'strict', params['filter'] == 'strict', :id => 'filter2'
          = label_tag 'filter2', (t :advanced_search_adult_filter_strict_label)
  .submit
    = image_submit_tag((t :advanced_search_submit_button_image_path), :value => (t :advanced_search_submit_button_image_alt_value), :alt => (t :advanced_search_submit_button_image_alt_value))