%a#main_content
- target = params[:embedded] ? nil : '_parent'
= form_tag(search_path, :method => :get, :id => 'advanced-firstgov', :class => 'advanced', :name=> 'advanced-firstgov', :target => target) do
  = hidden_field_tag 'input-form', 'advanced'
  = hidden_field_tag 'affiliate', @affiliate.name
  = hidden_field_tag 'scope_id', @scope_id if @scope_id
  = hidden_field_tag 'embedded', params[:embedded] if params[:embedded]
  #advanced-form-intro
    %h1= t :advanced_search_instruction
  .elements
    %div.show-results-with
      %strong= t :advanced_search_show_results_header
    .element
      = label_tag 'query', (t :advanced_search_query_label)
      .input-wrapper= text_field_tag 'query', params['query']
    .element
      = label_tag 'query-quote', (t :advanced_search_query_quote_label)
      .input-wrapper= text_field_tag 'query-quote', params['query-quote']
    .element
      = label_tag 'query-or', (t :advanced_search_query_or_label)
      .input-wrapper= text_field_tag 'query-or', params['query-or']
    .element
      = label_tag 'query-not', (t :advanced_search_query_not_label)
      .input-wrapper= text_field_tag 'query-not', params['query-not']
    .element.section
      = label_tag 'filetype', (t :advanced_search_file_type_label)
      .input-wrapper= select_tag 'filetype', options_for_select([ [(t :advanced_search_file_type_all_format_label), nil], ['Adobe PDF', 'pdf'], ['Microsoft Excel', 'xls'], ['Microsoft PowerPoint', 'ppt'], ['Microsoft Word', 'doc'], [(t :advanced_search_file_type_txt_format_label), 'txt'] ], params['filetype'].blank? ? 'All' : params['filetype'])
    .element.section
      %fieldset
        %legend= (t :advanced_search_adult_filter_label)
        .input-wrapper
          .radio-option
            = radio_button_tag 'filter', 0, params['filter'] == '0'
            = label_tag 'filter_off', (t :advanced_search_adult_filter_off_label)
          .radio-option
            = radio_button_tag 'filter', 1, (params['filter'] || '1') == '1'
            = label_tag 'filter_moderate', (t :advanced_search_adult_filter_moderate_label)
          .radio-option
            = radio_button_tag 'filter', 2, params['filter'] == '2'
            = label_tag 'filter_strict', (t :advanced_search_adult_filter_strict_label)
    .submit= submit_tag(t(:search), id: 'search_button')
    .advanced-search-operator= render_advance_search_operators_help_text