#search_box
  = render 'docs_search_form'
  .left-nav-label-wrapper= left_nav_label(@affiliate.left_nav_label)
  .summary-wrapper
    - if @search.results.present?
      = results_summary(@search)
      .advancedsearch
        = advanced_search_link(@search_options, @affiliate)
    - else
      = render 'shared/blank_search_results', :search => @search
#left_column
  = render "shared/affiliate_vertical_navigation"
%div#main_content{:name => 'main_content'}
#results
  = render :partial => "shared/searchresults", :locals => { :search => @search }
