- if @affiliate.uses_one_serp?
  #search_box
    = render 'docs_search_form'
    .left-nav-label-wrapper= left_nav_label(@affiliate.left_nav_label)
    .summary-wrapper
      - if @search.results.present?
        = indexed_docs_results_summary start = ((@search.hits.current_page - 1) * @search.hits.per_page) + 1, start + @search.hits.length - 1, @search.total, @search_options[:query]
      - else
        = render 'shared/blank_search_results', :search => @search
#left_column
  = render "shared/affiliate_vertical_navigation"
%a{ :id => 'main_content', :name => 'main_content' }
#results
  = render 'docs_search_form' unless @affiliate.uses_one_serp?
  %a{:name => "content"}
  - if @search.results.present?
    = indexed_docs_results_summary start = ((@search.hits.current_page - 1) * @search.hits.per_page) + 1, start + @search.hits.length - 1, @search.total, @search_options[:query] unless @affiliate.uses_one_serp?
    - @search.hits.each_with_index do |hit, index|
      = render 'shared/indexed_document', :hit => hit, :index => index, :show_full_listing => true
    .pagination-and-logo
      = will_paginate(@search.results, :previous_label => (t :prev_label), :next_label => (t :next_label))
      = search_results_by_logo(false)
  - elsif !@affiliate.uses_one_serp?
    = render 'shared/blank_search_results', :search => @search
