#left_column
  &nbsp;
#results
  = form_tag(@form_path, :method => :get, :id => "search_form") do
    = label_tag :search_query, nil, :class => 'hide'
    = hidden_field_tag :sc, 0
    = text_field_tag 'search', @search_options[:query], { :maxlength => 255, :size => 49, :name => "query", :autocomplete => "off", :class => "usagov-search-autocomplete", :id => "search_query" }
    = hidden_field_tag :m, params[:m]
    = hidden_field_tag :affiliate, @affiliate.name
    = submit_tag(t(:search), :id => "search_button")
  %a{:name => "content"}
  - if @search.results.present?
    = indexed_docs_results_summary start = ((@search.hits.current_page - 1) * @search.hits.per_page) + 1, start + @search.hits.length - 1, @search.total, @search_options[:query], @affiliate.display_name
    - @search.hits(:verify => true).each_with_index do |hit, index|
      = render 'shared/indexed_document', :hit => hit, :index => index
    = will_paginate(@search.results, :previous_label => (t :prev_label), :next_label => (t :next_label))
  - elsif @error_message
    %p.noresults #{@search.error_message}
  - else
    = no_results_for @search_options[:query]