= form_tag(docs_search_path(:m => 'true'), :method => :get, :id => 'search_form') do
  = hidden_field_tag :m, params[:m]
  = hidden_field_tag :affiliate, @affiliate.name
  = hidden_field_tag :dc, params[:dc] if params[:dc]
  = render :partial => 'shared/search_box'

= render :partial => 'shared/searchresults', :locals => { :search => @search }
