#search_box
  = render 'docs_search_form'
  .left-nav-label-wrapper= left_nav_label(@affiliate.left_nav_label)
  .summary-wrapper
    - if @search.results.present?
      = results_summary(@search)
    - else
      = render 'shared/blank_search_results', :search => @search
#left_column
  = render "shared/affiliate_vertical_navigation"
%a#main_content
#results
  %a{:name => "content"}
  - if @search.results.present?
    - @search.hits.each_with_index do |hit, index|
      = render 'shared/indexed_document', :hit => hit, :index => index, :show_full_listing => true
    .pagination-and-logo
      = will_paginate(@search.results, :previous_label => (t :prev_label), :next_label => (t :next_label))
      = search_results_by_logo(false)
