#search{ search_data(@search, @search_vertical) }
  - if @search.commercial_results?
    = spelling_suggestion(@search, @search_options)
  -else
    = search_suggestion(@search, 'SPEL')

  - if @search.results.present?
    = render partial: 'organic_results', locals: { search: @search }
    = render partial: 'pagination', locals: { search: @search }
  - else
    = render partial: 'no_results', locals: { search: @search }
