#results-wrap
  #sidebar
    = link_to search_results_logo, home_page_path(:locale => I18n.locale)
    = render "/shared/relatedsearches"
  #results
    = render "/shared/search", :path => @form_path
    = render "/shared/popular_images", :search => @search if @search.extra_image_results.present?
    = render "/shared/searchresults", :search => @search
    = render "/shared/footer_search", :search => @search