#search{ search_data(@search, @search_vertical) }
  %h2= t 'searches.search_results'
  - if @search.results.blank?
    = render partial: 'no_results', locals: { search: @search }

  = spelling_suggestion(@search)
  = matching_site_limits @search, @search_params if @search.results.present?
  = render partial: 'best_bets', locals: { search: @search } if @search.has_best_bets?
  = render partial: 'med_topic', locals: { search: @search } if @search.med_topic.present?
  = render partial: 'jobs', locals: { search: @search } if @search.jobs.present?
  = render partial: 'tweets', locals: { search:  @search } if @search.has_tweets?
  = render partial: 'video_news_items', locals: { search:  @search, search_params: @search_params } if @search.has_video_news_items?
  = render partial: 'news_items', locals: { search:  @search } if @search.has_news_items?

  - if @search.results.present?
    = render partial: 'organic_results', locals: { search: @search }
    = render(partial: 'related_searches', locals: { search: @search }) if @search.related_search.present?
    = render partial: 'pagination', locals: { results: @search.results }
