- if @search.results.present?
  .hide-on-sayt-open
    = render(partial: 'best_bets', locals: { search: @search }) if @search.has_boosted_contents?
    = render partial: 'organic_results', locals: { search: @search }
    = render(partial: 'related_searches', locals: { search: @search }) if @search.related_search.present?
    = render partial: 'pagination', locals: { results: @search.results }

- else
  = render partial: 'no_results', locals: { search: @search }
