#sidebar
  = link_to(image_tag( "USAsearch_medium_#{I18n.locale}.gif" , :alt=>"USASearch Home"), home_page_path(:locale => I18n.locale))
  = render :partial => "shared/relatedsearches"
#results
  = render :partial => "shared/search"
  = render :partial => "shared/searchresults", :locals => { :search => @search }
  = render :partial => "shared/footer_search", :locals => { :search => @search }
