#search_box
  = render 'shared/search', :path => search_path
  .left-nav-label-wrapper= left_nav_label(@affiliate.left_nav_label)
  .summary-wrapper= render 'shared/results_summary', :affiliate => @affiliate, :search => @search, :search_options => @search_options, :search_vertical => @search_vertical
#left_column
  = render 'shared/affiliate_vertical_navigation'
%div#main_content{:name => 'main_content'}
#results
  = render :partial => "shared/searchresults", :locals => { :search => @search }
#right_column
  = render :partial => 'right_column', :locals => { :search => @search }