#results-wrap
  #sidebar
    = search_results_logo
    = render "/shared/relatedsearches"
  #results{ :class => controller.action_name }
    = render "/shared/search", :path => @form_path
    = render "/shared/popular_images", :search => @search if @search.extra_image_results.present?
    = render "/shared/searchresults", :search => @search
