.span-3.prepend-1.append-1
  = link_to(image_tag('USASearch_medium.gif', :alt=>"USASearch Home", :width => 201, :height => 44), home_page_path)
.span-18
  = render :partial => "shared/search"
  - if (@search.results.size > 0)
    %p= "Results 1-#{@search.results.size} of about #{number_with_delimiter(@search.total)} for '#{@search.queryterm}'"
    %hr
  - else
    %p.noresults= "Sorry, no results found for '#{@search.queryterm}'. Try entering fewer or broader query terms."