= form_tag(news_search_path(:m => 'true'), :method => :get, :id => 'search_form') do
  = hidden_field_tag :m, params[:m]
  = hidden_field_tag :affiliate, @affiliate.name
  = hidden_field_tag :tbs, params[:tbs] if params[:tbs]
  = hidden_field_tag :channel, @search.rss_feed.id if @search.rss_feed
  .search
    .searchBoxContainer.dvCenter
      .dvSearchBox.results
        = text_field :search, :query, { :maxlength => 255, :name => "query", :autocomplete => "off", :class => "mobileSearchTextBoxResultsPage usagov-search-autocomplete" }
        .dvSearchClose.results
          = image_tag "/m/i/close.png", :style => "display: none;"
      .dvSearchBtn.results
        = image_submit_tag "/m/i/btnSearchSkin_ResultsPage.png", :id => 'Search'
      .clear

- if @search.results.present?
  %hr.topresults
  .group
    - @search.hits.each_with_index do |hit, index|
      .row{:id => "newsitem#{index+1}"}
        .searchResult
          .title= link_with_click_tracking(highlight_hit(hit, :title).html_safe, hit.instance.link, @affiliate, @search.query, index, 'NEWS', @search_vertical)
          .timestamp= time_ago_in_words(hit.instance.published_at)
          .content= news_description(hit)
          .links= link_with_click_tracking(h(shorten_url(hit.instance.link)), hit.instance.link, @affiliate, @search.query, index, 'NEWS', @search_vertical)
      - unless index == @search.hits.length - 1 then
        %hr
  .group
    .row.center
      = will_paginate @search.hits, :previous_label => (t :prev_label), :next_label => (t :next_label), :inner_window => 1, :outer_window => 0, :m => true
  = render :partial => 'usasearch_logo'

- elsif @search.error_message
  %p.noresults #{@search.error_message}
- else
  = no_results_for @search.query

= render :partial => 'footer'
