#left_column
  = render "shared/affiliate_news_vertical_navigation"

#results
  = form_tag(@form_path, :method => :get, :id => "search_form") do
    = label_tag :search_query, nil, :class => 'hide'
    = hidden_field_tag :sc, 0
    = text_field_tag 'search', @search.query, { :maxlength => 255, :size => 49, :name => "query", :autocomplete => "off", :class => "usagov-search-autocomplete", :id => "search_query" }
    = hidden_field_tag :locale, I18n.locale
    = hidden_field_tag :m, params[:m]
    = hidden_field_tag :tbs, params[:tbs] if params[:tbs]
    = hidden_field_tag :channel, @search.rss_feed.id if @search.rss_feed
    = hidden_field_tag :affiliate, @affiliate.name
    = submit_tag('Search', :id => "search_button")
  %a{:name => "content"}
  - if @search.results.present?
    = results_summary(start = ((@search.hits.current_page - 1) * @search.hits.per_page) + 1, start + @search.hits.length - 1, @search.total, @search.query)
    - @search.hits.each_with_index do |hit, index|
      = render 'shared/news_item', :hit => hit, :index => index
    = render "/shared/related_topics_wrapper"
    = will_paginate(@search.results, :previous_label => (t :prev_label), :next_label => (t :next_label))
  - elsif @search.error_message
    %p.noresults #{@search.error_message}
  - else
    = no_news_results_for @search