= content_for_site_page_title @site, 'YouTube'
.sub-nav-heading
  %h2 YouTube
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page
      %li= link_to 'Add YouTube Channel', new_site_youtube_channel_path(@site)

= render_site_flash_message
%table.table.table-no-header
  %tbody
    - @youtube_channels.each do |youtube_channel|
      %tr
        %td= link_to youtube_channel.username, "http://www.youtube.com/user/#{youtube_channel.username}", target: '_blank'
        %td.actions
          %ul
            %li= button_to 'Remove', site_youtube_channel_path(@site, youtube_channel.id), method: :delete, data: { confirm: "Are you sure you wish to remove #{youtube_channel.username} from this site?" }, class: 'btn btn-small'
