:preserve
  <!-- BEGIN search.usa.gov search snippet -->
  <script type="text/javascript">
    var usagov_source_url = "#{root_url}searches/auto_complete_for_search_query?m=false";
    var usagov_select_url = "#{search_url}?sayt=true&query=";
    var usagov_affiliate = "#{affiliate_name}";
    var usagov_locale = "#{locale}";
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://jquery-ui.googlecode.com/svn/tags/1.8rc1/ui/jquery-ui.js" type="text/javascript"></script>
  #{javascript_include_tag("#{root_url}javascripts/affiliates/sayt")}
  #{stylesheet_link_tag("#{root_url}stylesheets/affiliates/sayt")}
  <div id="usagov-search">
    <form method="get" action="#{search_url}">
      <input type="text" name="query" />
      <input type="submit" value="Search" />
    </form>
    <div id="autocompleter-results"></div>
  </div>
  <!-- END search.usa.gov search snippet -->
