= render :partial => 'breadcrumbs', :locals => { :breadcrumbs => [ link_to(@affiliate.name, affiliate_path(@affiliate)), 'Query Analytics'] }

%h1= "Query Analytics for #{@affiliate.name}"
.span-24
  = render :partial => "analytics/shared/search", :locals => { :affiliate => @affiliate, :path => affiliate_analytics_query_search_path }
.span-24
  = display_most_recent_date_available(@day_being_shown, @affiliate)
.clear
%br
.header-box
  .left
    Most Frequent Queries
  .right
    %form
      = display_select_for_window("dqs", @num_results_dqs, @day_being_shown, @affiliate)

.clear

.span-8{:id=>"dqs1"}
  = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => @most_recent_day_popular_terms , :content_name => "dqs1", :heading => "Previous Day", :affiliate => @affiliate }
.span-8{:id=>"dqs7"}
  = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => @trailing_week_popular_terms , :content_name => "dqs7", :heading => "Previous 7 Days", :affiliate => @affiliate}
.span-8.last{:id=>"dqs30"}
  = render :partial => "analytics/shared/query_counts_table", :locals => { :query_counts => @trailing_month_popular_terms , :content_name => "dqs30", :heading => "Previous 30 Days", :affiliate => @affiliate}

#daily_top_queries
  = affiliate_analytics_daily_report_link(@affiliate.name, @day_being_shown)