.span-15
  - form_for @affiliate, :html => {:class=>"bordered"} do |f|
    %h1 Edit Affiliate
    = f.error_messages(:header_message => nil, :class => "error")
    %dl
      %dt= f.label :name
      %dd= f.text_field :name, :class => "text"
      %dt= f.label :staged_domains, "Domains"
      %dd= f.text_area :staged_domains, :class => "text"
      %dt= f.label :staged_header, "Header"
      %dd= f.text_area :staged_header
      %dt= f.label :staged_footer, "Footer"
      %dd= f.text_area :staged_footer
    = f.submit "Save for preview"
