%h1 Embed Search Code

%hr

%h3 Site Search
%p== Copy and paste the HTML code below to create a search box for #{@affiliate.name}
= find_and_preserve do
  #embed_code_english.span-12
    %p English Version
    %textarea{ :readonly => true, :id => "embed_code_textarea", :onclick => "document.getElementById('embed_code_textarea').focus(); document.getElementById('embed_code_textarea').select();" }
      = '<form method="get" action="http://search.usa.gov/search">'
      = "  <input type=\"hidden\" name=\"affiliate\" value=\"#{ @affiliate.name }\" />"
      = '  <label for="query-field">Enter Search Term(s): </label>'
      = '  <input type="text" name="query" id="query-field"/>'
      = '  <input type="submit" value="Search" />'
      = '</form>'
  #embed_code_spanish
    %p Spanish Version
    %textarea{ :readonly => true, :id => "embed_code_textarea_spanish", :onclick => "document.getElementById('embed_code_textarea_spanish').focus(); document.getElementById('embed_code_textarea_spanish').select();" }
      = '<form method="get" action="http://search.usa.gov/search">'
      = "  <input type=\"hidden\" name=\"affiliate\" value=\"#{ @affiliate.name }\" />"
      = '  <input type="hidden" name="locale" value="es"/>'
      = '  <label for="query-field">Enter Search Term(s): </label>'
      = '  <input type="text" name="query" id="query-field"/>'
      = '  <input type="submit" value="Search" />'
      = '</form>'

%hr

%h3 Search as You Type
%p
  Copy and paste the HTML code below to create a dynamic search box
  == for #{@affiliate.name} that suggests queries as the user types

= find_and_preserve do
  .span-12
    %p English Version
    %textarea{:readonly => true, :rows => 10}
      = render "sayt", :locale => "en", :affiliate_name => @affiliate.name

  .span-11
    %p Spanish Version
    %textarea{:readonly => true}
      = render "sayt", :locale => "es", :affiliate_name => @affiliate.name
