.breadcrumb
  = link_to 'Dashboard', home_affiliates_path
  >
  = link_to(@affiliate.name, affiliate_path(@affiliate))
  >
  Add to Bing
%br

%h1
  Add to Bing
%p
  Are new, moved, or modified pages on your site not showing up in the Bing index?
  Use our Add to Bing feature to let Bing know about these pages so that they can crawl your
  pages and include them in their index.
  
- form_for @superfresh_url, {:url => create_superfresh_url_affiliate_path} do |f|
  = f.label :url
  = f.text_field :url
  = f.submit "Submit"

%br

#uncrawled-urls.title-row
  Uncrawled URLs (#{@uncrawled_urls.size})
%table.admin-table
  %tr
    %th
      URL
  - @uncrawled_urls.each do |uncrawled_url|
    %tr{:class => cycle('even', 'odd')}
      %td.uncrawled-url
        = link_to uncrawled_url.url, uncrawled_url.url
      
#crawled-urls.title-row
  Previously Refreshed URLs
%table.admin-table
  %tr
    %th
      URL
    %th
      Crawled At
  - @crawled_urls.each do |crawled_url|
    %tr{:class => cycle('even', 'odd')}
      %td.crawled-url
        = link_to crawled_url.url, crawled_url.url
      %td
        = crawled_url.crawled_at
%div{:style => "text-align: center;"}
  = will_paginate @crawled_urls
  
#bulk-upload
  %h1
    Bulk Upload
  %p
    Upload a list of URLs to add to Bing.
    %br
    Maximum of 
    %b
      100 URLs 
    per file.
  %p
    Sample file format:
  %ul{:style => 'list-style-type: none;'}
    http://www.sample.gov/1.html
    %br
    http://www.sample.gov/2.html
    %br
    http://www.sample.gov/3.html
      
  - form_tag upload_superfresh_urls_affiliate_path(@affiliate), :multipart => true do
    = file_field_tag 'superfresh_urls'
    = submit_tag "Upload"