= fields_for :site do |f|
  - if (@type == 'secondary_header' && @index >= 2)
    :plain
      jQuery("##{@type.dasherize}-links tbody").append("#{escape_javascript(render('link_fields', f: f, type: @type, link: {}, index: @index))}");
      jQuery("#new-site-#{@type.dasherize}-link-trigger").remove();
      jQuery("##{@type.dasherize}-links").tableDnDUpdate();
      jQuery("##{@type.dasherize}-links tbody .title").last().focus();
      window.usasearch.setupVisualDesignFormDnD();
  - else
    :plain
      jQuery("##{@type.dasherize}-links tbody").append("#{escape_javascript(render('link_fields', f: f, type: @type, link: {}, index: @index))}");
      jQuery("#new-site-#{@type.dasherize}-link-trigger").data({ params: { index: "#{@index + 1}", type: "#{@type}" } });
      jQuery("##{@type.dasherize}-links").tableDnDUpdate();
      jQuery("##{@type.dasherize}-links tbody .title").last().focus();
      window.usasearch.setupVisualDesignFormDnD();
