= content_for_site_page_title @site, 'Bulk Upload'
= form_tag site_best_bets_texts_bulk_upload_index_path(@site), multipart: true, class: 'form' do
  .sub-nav-heading
    %h2 Bulk Upload
    .action-bar
      %ul
        %li= link_to 'View All', site_best_bets_texts_path(@site)
        %li= submit_tag 'Upload', class: 'btn submit disabled', disabled: true
  = render_flash_message
  = file_field_tag 'best_bets_text_data_file', accept: 'text/csv,application/xml,text/plain'
