= content_for_site_page_title @site, 'Templates'
= form_for @site, as: :site, url: site_template_path(@site), html: { class: 'form', id: 'edit-templates' } do |f|
  .sub-nav-heading
    %h2 Templates
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= f.submit 'Save', class: 'btn submit disabled', disabled: true

  = render_flash_message
  = render_error_messages(@site)
  %h2 Your Current Template:
  %h3= @site.template.name

  %hr

  %h3 Template Options
  .form-group
    - available_templates(@site).each do |template|
      .form-inline
        = f.radio_button(:template_id, template.id, style: 'vertical-align:top')
        = f.label "template_id_#{template.id}", template.name, style: "margin-left: 15px;"
        %span{style: "margin-left: 15px;"}= template.description
        %br
        %br
