= fields_for  :social_media_profile, profile do |youtube_profile_form|
  = hidden_field_tag :profile_type, profile.class.name
  = youtube_profile_form.label :username, "YouTube username"
  %br
  = youtube_profile_form.text_field :username, :maxlength => 255, :size => nil, :class => 'txt'
%br
= submit_tag "Save", :id => "save"