= affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Click Queries'] )

%h1&= "Top Queries leading to '#{@url}' for #{@affiliate.display_name} from #{@start_date} to #{@end_date}"
= render_help_link(@help_link)

%br
- if @top_queries.empty?
  %p
    No data is available for this date range
- else
  .clear.span-8
    %table.kv_pairs
      %tr
        %th{:style=>"text-align:center"} Query
        %th{:style=>"text-align:right"} Total
      - @top_queries.each_with_index do |(key, value), idx|
        %tr
          %td
            = "#{idx+1}."
            = key
            = affiliate_query_clicks_link(key, @affiliate, @start_date, @end_date)
          %td{:style => "text-align: right"}= value
