= affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Query Analytics'] )

%h1&= "Query Logs for #{@affiliate.display_name}"
.span-24
  = render :partial => "analytics/shared/search", :locals => { :affiliate => @affiliate, :path => query_search_affiliate_analytics_path(@affiliate) }
.span-14
  = render :partial => "analytics/shared/date_range_select", :locals => { :path => affiliate_analytics_path(@affiliate), :affiliate => @affiliate, :start_date => @start_date, :end_date => @end_date, :available_dates => @available_dates}
.clear

%br

= render :partial => "analytics/shared/popular_queries_table", :locals => { :affiliate => @affiliate, :start_date => @start_date, :end_date => @end_date, :query_counts => @popular_terms, :num_results => @num_results_dqs}

#daily_top_queries.span-24
  = affiliate_analytics_daily_report_link(@affiliate.name, @end_date)