= affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Page Views'] )

%h1&= "Page Views for #{@affiliate.display_name}"
.span-24
  = render :partial => "analytics/shared/date_range_select", :locals => { :path => left_nav_usage_affiliate_analytics_path(@affiliate), :affiliate => @affiliate, :start_date => @start_date, :end_date => @end_date, :available_dates => @available_dates, :show_tag => "Show page views from"}
.clear

%br
- if @json.blank?
  %p
    No data is available for this date range

#pageviews

:javascript
  var data = [#{@json} ];
  jQuery(function() {
      jQuery('#pageviews').tree({
          data: data,
          autoOpen: true
      });
  });