= affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Low Click-Thru Rate (CTR) Queries'] )

%h1&= "Queries with low click-thru rates for #{@affiliate.display_name} over the past day or so"
= render_help_link(@help_link)

%br
- if @low_ctr_queries.empty?
  %p
    No queries meet the criteria for low click-thru rate queries right now.
- else
  .clear.span-8
    %table.kv_pairs
      %tr
        %th Query
        %th CTR%
      - @low_ctr_queries.each_with_index do |(key, value), idx|
        %tr
          %td
            = "#{idx+1}."
            = affiliate_query_chart_link(key, @affiliate)
            = affiliate_query_clicks_link(key, @affiliate, Date.yesterday, Date.current)

          %td= "#{value}%"
