= affiliate_center_breadcrumbs([ link_to(h(@affiliate.display_name), affiliate_path(@affiliate)), 'Monthly Reports'])

%h1
  = "Monthly Reports for #{h(@affiliate.display_name)}"
.span-20
  = form_tag(monthly_reports_affiliate_analytics_path(@affiliate), :method => :get) do
    = select_date @report_date, { :discard_day => true, :start_year => 2010, :end_year => @most_recent_date.year }
    = submit_tag 'Get Usage Stats'
  %br
  - if @report_date.future?
    %p
      Report information not available for the future.
  - else
    %h3= "Monthly Usage Stats for #{Date::MONTHNAMES[@report_date.month.to_i]} #{@report_date.year}"
    .usage_stats{ :id => "#{@affiliate.name.downcase}_usage_stats" }
      %ul
        %li
          Total Queries: #{number_with_delimiter @monthly_totals[@affiliate.name][:total_queries]}
        %li
          Total Click Throughs: #{number_with_delimiter @total_clicks}
    %p
      = affiliate_analytics_monthly_report_link(@affiliate.name, @report_date)
