- content_for :head do 
  %meta{:name => 'description', :content => 'Search.USA.gov Forms is the U.S. government’s official search engine for forms.'}
  %meta{:name => 'keywords', :content => 'government forms, official forms, pdf forms, standard forms, optional forms, gsa forms, military forms, dod forms, usps forms, postal service forms, SearchUSAgov, USASearch, USA Search, SearchUSA, Firstgov search, first gov search, USAGovSearch, USA gov search, government websites, government web'}
  
.prepend-3.span-18.append-3.homepage.forms
  %a{:name => "content"}
  = link_to(image_tag("USAsearch_large_#{I18n.locale}_forms.gif" , :alt => "USASearch Forms Home"), forms_path(:locale => I18n.locale), :id => 'landing_page_logo')
  = render "shared/search", :path => forms_search_path

.prepend-2.span-16.append-3{:style => "text-align: center;"}
  %div.forms-tagline
    = t :forms_home_page_message
  = image_tag('dotline.gif', :alt => 'dotted line')

- if @top_forms.size > 0
  .prepend-2.span-20.append-2
    #popular
      %h2 Popular Forms
      - @top_forms.each_with_index do |top_forms_column, column_index|
        - unless top_forms_column.nil?
          .span-8.top-forms-column{:id => "top-forms-column-#{column_index + 1}"}
            .prepend-2.append-2.top-forms-column-content
              - if top_forms_column.first
                %h3= top_forms_column.first.name
                %ul
                  - top_forms_column[1..-1].each do |top_form|
                    %li
                      = link_to top_form.name, top_form.url
