= content_for_site_page_title @site, 'Analytics Settings'
= form_for @current_user, url: { action: :update }, html: { class: 'form' }  do |form|
  .sub-nav-heading
    %h2 Settings
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= form.submit 'Save Settings', class: 'btn submit disabled', disabled: true

  = render_flash_message

  %p How would you like to see your analytics data in the Admin Center?

  = form.label :sees_filtered_totals, value: true, class: 'radio' do
    = form.radio_button :sees_filtered_totals, true
    Filtered (processed via rules to include likely humans only)
  = form.label :sees_filtered_totals, value: false, class: 'radio' do
    = form.radio_button :sees_filtered_totals, false
    Unfiltered (includes both bots + humans)

  %p Clicking 'Save Settings' changes the selected option.
