<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%
     h2_style = 'font-size: 1.5em; margin-bottom: 0.3em;'
     table_style = 'border-collapse: collapse;'
     tr_even_style = 'background-color: #D8D8D8;'
     tr_heading_style = 'background-color: #696969; color: white;'
     tr_sub_heading_style = 'background-color: #909090; color: white;'
     th_style = 'border: 1px solid #CACACA; padding: 5px; text-align: center;'
     td_style = 'border: 1px solid #CACACA; padding: 5px; text-align: right;'
     td_text_style = 'border: 1px solid #CACACA; padding: 5px; text-align: left;'
     td_blank_style = 'border: 0; line-height: 0.8em;'
     p_style = 'margin-top: 0;'
  %>
</head>
<body>
<h2 style="<%= h2_style %>">Queries and Clicks</h2>
<table style="<%= table_style %>">
  <thead>
  <tr style="<%= tr_heading_style %>">
    <th style="<%= th_style %>">Site</th>
    <th style="<%= th_style %>">Total Queries (Bots + Humans)</th>
    <th style="<%= th_style %>">Real Queries (Humans only)</th>
    <th style="<%= th_style %>">Real Queries vs. Last Month</th>
    <th style="<%= th_style %>">Real Queries vs. Last Year</th>
    <th style="<%= th_style %>">Real Clicks</th>
  </tr>
  </thead>
  <tbody>
  <% @user_monthly_report.affiliate_stats.each do |affiliate_name, affiliate_stats| %>
    <tr style="<%= cycle('', tr_even_style) %>">
      <td style="<%= td_text_style %>"><%= affiliate_stats[:affiliate].display_name %></td>
      <td style="<%= td_style %>"><%= affiliate_stats[:total_unfiltered_queries] %></td>
      <td style="<%= td_style %>"><%= affiliate_stats[:total_queries] %></td>
      <td style="<%= td_style %>"><%= "%.2f" % affiliate_stats[:last_month_percent_change] %>%</td>
      <td style="<%= td_style %>"><%= "%.2f" % affiliate_stats[:last_year_percent_change] %>%</td>
      <td style="<%= td_style %>"><%= affiliate_stats[:total_clicks] %></td>
    </tr>
  <% end %>
  <tr style="<%= cycle('', tr_even_style) %>">
    <td style="<%= td_text_style %>">TOTAL</td>
    <td style="<%= td_style %>"><%= @user_monthly_report.total_stats[:total_unfiltered_queries] %></td>
    <td style="<%= td_style %>"><%= @user_monthly_report.total_stats[:total_queries] %></td>
    <td style="<%= td_style %>"><%= "%.2f" % @user_monthly_report.total_stats[:last_month_percent_change] %>%</td>
    <td style="<%= td_style %>"><%= "%.2f" % @user_monthly_report.total_stats[:last_year_percent_change] %>%</td>
    <td style="<%= td_style %>"><%= @user_monthly_report.total_stats[:total_clicks] %></td>
  </tr>
  </tbody>
</table>
<h2 style="<%= h2_style %>">Top 10 Searches
  for <%= "#{Date::MONTHNAMES[@user_monthly_report.report_date.month.to_i]} #{@user_monthly_report.report_date.year}" %></h2>
<table style="<%= table_style %>">
  <tbody>
  <% @user_monthly_report.affiliate_stats.each do |affiliate_name, affiliate_stats| %>
    <tr style="<%= tr_heading_style %>">
      <th colspan="3" style="<%= th_style %>"><%= affiliate_stats[:affiliate].display_name %></th>
    </tr>
    <% if affiliate_stats[:popular_queries].is_a?(String) %>
      <tr>
        <td colspan="3" style="<%= td_style %>"><%= affiliate_stats[:popular_queries] %></td>
      </tr>
    <% else %>
      <tr style="<%= tr_sub_heading_style %>">
        <th style="<%= th_style %>">Search Term</th>
        <th style="<%= th_style %>">Total Queries (Bots + Humans)</th>
        <th style="<%= th_style %>">Real Queries</th>
      </tr>
      <% affiliate_stats[:popular_queries].each do |popular_query| %>
        <tr style="<%= cycle('', tr_even_style, :name => 'colors') %>">
          <td style="<%= td_text_style %>"><%= popular_query[0] %></td>
          <td style="<%= td_style %>"><%= popular_query[1] %></td>
          <td style="<%= td_style %>"><%= popular_query[2] %></td>
        </tr>
      <% end %>
      <% reset_cycle('colors') %>
    <% end %>
    <tr>
      <td colspan="3" style="<%= td_blank_style %>">&nbsp;</td>
    </tr>
  <% end %>
  </tbody>
</table>
<h2 style="<%= h2_style %>">Top 10 Pages Clicked
  for <%= "#{Date::MONTHNAMES[@user_monthly_report.report_date.month.to_i]} #{@user_monthly_report.report_date.year}" %></h2>
<table style="<%= table_style %>">
  <tbody>
  <% @user_monthly_report.affiliate_stats.each do |affiliate_name, affiliate_stats| %>
    <tr style="<%= tr_heading_style %>">
      <th colspan="3" style="<%= th_style %>"><%= affiliate_stats[:affiliate].display_name %></th>
    </tr>
    <% if affiliate_stats[:popular_clicks].is_a?(String) %>
      <tr>
        <td colspan="3" style="<%= td_style %>"><%= affiliate_stats[:popular_clicks] %></td>
      </tr>
    <% else %>
      <tr style="<%= tr_sub_heading_style %>">
        <th style="<%= th_style %>">URL</th>
        <th style="<%= th_style %>">Total Clicks (Bots + Humans)</th>
        <th style="<%= th_style %>">Real Clicks</th>
      </tr>
      <% affiliate_stats[:popular_clicks].each do |popular_click| %>
        <tr style="<%= cycle('', tr_even_style, :name => 'colors') %>">
          <td style="<%= td_text_style %>"><%= popular_click[0] %></td>
          <td style="<%= td_style %>"><%= popular_click[1] %></td>
          <td style="<%= td_style %>"><%= popular_click[2] %></td>
        </tr>
      <% end %>
      <% reset_cycle('colors') %>
    <% end %>
    <tr>
      <td colspan="3" style="<%= td_blank_style %>">&nbsp;</td>
    </tr>
  <% end %>
  </tbody>
</table>
<p style="<%= p_style %>">
  <br/> Visit our Admin Center for more detailed analytics.
  <br/> <%= sites_url %>
</p>

<p style="<%= p_style %>">Search.gov Team
  <br/> General Services Administration
  <br/> search@support.digitalgov.gov | 202-969-7426
  <br/> https://search.gov
</p>
</body>
</html>
