<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%
     h1_style = 'font-size: 1.75em; margin-bottom: 0.3em;'
     h2_style = 'font-size: 1.5em; margin-bottom: 0.3em;'
     table_style = 'border-collapse: collapse;'
     tr_even_style = 'background-color: #D8D8D8;'
     tr_heading_style = 'background-color: #696969; color: white;'
     th_style = 'border: 1px solid #CACACA; padding: 5px; text-align: center;'
     td_style = 'border: 1px solid #CACACA; padding: 5px; text-align: right;'
     td_text_style = 'border: 1px solid #CACACA; padding: 5px; text-align: left;'
     p_style = 'margin-top: 0;'
  %>
</head>
<body>
<h1 style="<%= h1_style %>">Today's snapshot for <%= @site.name %> on <%= Date.yesterday %></h1>
<% if @dashboard.top_queries.present? %>
  <h2 style="<%= h2_style %>">Top Queries</h2>
  <table style="<%= table_style %>">
    <thead>
    <tr style="<%= tr_heading_style %>">
      <th style="<%= th_style %>">Search Term</th>
      <th style="<%= th_style %>">Total Queries (Bots + Humans)</th>
      <th style="<%= th_style %>">Real Queries</th>
    </tr>
    </thead>
    <tbody>
    <% @dashboard.top_queries.each_with_index do |top_query, idx| %>
      <tr style="<%= cycle('', tr_even_style) %>">
        <td style="<%= td_text_style %>"><%= idx + 1 %>. <%= top_query[0] %></td>
        <td style="<%= td_style %>"><%= top_query[1] %></td>
        <td style="<%= td_style %>"><%= top_query[2] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if @dashboard.top_urls.present? %>
  <h2 style="<%= h2_style %>">Top Clicked URLs</h2>
  <table style="<%= table_style %>">
    <thead>
    <tr style="<%= tr_heading_style %>">
      <th style="<%= th_style %>">URL</th>
      <th style="<%= th_style %>"># of Clicks</th>
    </tr>
    </thead>
    <tbody>
    <% @dashboard.top_urls.each_with_index do |(url, count), idx| %>
      <tr style="<%= cycle('', tr_even_style) %>">
        <td style="<%= td_text_style %>"><%= idx + 1 %>. <%= url %></td>
        <td style="<%= td_style %>"><%= count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if @dashboard.trending_queries.present? %>
  <h2 style="<%= h2_style %>">Trending Queries</h2>
  <table style="<%= table_style %>">
    <thead>
    <tr style="<%= tr_heading_style %>">
      <th style="<%= th_style %>">Query</th>
    </tr>
    </thead>
    <tbody>
    <% @dashboard.trending_queries.each_with_index do |query, idx| %>
      <tr style="<%= cycle('', tr_even_style) %>">
        <td style="<%= td_text_style %>"><%= idx + 1 %>. <%= query %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if @dashboard.no_results.present? %>
  <h2 style="<%= h2_style %>">Queries with No Results</h2>
  <table style="<%= table_style %>">
    <thead>
    <tr style="<%= tr_heading_style %>">
      <th style="<%= th_style %>">Query</th>
      <th style="<%= th_style %>"># of Queries</th>
    </tr>
    </thead>
    <tbody>
    <% @dashboard.no_results.each_with_index do |query_count, idx| %>
      <tr style="<%= cycle('', tr_even_style) %>">
        <td style="<%= td_text_style %>"><%= idx + 1 %>. <%= query_count.query %></td>
        <td style="<%= td_style %>"><%= query_count.times %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if @dashboard.low_ctr_queries.present? %>
  <h2 style="<%= h2_style %>">Top Queries with Low Click Thrus</h2>
  <table style="<%= table_style %>">
    <thead>
    <tr style="<%= tr_heading_style %>">
      <th style="<%= th_style %>">Query</th>
      <th style="<%= th_style %>">CTR %</th>
    </tr>
    </thead>
    <tbody>
    <% @dashboard.low_ctr_queries.each_with_index do |(query, ctr), idx| %>
      <tr style="<%= cycle('', tr_even_style) %>">
        <td style="<%= td_text_style %>"><%= idx + 1 %>. <%= query %></td>
        <td style="<%= td_style %>"><%= ctr %>%</td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<p style="<%= p_style %>">
  <br/> Visit our Admin Center for more detailed analytics.
  <br/><br/> <%= site_url(@site) %>
</p>

<p style="<%= p_style %>">Search.gov Team
  <br/> General Services Administration
  <br/> search@support.digitalgov.gov | 202-505-5315
  <br/> https://search.gov
</p>
</body>
</html>
