= content_for_site_page_title @site, 'Domains'
.sub-nav-heading
  %h2 Domains
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page
      = render 'sites/shared/domains_advanced_options'
      %li= link_to 'Add Domain', new_site_domain_path(@site)

= render_site_flash_message
%table.table.table-no-header
  %tbody
    - @domains.each do |domain|
      %tr
        %td= domain.domain
        %td.actions
          %ul
            %li= link_to 'Edit', edit_site_domain_path(@site, domain.id)
            %li= button_to 'Remove', site_domain_path(@site, domain.id), method: :delete, data: { confirm: "Are you sure you wish to remove #{domain.domain} from this site?" }, class: 'btn btn-small'
