= content_for_site_page_title @site, 'Bulk Upload'
= form_tag bulk_upload_site_domains_path(@site), multipart: true, class: 'form' do
  .sub-nav-heading
    %h2 Bulk Upload
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= link_to 'List Domains', site_domains_path(@site)
        %li= submit_tag 'Upload', class: 'btn submit disabled', disabled: true
  = render_site_flash_message

  %p
    Save the file in .csv format on your computer. Do not use Microsoft Excel files.
    %br
    Browse for the file on your computer. Upload the file using the browse and upload option below.
    %br
    You may omit the site name and it will be set to the same value as the domain.
  %p
    %strong Sample file format:
    %br
    www1.sample.gov
    %br
    www2.sample.gov

  = file_field_tag 'domains_data_file', accept: 'text/csv'
