!!! 5
%html
  %head
    %title Type-ahead Search Demo - USASearch
    = javascript_tag %{var usagov_sayt_url = "#{sayt_url(:aid => @affiliate.id, :protocol => 'http')}&";}
    = javascript_full_path_tag request, '/javascripts/jquery/jquery.min.js'
    = javascript_full_path_tag request, '/javascripts/jquery/jquery.bgiframe.min.js'
    = javascript_full_path_tag request, '/javascripts/jquery/jquery.autocomplete.min.js'
    = javascript_full_path_tag request, '/javascripts/sayt.js'
    = stylesheet_link_tag "#{request.scheme}://#{request.host_with_port}/stylesheets/compiled/sayt.css"
  %body
    %h2 Type-ahead Search Demo

    != %{<form method="get" action="#{search_url}">}
    != %{  <input id="affiliate" name="affiliate" type="hidden" value="#{@affiliate.name}" />}
    != %{  <label for="query">Enter Search Term(s):</label>}
    != %{  <input autocomplete="off" class="usagov-search-autocomplete" id="query" name="query" type="text" />}
    != %{  <input type="submit" value="Search" /> }
    != %{</form>}
