%h2
  Type-ahead Search Demo

!= %{<form method="get" action="#{search_url}">}
!= %{  <input type="hidden" name="affiliate" value="#{@affiliate.name}">}
!= %{  <label for="query-field">Enter Search Term(s): </label>}
!= %{  <input class="usagov-search-autocomplete" type="text" name="query" autocomplete="off"/>}
!= %{  <input type="submit" value="Search" /> }
!= %{</form>}
