<p>
  The bulk upload job for <%= @results.file_name %> has
  finished.
</p>

<p>
  There were <%= @results.total_count %> affiliates.
</p>

<% if @results.error_count == 0 %>
  <p>
    There were no errors.
  </p>
<% else %>
  <p>
    <%= @results.error_count %> affiliates failed validation.
  </p>
<% end %>

<p>
  <%= @results.ok_count %> affiliates were updated successfully.
</p>

<% @results.affiliates.each do |id| %>
  <h3><%= id %></h3>
  <% @results.affiliates_with(id).each do |error_message| %>
    <%= error_message %>
    <br />
  <% end %>
<% end %>
