= render_flash_message
= render_error_messages(@rss_feed)
= form.label :name, 'Name', class: 'required'
= form.text_field :name, class: 'required input-primary'
- unless @rss_feed.is_managed?
  %fieldset
    %legend Feed Type
    = form.label :show_only_media_content, value: false, class: 'radio' do
      = form.radio_button :show_only_media_content, false
      RSS
    = form.label :show_only_media_content, value: true, class: 'radio' do
      = form.radio_button :show_only_media_content, true
      Media RSS
  %fieldset.urls.multivalued
    .optional
      %legend
        URLs
        %span (Requires 1 or more)
    - @rss_feed.rss_feed_urls.each_with_index do |url, index|
      = form.fields_for :rss_feed_urls, url, include_id: false do |url_fields|
        = render 'sites/rss_feeds/url', f: url_fields, index: index
  = link_to_add_new_rss_feed_url 'Add Another URL', @site, @rss_feed
