= content_for_site_page_title @site, 'RSS Feeds'
.sub-nav-heading
  %h2 RSS
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page
      %li= link_to 'Add RSS Feed', new_site_rss_feed_path(@site)

= render_flash_message
%table.table.table-no-header
  %tbody
    - @rss_feeds.each do |rss_feed|
      %tr{ rss_feed_class_hash(rss_feed) }
        %td
          = link_to_view_rss_feed_urls @site, rss_feed
          = rss_feed_properties rss_feed
        %td.actions.actions-3x
          %ul
            %li= link_to_preview_rss_feed @site, rss_feed
            %li= link_to 'Edit', edit_site_rss_feed_path(@site, rss_feed.id)
            = list_item_with_button_to_remove_rss_feed @site, rss_feed
#urls.modal.fade(data-no-turbolink){ 'aria-hidden' => 'true' }
  = render partial: 'sites/shared/modal'
