= content_for_site_page_title @site, 'Add RSS Feed'
= form_for @rss_feed, url: { action: :create }, html: { class: 'form' }  do |form|
  .sub-nav-heading
    %h2 Add RSS Feed
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= link_to 'View All', site_rss_feeds_path(@site)
        %li= form.submit 'Add', class: 'btn submit disabled', disabled: true
  = render form
