= content_for_site_page_title @site, 'RSS Feed'
.sub-nav-heading
  %h2 RSS Feed
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page
      %li= link_to 'View All', site_rss_feeds_path(@site)
      %li= link_to 'Edit', edit_site_rss_feed_path(@site, @rss_feed)
.primary-content
  %dl
    %dt Name
    %dd #{@rss_feed.name}
  %dl
    %dt Feed Type
    %dd= @rss_feed.show_only_media_content? ? 'Media RSS' : 'RSS'
  .urls
    %table.table
      %thead
        %tr
          %th URL
          %th Last Crawled
          %th Status
      %tbody
        - rss_feed_urls_for(@rss_feed).each do |url|
          %tr{ rss_feed_url_class_hash(url) }
            %td
              = link_to UrlParser.strip_http_protocols(url.url), url.url, target: '_blank'
              = rss_feed_url_last_crawl_status_error url
            %td= rss_feed_url_last_crawled_on url
            %td= rss_feed_url_last_crawl_status url
