= affiliate_center_breadcrumbs([ link_to(@affiliate.display_name, affiliate_path(@affiliate)), 'Manage Users'] )

%h1
  Manage Users
= render_help_link(@help_link)

%table.admin-table
  %tr
    %th
      Users
    %th
      Actions
    - @affiliate.users.each do |user|
      %tr{:class => cycle('even', 'odd')}
        %td
          #{user.contact_name} (#{mail_to user.email})
        %td
          - if current_user == user
            = link_to 'My Account', account_path
            |
          = link_to 'Remove', affiliate_user_path(@affiliate, user.id), :method => :delete, :confirm => 'Are you sure? This action can not be undone.'

= link_to '+ Add a new user', '#add_new_user', :id => "add_new_user", :class => "sliding_trigger"
#add_new_user_content{:class => "sliding_content add-new-user #{@user ? 'expand' : ''}", :style => 'margin-top: 3px;'}
  %h3
    Create Account for a New User
  %p
    Just enter a name and email address.  We'll create a new account (if one doesn't already exist) and send your new team member instructions on how to activate it.
  = form_tag affiliate_users_path(@affiliate.id), :class => 'generic-form' do
    = error_messages_for 'user', :header_message => nil, :class => 'error'
    %ul.fields
      %li
        = label_tag 'name', nil, :class => 'inner'
        = text_field_tag 'name', @contact_name, :class => 'txt'
      %li
        = label_tag 'email', nil, :class => 'inner'
        = text_field_tag 'email', @email, :class => 'txt'
      %li.submit
        = submit_tag 'Add User'
