= affiliate_center_breadcrumbs([ link_to(@affiliate.name, affiliate_path(@affiliate)), 'Manage Users'] )

%h1
  Users for Affiliate: #{@affiliate.name}

.header-box
  Owner
- if @affiliate.owner
  .content-box
    #{@affiliate.owner.contact_name} (#{mail_to @affiliate.owner.email})

%table.admin-table
  %tr
    %th
      Affiliate Users
  - if @affiliate.users.size > 1
    - @affiliate.users.each do |user|
      - unless @affiliate.is_owner?(user)
        %tr{:class => cycle('even', 'odd')}
          %td
            = "#{user.contact_name} (#{mail_to user.email})"
            |
            = link_to 'Remove', affiliate_user_path(@affiliate, user.id), :method => :delete
            - if @affiliate.is_owner?(current_user)
              |
              = link_to 'Make Owner', make_owner_affiliate_user_path(@affiliate, user.id), :method => :post, :confirm => "Are you sure? This action can not be undone."
  - else
    %tr
      %td
        No other users associated with this affiliate.

.header-box
  Add a user by email
.content-box
  Enter an email address to add a user to this affiliate.  The email address must be associated with an existing account on Search.USA.gov.  If the email is not associated with an existing account, register a new account with that email address.
  - form_tag affiliate_users_path do
    = label_tag 'email'
    = text_field_tag 'email', @email
    = submit_tag 'Add User'

