= affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Edit Collections entry"])
%h1 Edit Collections entry
= render_help_link(@help_link)
.edit-document-collection
  = form_for([@affiliate, @document_collection], :html => { :multipart => true }) do |f|
    = render :partial => 'shared/document_collections/form', :locals => { :form => f }
    = f.submit "Update"
    = link_to 'Cancel', [@affiliate, @document_collection], :class => 'cancel'
