.document-collections
  = affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Collections"])
  .column-2
    .side-note-image= image_tag "side_notes/collections.png"
  .column-1
    %h1 Collections
    = render_help_link(@help_link)  
    .document-collection-list
      %table
        %colgroup
          %col{ :class => 'name' }
          %col{ :class => 'actions' }
        %thead
          %tr
            %th{ :colspan => 2 }
              = link_to "Add new collection", new_affiliate_document_collection_path(@affiliate), :class => 'add-link'
        = render 'shared/document_collections/affiliate_document_collection_rows'
