.show-document-collection
  = affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), "Collections"])
  %h1 Collections
  = render_help_link(@help_link)  
  %table
    %colgroup
      %col{ :class => 'name' }
      %col{ :class => 'value' }
    %thead
      %tr
        %th{ :colspan => 2 }
          .actions
            = link_to("Edit", edit_affiliate_document_collection_path(@affiliate, @document_collection), { :class => 'edit-link' })
            = button_to("Delete", [@affiliate, @document_collection], :method => :delete, :confirm => "Are you sure you want to delete this Collections entry?")
    = render :partial => 'shared/document_collections/show'
  .add-link-wrapper
    = link_to "Add another document collection", new_affiliate_document_collection_path(@affiliate), :class => 'add-link'
  .add-link-wrapper
    = link_to "See all document collections", affiliate_document_collections_path(@affiliate)