= content_for :title, 'Complete the sign up process'
= content_for :navigation do
  %ul.nav.login
    %li= link_to 'Login', login_path
.without-site-wrapper
  = form_for @user, url: :complete_registration_path, html: { id: 'user-form' } do |f|
    = render_flash_message(false)
    = render partial: 'users/new_form', locals: { form: f }
    = f.submit 'Complete the sign up process'

