= content_for_site_page_title @site, "Routed Queries Drilldown"
.sub-nav-heading
  %h2= "Routed Queries Drilldown for Current Month"
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page

%h3 Impressions by Routed Query
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Description
      %th Impressions
  %tbody
    - @routed_queries_drill_down.search_module_stats.each do |model_id, stat|
      %tr
        %td
          = link_to stat[:model].description, stat[:model].url
          = link_to '(edit)', edit_site_routed_query_path(@site, model_id)
        %td
          = number_with_delimiter(stat[:impression_count])
          = link_to "(drill down)", site_routed_query_queries_path(@site.id, {model_id: model_id})