- form_for(@boosted_site || :boosted_site, :url => @boosted_site.new_record? ? affiliate_boosted_sites_path(@affiliate) : affiliate_boosted_site_path(@affiliate, @boosted_site), :html => {:class=> "bordered"}) do |f|
  %h2="#{@boosted_site.new_record? ? "Add A" : "Edit"} Boosted Site for #{@affiliate.name}"
  = f.error_messages(:header_message => nil, :class => "error")
  %table{:style => "width: auto;"}
    %tr
      %td= f.label :title
      %td= f.text_field :title
    %tr
      %td= f.label :url
      %td= f.text_field :url
    %tr
      %td= f.label :description
      %td= f.text_area :description, :style => "height: 3em;"
  = f.hidden_field :id
  = submit_tag "Save Boosted Site"
  = link_to "Cancel", new_affiliate_boosted_site_path(@affiliate)
