= form_for @site, as: :site, url: site_templated_font_and_colors_path(@site), html: { class: 'form', id: 'edit-templated-font-and-colors' } do |f|
  .sub-nav-heading
    %h2
      Templated Font & Colors
      = "(#{@site.template.name})"
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= f.submit 'Save', class: 'btn submit disabled', disabled: true
  = render_flash_message
  = render_error_messages(@site)

  %fieldset
    =label_tag 'reset_theme', "Reset to Defaults"
    =check_box_tag 'reset_theme'

  %h2 Font
  = label_tag :font_family, 'Font Family'

  = select_tag "schema[css][font][default_font]",
               options_for_select(@site.load_template_schema.css.font.font_family.split(', '),
                                  @site.load_template_schema.css.font.default_font)

  %h2 Colors

  = form_tag
  - affiliate_schema = @site.load_template_schema.css.colors
  - Hashie::Mash.new(@site.template.schema).css.colors.each do |component|
    %h3= component[0].to_s.humanize.titleize if component[1].count > 0
    - component[1].each do |attribute_key_pair|
      .form-group
        .input-append.color{data: {color: affiliate_schema.send(component[0]).send(attribute_key_pair[0]), provide: 'colorpicker'}}
          =label_tag(attribute_key_pair[0], attribute_key_pair[0].to_s.humanize.titleize)
          .form-control
            = text_field_tag("schema[css][colors][#{component[0]}[#{attribute_key_pair[0]}]]", affiliate_schema.send(component[0]).send(attribute_key_pair[0]))
          %span.add-on.add-on-colorpicker
            %i


:javascript
  $(function(){
      $(".color").colorpicker();
  });
