= content_for_site_page_title @site, 'Font & Colors'
.font-colors-wrapper{ data: { default_font_family: FontFamily::DEFAULT_CSS_PROPERTY } }
  %h3 Desktop Results Page
  = render partial: 'legacy_preview_font_and_colors', locals: { site: @site }
  %h3 Mobile Results Page
  = render partial: 'preview_font_and_colors', locals: { css_property_hash: @site.css_property_hash }

= form_for @site, as: :site, url: site_font_and_colors_path(@site), html: { class: 'form', id: 'edit-font-and-colors' } do |f|
  .sub-nav-heading
    %h2 Font & Colors
    .action-bar
      %ul
        = list_item_with_link_to_current_help_page
        %li= f.submit 'Save', class: 'btn submit disabled', disabled: true
  = render_flash_message
  = render_error_messages(@site)

  = f.fields_for :css_property_hash do |css|
    = css.label :font_family, 'Font Family'
    = css.select :font_family,
      options_for_select(FontFamily::ALL, render_affiliate_css_property_value(@site.css_property_hash, :font_family)),
      {},
      { data: { 'target-css-properties' => 'font-family', 'target-selector' => '#preview-font-colors.serp-preview, .serp-results-wrapper' } }

  %fieldset
    %legend Color Scheme
    = f.label :theme, value: 'default', class: 'radio' do
      = f.radio_button :theme, 'default'
      Default
    = f.label :theme, value: 'custom', class: 'radio' do
      = f.radio_button :theme, 'custom', checked: @site.uses_custom_theme?
      Custom

  = f.fields_for :css_property_hash do |css|
    = css.label :page_background_color, 'Page Background Color'
    = color_picker_component css, :page_background_color, @site.css_property_hash,
      { 'target-css-properties' => 'background-color',
        'target-selector' => '.serp-preview' }

    = css.label :search_button_background_color, 'Button Background Color'
    = color_picker_component css, :search_button_background_color, @site.css_property_hash,
      { 'target-css-properties' => 'background-color, border-color',
        'target-selector' => '.serp-preview .btn-search, #legacy-preview-font-colors .serp-footer-button, #preview-font-colors .hamburger' }

    = css.label :header_background_color, 'Mobile Header Background Color'
    = color_picker_component css, :header_background_color, @site.css_property_hash,
      { 'target-css-properties' => 'background-color',
        'target-selector' => '#preview-font-colors .serp-header' }

    = css.label :footer_background_color, 'Mobile Footer Background Color'
    = color_picker_component css, :footer_background_color, @site.css_property_hash,
      { 'target-css-properties' => 'background-color',
        'target-selector' => '#preview-font-colors .serp-footer' }

    = css.label :navigation_background_color, 'Mobile Navigation Background Color'
    = color_picker_component css, :navigation_background_color, @site.css_property_hash,
      { 'target-css-properties' => 'background-color',
        'target-selector' => '#preview-font-colors .serp-nav' }

    = css.label :left_tab_text_color, 'Active Navigation Color'
    = color_picker_component css, :left_tab_text_color, @site.css_property_hash,
      { 'target-css-properties' => 'color',
        'target-selector' => '.serp-preview .serp-nav-item-active' }

    = css.label :navigation_link_color, 'Mobile Navigation Link Color'
    = color_picker_component css, :navigation_link_color, @site.css_property_hash,
      { 'target-css-properties' => 'color',
        'target-selector' => '#preview-font-colors .serp-nav-item-link' }

    = css.label :content_background_color, 'Desktop Content Background Color'
    = color_picker_component css, :content_background_color, @site.css_property_hash,
      { 'target-css-properties' => 'background-color',
        'target-selector' => '#legacy-preview-font-colors .serp-content' }

    = css.label :show_content_border, class: 'checkbox' do
      = css.check_box :show_content_border,
        { checked: @site.show_content_border?,
          data: { 'target-selector' => '#legacy-preview-font-colors .serp-content' } }
      Show Desktop Content Border

    = css.label :content_border_color, 'Desktop Content Border Color'
    = color_picker_component css, :content_border_color, @site.css_property_hash,
      { 'target-css-properties' => 'border-color',
        'target-selector' => '#legacy-preview-font-colors .serp-content' }

    %fieldset
      = css.label :show_content_box_shadow, class: 'checkbox' do
        = css.check_box :show_content_box_shadow, { checked: @site.show_content_box_shadow? }
        Show Desktop Content Box Shadow
      %span.help-block Not supported by IE7/IE8

    = css.label :content_box_shadow_color, 'Desktop Content Box Shadow Color'
    = color_picker_component css, :content_box_shadow_color, @site.css_property_hash,
      { 'target-selector' => '#legacy-preview-font-colors .serp-content' }

    = css.label :search_button_text_color, 'Desktop Icon Color'
    = color_picker_component css, :search_button_text_color, @site.css_property_hash,
      { 'target-css-properties' => 'border-top-color',
        'target-selector' => '#legacy-preview-font-colors .serp-footer-button .caret' }

    = css.label :title_link_color, 'Link Color'
    = color_picker_component css, :title_link_color, @site.css_property_hash,
      { 'target-css-properties' => 'color',
        'target-selector' => '#legacy-preview-font-colors .serp-sidebar-item, .serp-preview .serp-result-title' }

    = css.label :visited_title_link_color, 'Visited Link Color'
    = color_picker_component css, :visited_title_link_color, @site.css_property_hash,
      { 'target-css-properties' => 'color',
        'target-selector' => '.serp-preview .serp-result-title-visited' }

    = css.label :url_link_color, 'Result URL Color'
    = color_picker_component css, :url_link_color, @site.css_property_hash,
      { 'target-css-properties' => 'color',
        'target-selector' => '.serp-preview .serp-result-url' }

    = css.label :description_text_color, 'Description Text Color'
    = color_picker_component css, :description_text_color, @site.css_property_hash,
      { 'target-css-properties' => 'color',
        'target-selector' => '.serp-preview .serp-result-description' }
