= content_for_site_page_title @site, "#{@best_bets_drill_down.module_name} Drilldown"
.sub-nav-heading
  %h2= "#{@best_bets_drill_down.module_name} Drilldown for Current Month"
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page

%h3 Impressions and Clicks by Best Bet
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Impressions
      %th Clicks
      %th CTR
  %tbody
    - @best_bets_drill_down.search_module_stats.each do |model_id, stat|
      %tr
        %td
          = stat[:model].title
          = best_bet_edit_link(@site, stat[:model])
        %td
          = number_with_delimiter(stat[:impression_count])
          = link_to "(drill down)", site_best_bet_queries_path(@site.id, {model_id: model_id, module_tag: params['module_tag']})
        %td= number_with_delimiter(stat[:click_count])
        %td= number_to_percentage(stat[:clickthru_ratio], :precision => 1)