%li
  = form.label :email
  = form.text_field :email, :class => 'txt'
%li
  = form.label :password
  = form.password_field :password, :class => 'txt'
%li.fLeft
  = form.submit 'Login', :class => 'submit btn-login'
