.wraptitleBox
  .titleBox
    %h1.title 
      Sign In to Use Our Services
    %p
      Access to our Affiliate Program, APIs, and web services requires authentication. Log in, or register for a new account below.
.columnLft
  %h2
    Log In
  %p
    Already have a USASearch account? Log in with your email address and password below.
  .clear
  - form_for @user_session, :url => user_session_path  do |f|
    = f.error_messages(:header_message => nil, :class => "error")
    %ul
      = render :partial => '/user_sessions/form', :object => f
      %li.fLeft
        = link_to "Forgot your password?", new_password_reset_path
    .clear
.columnRt
  %h2
    Register for a New Account
  .wrapRegisterbox
    .registerboxTop
      &nbsp;
    .registerboxMid
      - form_for @user, :url => account_path do |f|
        = f.error_messages(:header_message => nil, :class => "error")
        %ul
          = render :partial => "/users/new_form", :object => f
        %h3
          Select one:
        .wrapBox
          = f.radio_button :government_affiliation, "1", :class => 'zradio'
          = f.label :government_affiliation_1, "I am a government employee or contractor."
        .wrapBox
          = f.radio_button :government_affiliation, "0", :class => 'zradio'
          = f.label :government_affiliation_0, "I am not affiliated with a government agency."
        = f.submit "Register for a new account", :class => 'btn-register submit'
    .registerboxBot
      &nbsp;
