.span-12
  .content-box.analytics
    = form_tag(admin_monthly_reports_path, :method => :get) do
      %ul
        %li
          = label_tag :monthly_report_affiliate_pick, "Affiliate"
          = select nil, :affiliate_pick, @affiliate_picklist, {:include_blank => 'All affiliates', :selected=> @affiliate_pick}, {:id=>"Affiliate"}
        %li
          = label_tag :monthly_report_date, "Report Date"
          = select_date @report_date, { :discard_day => true, :start_year => 2010, :end_year => @most_recent_date.year }
        %li
          = submit_tag "Submit"

.span-24
  %h3= "Monthly Usage Stats for #{Date::MONTHNAMES[@report_date.month.to_i]} #{@report_date.year}"
  .usage_stats
    %ul
      %li
        Total Queries: #{number_with_delimiter @monthly_totals }
      %li
        Total Click Throughs: #{number_with_delimiter @total_clicks }
  %p
    = affiliate_analytics_monthly_report_link(@affiliate_report_name, @report_date)
  #chart
    = render_chart(@chart, 'chart')
