= content_for_site_page_title @site, 'Instagram'
.sub-nav-heading
  %h2 Instagram

= render_flash_message
%table.table.table-no-header
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= link_to profile.username, "http://instagram.com/#{profile.username}", target: '_blank'
        %td.actions
          %ul
            %li= button_to 'Remove', site_instagram_username_path(@site, profile.id), method: :delete, data: { confirm: "Are you sure you wish to remove #{profile.username} from this site?" }, class: 'btn btn-small'
