= content_for_site_page_title @site, 'Filter URLs'
.sub-nav-heading
  %h2 Filter URLs
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page
      %li= link_to 'Add Filter URL', new_site_filter_url_path(@site)

= render_flash_message
%table.table.table-no-header
  %tbody
    - @excluded_urls.each do |excluded_url|
      %tr
        %td= link_to UrlParser.strip_http_protocols(excluded_url.url), excluded_url.url, target: '_blank'
        %td.actions.actions-1x
          %ul
            %li
              = button_to_delete_form 'Remove', site_filter_url_path(@site, excluded_url.id), "Are you sure you wish to remove #{UrlParser.strip_http_protocols(excluded_url.url)} from this site?"
= will_paginate @excluded_urls, renderer: BootstrapPagination::Rails
