= content_for_site_page_title @site, 'Queries from a Referring URL'
.sub-nav-heading
  %h2 Queries from a Referring URL
  .action-bar
    %ul

%h3= "Top Queries from #{@url} from #{@start_date} to #{@end_date}"

%table.table.table-striped.table-bordered.table-kv-pairs
  %thead
    %tr
      %th Top Queries from this URL
      %th # of Queries from this Page
      %th View All Referring URLs for this Query
  %tbody
    - @top_queries.each_with_index do |(query, total), idx|
      %tr
        %td
          = "#{idx+1}. #{query}"
        %td= number_with_delimiter(total)
        %td= link_to "View All Referrers for this Query", site_query_referrers_path(@site,
          {:query => query, :start_date => @start_date, :end_date => @end_date})
