!!!strict
%html{html_attrs('en-us')}
  %head
    %title
      = @title
      = yield :title
      USASearch
    = favicon_link_tag
    = csrf_meta_tags
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %meta{:name=>"description", :content=>'The USASearch Affiliate Program provides free hosted search services for any federal, state, local, tribal, or territorial government agency.'}
    %meta{:name=>'keywords', :content=>'Affiliate Program, Firstgov search, first gov search, USASearch, USA Search, USAGovSearch, USA gov search, USAGovSearch, USA gov search, hosted search, government images, government recalls, government web, government websites, USA, US, United States, US Government, u.s. government, federal, state, local, tribal, territorial, territories'}
    = stylesheet_link_tag 'compiled/main.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/new_main.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'jquery-ui/jquery-ui.custom.css'
    = stylesheet_link_tag 'jqtree.css'
    = (javascript_include_tag "jquery/jquery.min.js").html_safe
    = (javascript_include_tag "jquery/jquery-ui.custom.min.js").html_safe
    - if @affiliate and @affiliate.is_sayt_enabled?
      = javascript_tag %{var usagov_sayt_url = "#{sayt_url(:aid => @affiliate.id)}&";}
      = (javascript_include_tag "sayt-ui.js").html_safe
      = stylesheet_link_tag 'compiled/sayt.css'
    != javascript_include_tag "jquery/jquery.popup.js"
    != javascript_include_tag "jquery/jquery.tablednd_0_5.js"
    = (javascript_include_tag "tree.jquery.js").html_safe
    :javascript
      jQuery.noConflict();
    = javascript_include_tag "prototype.js"
    = javascript_include_tag "effects.js"
    = javascript_include_tag "dragdrop.js"
    = javascript_include_tag "controls.js"
    = javascript_include_tag "rails.js"
    = javascript_include_tag "application.js"
    = (javascript_include_tag "affiliates.js").html_safe
    = (javascript_include_tag "admin_affiliates_shared.js").html_safe
    != javascript_include_tag "analytics.js"
    = calendar_date_select_includes.html_safe
    = (javascript_include_tag "jscolor/jscolor.js").html_safe
    = javascript_include_tag "https://www.google.com/jsapi"
    = yield :head
  %body
    #skiplink
      %a{:href => "#content"} Skip to Main Content
    = render "/shared/program_header"
    .outer-container
      .inner-container
        - if current_user_is?( :affiliate )
          = render "/shared/affiliate_sidebar"
        .content
          .container
            .main
              .admin-content
                .span-18.append-3
                  #{show_flash_messages.html_safe}
                .clear
                = yield
    = render "/shared/program_footer"
