!!!strict
%html{html_attrs('en-us')}
  %head
    %title Super Admin
    = favicon_link_tag
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = stylesheet_link_tag 'compiled/main.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/new_main.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = (javascript_include_tag "jquery/jquery.min.js").html_safe
    = (javascript_include_tag "jquery/jquery-ui.custom.min.js").html_safe
    = (javascript_include_tag "jquery/jquery.dropdownPlain.js").html_safe
    != javascript_include_tag "jquery/jquery.tablednd_0_5.js"
    = (javascript_include_tag "admin_affiliates_shared.js").html_safe
    :javascript
      jQuery.noConflict();
    = javascript_include_tag "prototype.js"
    = javascript_include_tag "effects.js"
    = javascript_include_tag "dragdrop.js"
    = javascript_include_tag "controls.js"
    = javascript_include_tag "rails.js"
    = javascript_include_tag "application.js"
    = (javascript_include_tag "rails-ext.js").html_safe
    /[if IE]
      = (javascript_include_tag "iepngfix_tilebg.js").html_safe
    = javascript_include_tag "active_scaffold/default/active_scaffold.js"
    = javascript_include_tag "active_scaffold/default/rico_corner.js"
    = javascript_include_tag "active_scaffold/default/form_enhancements.js"
    = javascript_include_tag "active_scaffold/default/dhtml_history.js"
    = javascript_include_tag "calendar_date_select/calendar_date_select.js"
    = javascript_include_tag "calendar_date_select/format_american.js"
    = stylesheet_link_tag 'active_scaffold/default/stylesheet.css'
    = stylesheet_link_tag 'active_scaffold/default/export-stylesheet.css'
    = stylesheet_link_tag 'calendar_date_select/default.css'
    /[if IE]
      = stylesheet_link_tag 'active_scaffold/default/stylesheet-ie.css'
      = stylesheet_link_tag 'active_scaffold/default/export-stylesheet-ie.css'
    = stylesheet_link_tag 'compiled/active_scaffold_overrides.css', :media => 'screen'

  %body
    = render "/shared/program_header"
    .outer-container
      .inner-container
        .container
          .span-24.main
            - if @page_title.nil? and active_scaffold_config.nil?
              = breadcrumbs(["Super Admin"])
            - elsif @parent_page_title.present? and @page_title.present?
              = breadcrumbs([link_to("Super Admin", admin_home_page_path), link_to(@parent_page_title, { :action => :index }), @page_title])
            - else
              = breadcrumbs([link_to("Super Admin", admin_home_page_path), @page_title || active_scaffold_config.label])
            .span-10.prepend-7.append-7= show_flash_messages
            .clear
            = yield
