!!!strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => @affiliate.locale.to_sym, :lang => @affiliate.locale.to_sym}
  %head
    %title
      #{@affiliate.display_name} #{t(:mobile)}
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = render_robots_meta_tag
    %meta{:name => "viewport", :content => "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0"}/
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/
    %meta{:name => "format-detection", :content => "telephone=no" }/
    - if @affiliate.uses_one_serp?
      = stylesheet_link_tag 'compiled/affiliates/one_serp_mobile.css'
    - else
      = stylesheet_link_tag 'compiled/affiliates/default_mobile.css'
    = render(:partial => 'searches/affiliate_css_overrides', :locals => { :css_property_hash => @affiliate.css_property_hash }) if @affiliate.uses_one_serp?

    != javascript_include_tag "jquery/jquery.min.js"
    - if @affiliate.is_sayt_enabled?
      = javascript_tag "var usagov_sayt_url = \"#{sayt_url(:aid => @affiliate.id)}&\";"
      != javascript_include_tag "jquery/jquery-ui.custom.min.js"
      != javascript_include_tag "sayt-ui.js"
    != javascript_include_tag "application"
    != javascript_include_tag "application.mobile"
    != javascript_include_tag "/m/j/close.js"

  %body
    #container
      #contentWrapper
        %h1.page-title #{@affiliate.display_name} #{t(:mobile)}
        = yield
    = render "/shared/webtrends_affiliates" unless @affiliate.exclude_webtrends?
    = render "/shared/affiliate_custom_webtrends" if @affiliate.has_custom_webtrends_properties?
    = render "/shared/affiliate_custom_google_analytics" if @affiliate.ga_web_property_id.present?
