!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => @affiliate.locale.to_sym, :lang => @affiliate.locale.to_sym }
  %head
    = attribution
    = favicon_link_tag @affiliate.favicon_url.blank? ? '/favicon_affiliate.ico' : @affiliate.favicon_url
    = render_robots_meta_tag
    = (javascript_include_tag "jquery/jquery.min.js").html_safe
    = stylesheet_link_tag 'compiled/advanced.css'
    = stylesheet_link_tag 'compiled/affiliates/one_serp'

    - if @affiliate.is_sayt_enabled? or (@search && @search.is_a?(NewsSearch))
      = stylesheet_link_tag 'jquery-ui/jquery-ui.custom.css'
      = (javascript_include_tag "jquery/jquery-ui.custom.min.js").html_safe
      = (javascript_include_tag "jquery/jquery.tools.expose.min.js").html_safe
      = (javascript_include_tag "jquery/jquery.tools.overlay.min.js").html_safe

    - if @affiliate.is_sayt_enabled?
      = stylesheet_link_tag 'compiled/sayt.css'
      = javascript_tag "var usagov_sayt_url = \"#{sayt_url(:aid => @affiliate.id, :extras => true)}&\";"
      = (javascript_include_tag "sayt-ui.js").html_safe

    = (javascript_include_tag "application.js").html_safe
    - if @search_options and @search_options[:embedded]
      = (javascript_include_tag "easyXDM/easyXDM.min.js").html_safe
      = (javascript_include_tag "jquery/jquery.targettop.js").html_safe
      = (javascript_include_tag "affiliates.embedded.js").html_safe
    - if @search
      = (javascript_include_tag "jquery/jquery.infinitescroll.min.js").html_safe
      = (javascript_include_tag 'affiliates.infinitescroll.js').html_safe
    - unless @affiliate.nested_header_footer_css.blank?
      :css
        #{@affiliate.nested_header_footer_css}
    = render(:partial => 'searches/affiliate_css_overrides',
        :locals => { :css_property_hash => @affiliate.css_property_hash,
                     :managed_header_css_properties => @affiliate.managed_header_css_properties })
    = stylesheet_link_tag "#{@affiliate.external_css_url}" unless @affiliate.external_css_url.blank?
    /[if IE]
      = (javascript_include_tag "iepngfix_tilebg.js").html_safe
    /[if IE 7]
      = stylesheet_link_tag 'compiled/ie7.css'


    %title= @page_title
  %body{ :class => render_affiliate_body_class(@affiliate), :style => render_affiliate_body_style(@affiliate) }
    #skiplink
      %a{:href => "#main_content"} Skip to Main Content
    #container
      = render_affiliate_header(@affiliate, @search_options)
      #search
        -unless error_page?
          %h1 Search
        - unless @affiliate.connections.blank?
          .connections-wrapper
            .connections
              = render_connected_affiliate_links @affiliate, @search ? @search.query : ''
        = yield
      = render_affiliate_footer(@affiliate, @search_options)
    = render :partial => '/shared/analytics'
