!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    - if @affiliate
      = stylesheet_link_tag 'compiled/advanced.css'
      = stylesheet_link_tag "compiled/affiliates/#{@affiliate.template.stylesheet}"
      /[if lt IE 8]
        = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
      = stylesheet_link_tag "clearfix"
    = javascript_include_tag :defaults

    %title= @page_title
  %body
    #container
      #header= @affiliate.header if @affiliate
      #search.clearfix
        %h1 Search
        = yield
      #footer= @affiliate.footer if @affiliate
  = render "/shared/webtrends_affiliates"
