!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => I18n.locale, :lang => I18n.locale }
  %head
    = favicon_link_tag @affiliate.favicon_url.blank? ? '/favicon.ico' : @affiliate.favicon_url
    = render_robots_meta_tag
    = (javascript_include_tag "jquery/jquery.min.js").html_safe
    = stylesheet_link_tag 'compiled/advanced.css'
    = stylesheet_link_tag "compiled/affiliates/#{@affiliate.affiliate_template.stylesheet}"
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag "clearfix"
    - if @affiliate.is_sayt_enabled
      = stylesheet_link_tag 'jquery-ui/jquery-ui.custom.css'
      = stylesheet_link_tag 'compiled/sayt.css'
      = javascript_tag "var usagov_sayt_url = \"#{sayt_url(:aid => @affiliate.id)}&\";"
      = (javascript_include_tag "jquery/jquery-ui.custom.min.js").html_safe
      = (javascript_include_tag "sayt-ui.js").html_safe
    = (javascript_include_tag "application.js").html_safe
    - if @search_options and @search_options[:embedded]
      = (javascript_include_tag "easyXDM/easyXDM.min.js").html_safe
      = (javascript_include_tag "jquery/jquery.targettop.js").html_safe
      = (javascript_include_tag "affiliates.embedded.js").html_safe
    = stylesheet_link_tag "#{@affiliate.external_css_url}" unless @affiliate.external_css_url.blank?

    %title= @page_title
  %body{ :class => "#{@affiliate.affiliate_template.stylesheet} #{I18n.locale}" }
    #container
      #header= @affiliate.header.html_safe if @affiliate and @affiliate.header and (@search_options.nil? or !@search_options[:embedded])
      #search.clearfix
        -unless error_page?
          %h1 Search
        = yield
      #footer= @affiliate.footer.html_safe if @affiliate and @affiliate.footer and (@search_options.nil? or !@search_options[:embedded])
    = render "/shared/webtrends_affiliates" unless @affiliate.exclude_webtrends?
