!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => @affiliate.locale.to_sym, :lang => @affiliate.locale.to_sym }
  %head
    = favicon_link_tag @affiliate.favicon_url.blank? ? '/favicon_affiliate.ico' : @affiliate.favicon_url
    = render_robots_meta_tag
    = (javascript_include_tag "jquery/jquery.min.js").html_safe
    = stylesheet_link_tag 'compiled/advanced.css'
    = render_affiliate_stylesheet @affiliate
    - unless @affiliate.uses_one_serp?
      /[if lt IE 8]
        = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
      = stylesheet_link_tag "clearfix"
    - if @affiliate.is_sayt_enabled?
      = stylesheet_link_tag 'jquery-ui/jquery-ui.custom.css'
      = stylesheet_link_tag 'compiled/sayt.css'
      = javascript_tag "var usagov_sayt_url = \"#{sayt_url(:aid => @affiliate.id)}&\";"

      = (javascript_include_tag "jquery/jquery-ui.custom.min.js").html_safe
      = (javascript_include_tag "sayt-ui.js").html_safe
    = (javascript_include_tag "application.js").html_safe
    - if @search_options and @search_options[:embedded]
      = (javascript_include_tag "easyXDM/easyXDM.min.js").html_safe
      = (javascript_include_tag "jquery/jquery.targettop.js").html_safe
      = (javascript_include_tag "affiliates.embedded.js").html_safe
    = render(:partial => 'searches/affiliate_nested_css', :locals => { :affiliate => @affiliate }) unless @affiliate.header_footer_sass.blank?
    = render(:partial => 'searches/affiliate_css_overrides',
        :locals => { :css_property_hash => @affiliate.css_property_hash,
                     :managed_header_css_properties => @affiliate.managed_header_css_properties }) if @affiliate.uses_one_serp?
    = stylesheet_link_tag "#{@affiliate.external_css_url}" unless @affiliate.external_css_url.blank?
    /[if IE]
      = (javascript_include_tag "iepngfix_tilebg.js").html_safe

    %title= @page_title
  %body{ :class => render_affiliate_body_class(@affiliate), :style => render_affiliate_body_style(@affiliate) }
    #container
      = render_affiliate_header(@affiliate, @search_options)
      #search.clearfix
        -unless error_page?
          %h1 Search
        - unless @affiliate.connections.blank?
          .connections-wrapper
            .connections
              = render_connected_affiliate_links @affiliate, @search ? @search.query : ''
        = yield
      = render_affiliate_footer(@affiliate, @search_options)
    = render "/shared/webtrends_affiliates" unless @affiliate.exclude_webtrends?
    = render "/shared/affiliate_custom_webtrends" if @affiliate.has_custom_webtrends_properties?
    = render "/shared/affiliate_custom_google_analytics" if @affiliate.ga_web_property_id.present?
