!!!strict
%html
  %head
    %title= h build_page_title(@page_title)
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/base.css'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'compiled/advanced.css'
    = stylesheet_link_tag 'compiled/sayt.css'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_tag "var usagov_sayt_url = \"#{root_url}sayt\";"
    = javascript_include_tag "jquery/jquery-1.4.2.min.js"
    = javascript_include_tag "jquery/jquery.bgiframe.min.js"
    = javascript_include_tag "jquery/jquery.autocomplete.min.js"
    = javascript_include_tag "sayt.js"
    = javascript_include_tag "application.js"

  %body
    .container
      %a.hidden{:href => "#content"} skip navigation
      .span-24.header-wrap
        .header
          = header_links
      .span-24.main-wrap
        .main
          #need-larger-text= link_to((t :need_larger_text), page_path(:id => 'textsize'), :locale => other_locale_str)
          = yield
      .span-24.footer-wrap
        .footer
          = footer_links
    = render_webtrends_code
