!!!strict
%html
  %head
    %title= "USA Search"
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = stylesheet_link_tag 'mobile.css'
    - if is_device? 'iphone'
      %meta{:name => "viewport", :content => "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0"}
      %meta{:name => "apple-mobile-web-app-capable", :content => "YES"}
      = javascript_include_tag :defaults
    - else
      %meta{:name => "MobileOptimized", :content => "175"}

  %body
    = yield
    .group
      .row.center
        = link_to_mobile_mode("USA.gov’s Full Website", "override")
        |
        = link_to "Privacy", "http://www.usa.gov/About/Privacy_Security.shtml"
        |
        = link_to "Feedback", "http://www.usa.gov/Contact_Us.shtml"
        |
        = link_to "Terms of Use", "http://www.usa.gov/About/Important_Notices.shtml"
