!!!strict
%html
  %head
    %title 
      USA Search 
      = @title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = stylesheet_link_tag 'mobile.css'
    - if is_device? 'iphone'
      %meta{:name => "viewport", :content => "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0"}
      %meta{:name => "apple-mobile-web-app-capable", :content => "YES"}
      %meta{:name => "format-detection" :content => "telephone=no"}
      = javascript_include_tag :defaults
      = javascript_include_tag "/m/j/close"
    - else
      %meta{:name => "MobileOptimized", :content => "175"}
  %body{:onload => "setTimeout(function() { window.scrollTo(0, 1) }, 100);"}
  #container
    #contentWrapper
      = yield
    

