!!!strict
%html
  %head
    %title= "USA Search"
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = stylesheet_link_tag 'mobile.css'
    - if is_device? 'iphone'
      %meta{:name => "viewport", :content => "width = device-width, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0"}
      %meta{:name => "apple-mobile-web-app-capable", :content => "YES"}
      %meta{:name => "format-detection" :content => "telephone=no"}
      = javascript_include_tag :defaults
    - else
      %meta{:name => "MobileOptimized", :content => "175"}

  %body{:onload => "setTimeout(function() { window.scrollTo(0, 1) }, 100);"}
  #container
    #contentWrapper
      = yield
      .mobileFooter
        View site in: 
        = link_to_mobile_mode("Classic", "override")
        |
        Mobile

