!!!strict
%html{html_attrs('en-us')}
  %head
    %title USASearch
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/base.css'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag :defaults

  %body
    .container
      .span-24.header
        = link_to "USA.gov", "http://usa.gov"
        |
        = link_to "GobiernoUSA.gov", "http://GobiernoUSA.gov"
        |
        = link_to "Email USA.gov", "http://www.usa.gov/questions"
      .span-24.main
        /= show_flash_messages
        = yield
      .span-14.prepend-5.append-5.footer
        = link_to "Home","http://www.usa.gov/index.shtml"
        |
        = link_to "About Us","http://www.usa.gov/About.shtml"
        |
        = link_to "Contact Us","http://www.usa.gov/Contact_Us.shtml"
        |
        = link_to "Contact Government","http://www.usa.gov/Contact/Elected.shtml"
        |
        = link_to "FAQs","http://www.usa.gov/Contact/Faq.shtml"
        |
        = link_to "Website Policies","http://www.usa.gov/About/Important_Notices.shtml"
        |
        = link_to "Privacy","http://www.usa.gov/About/Privacy_Security.shtml"
        |
        = link_to "Suggest-A-Link","http://www.usa.gov/feedback/SuggestLinkForm.jsp"
        |
        = link_to "Link to Us","http://www.usa.gov/About/FirstGov_Logos.shtml"
