!!!strict
%html
  %head
    %title= "#{@page_title} - USASearch"
    = favicon_link_tag
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = render_robots_meta_tag
    = stylesheet_link_tag 'compiled/main.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/new_main.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'jquery-ui/jquery-ui.custom.css'
    = stylesheet_link_tag 'compiled/sayt.css'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_tag "var usagov_sayt_url = \"#{sayt_url}&\";"
    = (javascript_include_tag "jquery/jquery.min.js").html_safe
    = (javascript_include_tag "jquery/jquery-ui.custom.min.js").html_safe
    = (javascript_include_tag "jquery/jquery.dropdownPlain.js").html_safe
    = (javascript_include_tag "sayt-ui.js").html_safe
    :javascript
      jQuery.noConflict();
    = javascript_include_tag "prototype.js"
    = javascript_include_tag "effects.js"
    = javascript_include_tag "dragdrop.js"
    = javascript_include_tag "controls.js"
    = javascript_include_tag "rails.js"
    = javascript_include_tag "application.js"
    /[if IE]
      = (javascript_include_tag "iepngfix_tilebg.js").html_safe
    = (javascript_include_tag "affiliates.js").html_safe
  %body
    #skiplink
      %a{:href => "#content"} Skip to Main Content
    = render "/shared/program_header"
    .outer-container
      .inner-container
        - if current_user_is?(:affiliate)
          = render "/shared/affiliate_sidebar"
        .content
          .container
            .main
              .admin-content
                .span-18.append-3= show_flash_messages
                .clear
                = yield
            %br
    = render "/shared/program_footer"
    = render_webtrends_code
