!!!strict
%html{ html_class_hash(@search.affiliate.language) }
  %head
    = attribution

    :javascript
      window.dataLayer = window.dataLayer || [];
      dataLayer.push({"SERP_version": "version_2024", "site_id": "#{@affiliate.id}"});
    = render "/shared/google_tag_manager_script"

    = render "/shared/affiliate_google_analytics"
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'referrer', content: 'no-referrer-when-downgrade' }
    = render_robots_meta_tag
    = favicon_link_tag favicon_url(@search.affiliate.favicon_url)

    %title #{@page_title}

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    #serp-main-content= yield
    = render "/shared/google_tag_manager_noscript"
    = raw @affiliate.external_tracking_code
