!!!strict
%html{ lang: @affiliate.locale }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge' }
    = render_robots_meta_tag
    = attribution
    = favicon_link_tag @affiliate.favicon_url.blank? ? '/favicon_affiliate.ico' : @affiliate.favicon_url

    %title #{@page_title}

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Maven+Pro:400,700'
    = stylesheet_link_tag 'searches_mobile'
    /[if IE]
      = stylesheet_link_tag 'searches_mobile_ie'
    :css
      #{@affiliate.mobile_look_and_feel_css}
    /[if lt IE 9]
      = javascript_include_tag 'searches_ie_lt9'

  %body
    %a#skiplink{ href: '#main-content' }= t 'searches.skip_to_main_content'
    #header-wrapper
      - navigations = renderable_navigations(@affiliate)
      #header
        = render(partial: 'nav_button') if navigations.present?
        = mobile_header @affiliate
        = render partial: 'form', locals: { search: @search }
        = navigations_and_logo(@search, @search_params, navigations)
    #typeahead-backdrop

    #main-content= yield

    = javascript_include_tag 'searches_mobile'

    = render partial: 'usasearch_serp_analytics'
    = render partial: 'shared/analytics'
    = render partial: '/shared/tracking'
