!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => @affiliate.locale.to_sym, :lang => @affiliate.locale.to_sym }
  %head
    = attribution
    = favicon_link_tag @affiliate.favicon_url.blank? ? '/favicon_affiliate.ico' : @affiliate.favicon_url
    = render_robots_meta_tag
    = stylesheet_link_tag 'searches'
    - unless @affiliate.nested_header_footer_css.blank?
      :css
        #{sanitize @affiliate.nested_header_footer_css}
    :css
      #{sanitize @affiliate.look_and_feel_css}
    /[if IE 7]
      = stylesheet_link_tag 'searches_ie7'
    = stylesheet_link_tag "#{@affiliate.external_css_url}" unless @affiliate.external_css_url.blank?
    %title= @page_title
  %body
    #skiplink
      %a{:href => "#main_content"} Skip to Main Content
    #container
      #search
        %h1 Search
        - unless @affiliate.connections.blank?
          .connections-wrapper
            .connections
              = render_connected_affiliate_links @affiliate, @search ? @search.query : ''
        = yield
      #usasearch_footer_container
        %a#usasearch_footer_button{ title: t(:show_footer) } &#9660;

    - if @affiliate.is_sayt_enabled?
      = javascript_tag "var usagov_sayt_url = \"#{sayt_url(aid: @affiliate.id, extras: true)}&\";"
    = javascript_include_tag 'searches'
    :javascript
      jQuery('#usasearch_footer_button').data('tooltip', { showText: '#{t :show_footer}', hideText: '#{t :hide_footer}' });
    = render :partial => '/shared/analytics'
    = render partial: '/shared/tracking'
