!!!strict
%html{ lang: 'en-US' }
  %head
    %meta{ charset: 'UTF-8' }
    = csrf_meta_tags
    %title
      = yield :title
    = favicon_link_tag
    %meta{ name: 'description', content: 'The USASearch Affiliate Program provides free hosted search services for any federal, state, local, tribal, or territorial government agency.' }
    %meta{ name: 'keywords', content: 'Affiliate Program, Firstgov search, first gov search, USASearch, USA Search, USAGovSearch, USA gov search, USAGovSearch, USA gov search, hosted search, government images, government recalls, government web, government websites, USA, US, United States, US Government, u.s. government, federal, state, local, tribal, territorial, territories' }
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Maven+Pro:400,700'
    = stylesheet_link_tag 'sites'
    /[if IE 7]
      = stylesheet_link_tag 'sites_ie7'
    /[if IE]
      = stylesheet_link_tag 'sites_ie'
    /[if lt IE 9]
      = stylesheet_link_tag 'sites_ie_lt9'

    = javascript_include_tag 'sites'
    /[if lt IE 9]
      = javascript_include_tag 'sites_ie_lt9'
    /[if IE]
      = javascript_include_tag 'sites_ie'
    = javascript_include_tag 'https://www.google.com/jsapi'
    = yield :head
  %body{ data: site_data }
    %a#skiplink{ href: '#main-content' } Skip to Main Content
    = render 'sites/shared/header'
    = render 'sites/shared/site_header'
    .l-main-container
      = render 'sites/shared/site_nav'
      #main-content.l-content{ tabindex: -1 }
        = yield
    #help-doc.modal.fade(data-no-turbolink){ 'aria-hidden' => 'true' }
      .modal-body
        = modal_close_button
        .modal-content
    = javascript_include_tag 'font-awesome-grunticon-rails'
